<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="RenewalWizard_PolicyInfoDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="renewal"
      type="Renewal"/>
    <Variable
      initialValue="new gw.job.AvailableUWCompanies(policyPeriod)"
      name="availableUWCompanies"/>
    <InputColumn>
      <MonetaryAmountInput
        align="right"
        boldLabel="true"
        editable="true"
        formatType="currency"
        id="estimatedPremiumInput"
        label="displaykey.Web.PolicyPeriod.EstimatedPremium"
        value="policyPeriod.EstimatedPremium"
        visible="policyPeriod.Policy.Product.ProductType == TC_COMMERCIAL"/>
      <InputSetRef
        def="AccountInfoInputSet(policyPeriod)"/>
      <InputSetRef
        def="SecondaryNamedInsuredInputSet(policyPeriod)"/>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="PolicyInfoInputSet(policyPeriod, true, false, false)"
        widgets="UWCompanyInputSet"/>
      <InputDivider/>
      <InputSetRef
        def="PolicyInfoProducerOfRecordInputSet(policyPeriod, ProducerStatusUse.TC_RENEWALOKAY)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.Policy.UWCompanies.Name"/>
      <InputSet
        id="UWCompanyInputSet">
        <RangeInput
          editable="perm.System.multicompquote"
          id="UWCompany"
          optionLabel="VALUE.DisplayName"
          value="policyPeriod.UWCompany"
          valueRange="availableUWCompanies.Value"/>
        <ButtonInput
          action="policyPeriod.autoSelectUWCompany()"
          id="AutoSelectUWCompany"
          value="displaykey.Web.Policy.UWCompanies.AutoSelect"
          visible="not perm.System.multicompquote"/>
      </InputSet>
      <BooleanRadioInput
        editable="true"
        id="Bankruptcy"
        label="displaykey.Web.Policy.UWCompanies.Bankruptcy_Ext"
        value="policyPeriod.bankruptcy_Ext"/>
      <BooleanRadioInput
        id="ConsentToRate"
        label="displaykey.Web.Policy.UWCompanies.ConsentToRate_Ext"
        required="true"
        value="policyPeriod.ConsentToRate_Ext"
        visible="policyPeriod.HomeownersLine_HOEExists and policyPeriod.BaseState==typekey.Jurisdiction.TC_NC"/>
      <BooleanRadioInput
        editable="true"
        id="riskIndicator"
        label="displaykey.Web.Policy.UWCompanies.RiskIndicator_Ext"
        required="true"
        value="policyPeriod.RiskIndicator_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="Reinsurance_Ext"
        label="displaykey.Web.Policy.UWCompanies.Reinsurance_Ext"
        required="true"
        value="policyPeriod.Reinsurance_Ext"/>
      <InputDivider/>
      <InputSetRef
        def="PreferredCurrencyInputSet(policyPeriod)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>