<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="HOBaseCostHOELV"
    mode="DP2">
    <Require
      name="line"
      type="HomeownersLine_HOE"/>
    <Variable
      initialValue="line.VersionList.HomeownersCosts.where(\ cvl -&gt; cvl.AllVersions.first() typeis HomeownersBaseCost_HOE).flatMap(\ h -&gt; h.AllVersions)"
      name="costs"/>
    <Variable
      initialValue="costs.AnyProrated"
      name="proRated"/>
    <RowSetRef
      def="HOBaseCostCommonHOERowSet(line, costs, proRated)"/>
    <Row>
      <TextCell
        id="SectionIDescription"
        value="gw.api.web.HtmlUtil.indent(line.Pattern.getCoverageCategory(&quot;HODW_SectionI_HOE&quot;).DisplayName, ScriptParameters.HOQuoteLevel1Indent)"/>
      <Cell
        id="SectionIValue"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionITermAmount"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIEffDate"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIExpDate"
        visible="proRated"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionIProration"
        visible="proRated"/>
      <Cell
        id="SectionIPremium"/>
    </Row>
    <RowSetRef
      def="HOBaseCostWithValueHOERowSet(line.Dwelling.DPDW_Dwelling_Cov_HOE, &quot;DPDW_Dwelling_Limit_HOE&quot;, proRated)"
      id="DwellingCovRows"/>
    <RowSetRef
      def="HOBaseCostWithDefaultHOERowSet(line.Dwelling.DPDW_Other_Structures_HOE, &quot;DPDW_OtherStructuresLimit_HOE&quot;, proRated)"
      id="OtherStructuresCovRows"/>
    <RowSetRef
      def="HOBaseCostWithDefaultHOERowSet(line.Dwelling.DPDW_Personal_Property_HOE, &quot;DPDW_PersonalPropertyLimit_HOE&quot;, proRated)"
      id="PersonalPropertyCovRows"/>
    <RowSetRef
      def="HOBaseCostWithDefaultHOERowSet(line.Dwelling.DPDW_FairRentalValue_Ext, &quot;DPDW_FairRentalValueLimit_Ext&quot;, proRated)"
      id="LossOfUseCovRows"/>
  </ListViewPanel>
</PCF>