<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <RowSet
    id="HOBaseCostCommonHOERowSet">
    <Require
      name="line"
      type="HomeownersLine_HOE"/>
    <Require
      name="costs"
      type="List&lt;entity.HomeownersCost_HOE&gt;"/>
    <Require
      name="proRated"
      type="boolean"/>
    <RowIterator
      editable="false"
      elementName="cost"
      id="costIterator"
      value="costs.toTypedArray()">
      <Variable
        initialValue="cost.Coverage"
        name="coverage"/>
      <IteratorSort
        sortBy="cost.EffDate"
        sortOrder="1"/>
      <Row>
        <TextCell
          bold="true"
          enableSort="false"
          id="Description"
          label="displaykey.Web.PolicyLine.Coverages.Description"
          value="displaykey.Web.Homeowners.Quote.BasePremium"
          wrap="false"/>
        <Cell
          enableSort="false"
          id="CovTerm"
          label="displaykey.Web.Homeowners.Quote.ValueIncludedInBase"/>
        <Cell
          align="right"
          enableSort="false"
          formatType="currency"
          id="TermAmount"
          label="displaykey.Web.SubmissionWizard.Quote.WC.Amount"
          value="cost.ActualTermAmount"
          visible="proRated"/>
        <DateCell
          align="right"
          enableSort="false"
          id="EffDate"
          label="displaykey.Web.Quote.CumulDetail.Default.PeriodStart"
          value="cost.EffDate"
          visible="proRated"/>
        <DateCell
          align="right"
          enableSort="false"
          id="ExpDate"
          label="displaykey.Web.Quote.CumulDetail.Default.PeriodEnd"
          value="cost.ExpDate"
          visible="proRated"/>
        <Cell
          align="right"
          enableSort="false"
          id="Proration"
          label="displaykey.Web.SubmissionWizard.Quote.WC.Prorata"
          value="gw.api.util.StringUtil.formatNumber(cost.Proration, &quot;#0.0000&quot;)"
          visible="proRated"/>
        <Cell
          align="right"
          bold="true"
          enableSort="false"
          formatType="currency"
          id="Amount"
          label="displaykey.Web.Policy.BA.Premium"
          value="cost.ActualAmount"/>
      </Row>
    </RowIterator>
    <Row>
      <TextCell
        id="SectionIDedDescription"
        value="gw.api.web.HtmlUtil.indent(line.Pattern.getCoveragePattern(&quot;HODW_SectionI_Ded_HOE&quot;).DisplayName, ScriptParameters.HOQuoteLevel1Indent)"
        wrap="false"/>
      <Cell
        id="SectionIDedValue"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionIDedTermAmount"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIDedEffDate"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIDedExpDate"
        visible="proRated"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionIDedProration"
        visible="proRated"/>
      <Cell
        id="SectionIDedPremium"/>
    </Row>
    <RowIterator
      editable="false"
      elementName="term"
      pageSize="0"
      value="line.Dwelling.HODW_SectionI_Ded_HOE.CovTerms">
      <Row>
        <Cell
          id="cell11"
          value="gw.api.web.HtmlUtil.indent(term.DisplayName, ScriptParameters.HOQuoteLevel2Indent)"
          wrap="false"/>
        <Cell
          align="right"
          id="cell12"
          value="term.DisplayValue"
          wrap="false"/>
        <Cell
          align="right"
          enableSort="false"
          id="DwellingCovTermAmount"
          visible="proRated"/>
        <DateCell
          align="right"
          enableSort="false"
          id="DwellingCovEffDate"
          visible="proRated"/>
        <DateCell
          align="right"
          enableSort="false"
          id="DwellingCovExpDate"
          visible="proRated"/>
        <Cell
          align="right"
          enableSort="false"
          id="DwellingCovProration"
          visible="proRated"/>
        <Cell
          id="cell13"/>
      </Row>
    </RowIterator>
  </RowSet>
</PCF>