<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="HOBaseCostHOELV"
    mode="HO4">
    <Require
      name="line"
      type="HomeownersLine_HOE"/>
    <Variable
      initialValue="una.pageprocess.QuoteScreenPCFController.getPrimaryCosts(line)"
      name="costs"/>
    <Variable
      initialValue="costs.AnyProrated"
      name="proRated"/>
    <RowIterator
      canPick="false"
      editable="false"
      elementName="name"
      id="setionICovIterator"
      value="{line}">
      <Row>
        <TextCell
          bold="true"
          enableSort="false"
          id="SectionIDescription"
          label="displaykey.Web.PolicyLine.Coverages.Description"
          value="gw.api.web.HtmlUtil.indent(line.Pattern.getCoverageCategory(&quot;HODW_SectionI_HOE&quot;).DisplayName, ScriptParameters.HOQuoteLevel1Indent)"/>
        <Cell
          id="SectionIValue"
          label="displaykey.Web.Homeowners.Quote.ValueIncludedInBase"/>
        <Cell
          align="right"
          enableSort="false"
          id="SectionITermAmount"
          visible="proRated"/>
        <DateCell
          align="right"
          enableSort="false"
          id="SectionIEffDate"
          label="displaykey.Web.Quote.CumulDetail.Default.PeriodStart"
          visible="proRated"/>
        <DateCell
          align="right"
          enableSort="false"
          id="SectionIExpDate"
          label="displaykey.Web.Quote.CumulDetail.Default.PeriodEnd"
          visible="proRated"/>
        <Cell
          align="right"
          enableSort="false"
          id="SectionIProration"
          label="displaykey.Web.SubmissionWizard.Quote.WC.Prorata"
          visible="proRated"/>
        <Cell
          id="SectionIPremium"
          label="displaykey.Web.Policy.BA.Premium"/>
      </Row>
    </RowIterator>
    <RowSetRef
      def="HOPrimaryCostRowSet(line.Dwelling.HODW_Personal_Property_HOE)"
      id="PersonalPropertyCovRows"/>
    <RowSetRef
      def="HOPrimaryCostRowSet(line.Dwelling.HODW_Loss_Of_Use_HOE)"
      id="LossOfUseCovRows"/>
    <Row>
      <TextCell
        bold="true"
        id="SectionIIDescription"
        value="gw.api.web.HtmlUtil.indent(line.Pattern.getCoverageCategory(&quot;HODW_SectionII_HOE&quot;).DisplayName, ScriptParameters.HOQuoteLevel1Indent)"/>
      <Cell
        id="SectionIIValue"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionIITermAmount"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIIEffDate"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIIExpDate"
        visible="proRated"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionIIProration"
        visible="proRated"/>
      <Cell
        id="SectionIIPremium"/>
    </Row>
    <RowSetRef
      def="HOPrimaryCostRowSet(line.HOLI_Personal_Liability_HOE)"
      id="PersonalLiabilityCovRows"/>
    <RowSetRef
      def="HOPrimaryCostRowSet(line.HOLI_Med_Pay_HOE)"
      id="MedPayCovRows"/>
    <RowSetRef
      def="HOSectionICostModelRowSet(line.Dwelling.HODW_SectionI_Ded_HOE)"/>
  </ListViewPanel>
</PCF>