<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="HOBaseCostHOELV"
    mode="HO4">
    <Require
      name="line"
      type="HomeownersLine_HOE"/>
    <Variable
      initialValue="line.VersionList.HomeownersCosts.where(\ cvl -&gt; cvl.AllVersions.first() typeis HomeownersBaseCost_HOE).flatMap(\ h -&gt; h.AllVersions)"
      name="costs"/>
    <Variable
      initialValue="costs.AnyProrated"
      name="proRated"/>
    <RowSetRef
      def="HOBaseCostCommonHOERowSet(line, costs, proRated)"/>
    <Row>
      <TextCell
        id="SectionIDescription"
        value="gw.api.web.HtmlUtil.indent(line.Pattern.getCoverageCategory(&quot;HODW_SectionI_HOE&quot;).DisplayName, ScriptParameters.HOQuoteLevel1Indent)"
        wrap="false"/>
      <Cell
        id="SectionIValue"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionITermAmount"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIEffDate"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIExpDate"
        visible="proRated"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionIProration"
        visible="proRated"/>
      <Cell
        id="SectionIPremium"/>
    </Row>
    <RowSetRef
      def="HOBaseCostWithValueHOERowSet(line.Dwelling.HODW_Personal_Property_HOE, &quot;HODW_PersonalPropertyLimit_HOE&quot;, proRated)"
      id="PersonalPropertyCovRows"/>
    <RowSetRef
      def="HOBaseCostWithDefaultHOERowSet(line.Dwelling.HODW_Loss_Of_Use_HOE, &quot;HODW_LossOfUsePropLimit_HOE&quot;, proRated)"
      id="LossOfUseCovRows"/>
    <Row>
      <TextCell
        id="SectionIIDescription"
        value="gw.api.web.HtmlUtil.indent(line.Pattern.getCoverageCategory(&quot;HODW_SectionII_HOE&quot;).DisplayName, ScriptParameters.HOQuoteLevel1Indent)"
        wrap="false"/>
      <Cell
        id="SectionIIValue"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionIITermAmount"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIIEffDate"
        visible="proRated"/>
      <DateCell
        align="right"
        enableSort="false"
        id="SectionIIExpDate"
        visible="proRated"/>
      <Cell
        align="right"
        enableSort="false"
        id="SectionIIProration"
        visible="proRated"/>
      <Cell
        id="SectionIIPremium"/>
    </Row>
    <RowSetRef
      def="HOBaseCostWithDefaultHOERowSet(line.HOLI_Personal_Liability_HOE, &quot;HOLI_Liability_Limit_HOE&quot;, proRated)"
      id="PersonalLiabilityCovRows"/>
    <RowSetRef
      def="HOBaseCostWithDefaultHOERowSet(line.HOLI_Med_Pay_HOE, &quot;HOLI_MedPay_Limit_HOE&quot;, proRated)"
      id="MedPayCovRows"/>
  </ListViewPanel>
</PCF>