<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="HOCoverageInputSet"
    mode="HOSL_OutboardMotorsWatercraft_HOE_Ext">
    <Require
      name="coveragePattern"
      type="gw.api.productmodel.ClausePattern"/>
    <Require
      name="coverable"
      type="Coverable"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="(coverable as HomeownersLine_HOE)"
      name="holine"/>
    <HiddenInput
      id="CovPatternCode"
      value="coveragePattern.CodeIdentifier"/>
    <InputGroup
      allowToggle="coveragePattern.allowToggle(coverable)"
      childrenVisible="coverable.getCoverageConditionOrExclusion(coveragePattern) != null"
      id="CovInputGroup"
      label="coveragePattern.DisplayName"
      onToggle="holine.setCoverageConditionOrExclusionExists(coveragePattern, VALUE)">
      <ListViewInput
        boldLabel="true"
        editable="true"
        id="OutboardMotorWatercraftItemsListLV"
        label="displaykey.Web.Homeowners.HOCoveragesScreen.ScheduledProperty">
        <Toolbar>
          <IteratorButtons
            iterator="ItemsLV"/>
        </Toolbar>
        <ListViewPanel
          editable="openForEdit"
          id="ItemsLV">
          <RowIterator
            editable="true"
            elementName="schedItem"
            toCreateAndAdd="holine.createAndAddHOScheduledItem(coveragePattern.CodeIdentifier)"
            toRemove="holine.HOSL_OutboardMotorsWatercraft_HOE_Ext.removeScheduledItem(schedItem)"
            value="holine.HOSL_OutboardMotorsWatercraft_HOE_Ext.scheduledItem_Ext">
            <Row>
              <Cell
                editable="true"
                id="WatercraftName"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.WatercraftName_Ext"
                required="true"
                value="schedItem.watercraftName"/>
              <TypeKeyCell
                editable="true"
                id="watercraftType"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.WatercraftType_Ext"
                required="true"
                value="schedItem.watercraftType">
                <PostOnChange/>
              </TypeKeyCell>
              <Cell
                editable="true"
                id="WatercraftDesc"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.WatercraftDescription_Ext"
                value="schedItem.watercraftDescription"/>
              <TypeKeyCell
                editable="true"
                id="OverallLength"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.OverallLength_Ext"
                required="true"
                value="schedItem.overallLength"/>
              <RangeCell
                editable="true"
                id="Horsepower"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.Horsepower_Ext"
                required="hpRequired()"
                value="schedItem.horsepower"
                valueRange="schedItem.Branch.BaseState == typekey.Jurisdiction.TC_NC ? typekey.Horsepower_Ext.TF_NCSTATE.TypeKeys:typekey.Horsepower_Ext.TF_OTHERTHANNC.TypeKeys"
                valueVisible="schedItem.watercraftType == typekey.WatercraftType_Ext.TC_MOTORBOAT"/>
              <TypeKeyCell
                editable="true"
                id="SpeedRating"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.SpeedRating_Ext"
                required="true"
                value="schedItem.speedRating"/>
              <Cell
                editable="true"
                id="NavigationPeriod"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.NavPeriod_Ext"
                required="true"
                value="schedItem.navPeriodEachYear"/>
              <DateCell
                editable="true"
                id="Fromdate"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.FromDate_Ext"
                required="true"
                value="schedItem.fromDate"/>
              <DateCell
                editable="true"
                id="todate"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.ToDate_Ext"
                required="true"
                value="schedItem.toDate"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <PostOnChange/>
    </InputGroup>
    <Code><![CDATA[function hpRequired():boolean{
  for (scItem in holine.HOSL_OutboardMotorsWatercraft_HOE_Ext.scheduledItem_Ext)
    if(scItem.watercraftType == typekey.WatercraftType_Ext.TC_MOTORBOAT){
      return true
    }
  return false
}]]></Code>
  </InputSet>
</PCF>