<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="HOCoverageInputSet"
    mode="DPDW_Personal_Property_HOE">
    <Require
      name="coveragePattern"
      type="gw.api.productmodel.ClausePattern"/>
    <Require
      name="coverable"
      type="Coverable"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <HiddenInput
      id="CovPatternCode"
      value="coveragePattern.CodeIdentifier"/>
    <InputGroup
      allowToggle="coveragePattern.allowToggle(coverable)"
      childrenVisible="coverable.getCoverageConditionOrExclusion(coveragePattern) != null"
      id="CovPatternInputGroup"
      label="coveragePattern.DisplayName"
      onToggle="coverable.setCoverageConditionOrExclusionExists(coveragePattern, VALUE)">
      <InputIterator
        elementName="term"
        forceRefreshDespiteChangedEntries="true"
        id="CovTermIterator"
        type="gw.api.domain.covterm.CovTerm"
        value="coverable.getCoverageConditionOrExclusion(coveragePattern).CovTerms.sortBy( \ term -&gt; term.Pattern.Priority )">
        <InputSetRef
          def="CovTermPOCHOEInputSet(term, openForEdit, coverable)"
          mode="term.ValueTypeName"/>
      </InputIterator>
      <PostOnChange/>
    </InputGroup>
  </InputSet>
</PCF>