<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="HOCostHOEDV">
    <Require
      name="costs"
      type="java.util.List&lt;HomeownersCost_HOE&gt;"/>
    <Variable
      initialValue="costs.AnyProrated"
      name="proRated"
      type="boolean"/>
    <InputColumn>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          available="true"
          id="HOCostLV">
          <RowIterator
            editable="false"
            elementName="group"
            value="gw.lob.ho.rating.QuotePageUtil_HOE.getStructuredData(costs).toTypedArray()">
            <Variable
              initialValue="group.Coverage"
              name="coverage"/>
            <Variable
              initialValue="group.Details"
              name="lineData"/>
            <Variable
              initialValue="group.Cost"
              name="cost"/>
            <IteratorSort
              sortBy="group.Coverage.DisplayName"
              sortOrder="1"/>
            <IteratorSort
              sortBy="group.TotalCost"
              sortDirection="descending"
              sortOrder="2"/>
            <Row
              id="covLevelCost">
              <TextCell
                bold="true"
                enableSort="false"
                footerLabel="displaykey.Web.Policy.BA.Subtotal"
                id="Description"
                label="displaykey.Web.PolicyLine.Coverages.Description"
                value="cost != null ? cost : group.Coverage.DisplayName//gw.lob.ho.rating.QuotePageUtil_HOE.getCoverageNameForAdditionalCov(coverage.Pattern as String)"/>
              <Cell
                align="right"
                enableSort="false"
                id="CovTerm"
                label="displaykey.Web.Homeowners.Quote.CovTermPolicyValue"/>
              <Cell
                align="right"
                enableSort="false"
                formatType="currency"
                id="TermAmount"
                label="displaykey.Web.SubmissionWizard.Quote.WC.Amount"
                value="group.LowLevelCost ? null : group.Cost.ActualTermAmount"
                visible="proRated"/>
              <DateCell
                align="right"
                enableSort="false"
                id="EffDate"
                label="displaykey.Web.Quote.CumulDetail.Default.PeriodStart"
                value="group.LowLevelCost ? null : cost.EffDate"
                visible="proRated"/>
              <DateCell
                align="right"
                enableSort="false"
                id="ExpDate"
                label="displaykey.Web.Quote.CumulDetail.Default.PeriodEnd"
                value="group.LowLevelCost ? null : cost.ExpDate"
                visible="proRated"/>
              <Cell
                align="right"
                enableSort="false"
                id="Proration"
                label="displaykey.Web.SubmissionWizard.Quote.WC.Prorata"
                value="!group.LowLevelCost and cost != null ? gw.api.util.StringUtil.formatNumber(cost.Proration, &quot;#0.0000&quot;) : null"
                visible="proRated"/>
              <Cell
                align="right"
                enableSort="false"
                footerSumValue="group.TotalCost"
                formatType="currency"
                id="Amount"
                label="displaykey.Web.Policy.BA.Premium"
                value="group.LowLevelCost ? null : una.pageprocess.QuoteScreenPCFController.getPremiumDisplayValue(cost)"/>
            </Row>
            <RowIterator
              editable="false"
              elementName="covTerm"
              id="RegularCovTerms"
              pageSize="0"
              value="gw.lob.ho.rating.QuotePageUtil_HOE.getCovTerms(coverage)//coverage.CovTerms">
              <IteratorSort
                sortBy="covTerm.Pattern.Priority"
                sortOrder="1"/>
              <Row>
                <Cell
                  id="Description"
                  value="gw.api.web.HtmlUtil.indent(covTerm.DisplayName, ScriptParameters.HOQuoteLevel2Indent)"/>
                <Cell
                  align="right"
                  id="CovTermValue"
                  value="covTerm.DisplayValue"/>
                <Cell
                  id="TermAmount"
                  visible="proRated"/>
                <Cell
                  id="EffDate"
                  visible="proRated"/>
                <Cell
                  id="ExpDate"
                  visible="proRated"/>
                <Cell
                  id="Proration"
                  visible="proRated"/>
                <Cell
                  id="Amount"/>
              </Row>
            </RowIterator>
            <RowIterator
              editable="false"
              elementName="covLine"
              id="SpecialCovLines"
              pageSize="0"
              value="lineData"
              visible="group.SpecialCoverage and not group.LowLevelCost">
              <Row>
                <Cell
                  id="Description"
                  value="gw.api.web.HtmlUtil.indent(covLine.description, ScriptParameters.HOQuoteLevel2Indent)"/>
                <Cell
                  align="right"
                  id="CovTermValue"
                  value="covLine.value"/>
                <Cell
                  id="TermAmount"
                  visible="proRated"/>
                <Cell
                  id="EffDate"
                  visible="proRated"/>
                <Cell
                  id="ExpDate"
                  visible="proRated"/>
                <Cell
                  id="Proration"
                  visible="proRated"/>
                <Cell
                  align="right"
                  formatType="currency"
                  id="Amount"/>
              </Row>
            </RowIterator>
            <RowIterator
              editable="false"
              elementName="data"
              id="SpecialCovCostLines"
              pageSize="0"
              value="lineData"
              visible="group.SpecialCoverage and group.LowLevelCost">
              <Variable
                initialValue="data.cost"
                name="lineCost"/>
              <IteratorSort
                sortBy="data.cost.EffDate"
                sortOrder="1"/>
              <Row>
                <Cell
                  id="Description"
                  value=" gw.api.web.HtmlUtil.indent(data.description, ScriptParameters.HOQuoteLevel2Indent)"/>
                <Cell
                  align="right"
                  id="CovTermValue"
                  value="data.value"/>
                <Cell
                  id="TermAmount"
                  value="lineCost.ActualTermAmount"
                  visible="proRated"/>
                <Cell
                  align="right"
                  id="EffDate"
                  value="lineCost.EffDate"
                  visible="proRated"/>
                <Cell
                  align="right"
                  id="ExpDate"
                  value="lineCost.ExpDate"
                  visible="proRated"/>
                <Cell
                  align="right"
                  id="Proration"
                  value="gw.api.util.StringUtil.formatNumber(lineCost.Proration, &quot;#0.0000&quot;)"
                  visible="proRated"/>
                <Cell
                  align="right"
                  formatType="currency"
                  id="Amount"
                  value="una.pageprocess.QuoteScreenPCFController.getPremiumDisplayValue(lineCost)"/>
              </Row>
              <RowIterator
                editable="false"
                elementName="detail"
                id="LowLevelDetail"
                pageSize="0"
                value="data.subDetails">
                <Row>
                  <Cell
                    id="Description"
                    value="gw.api.web.HtmlUtil.indent(detail.description, ScriptParameters.HOQuoteLevel3Indent)"/>
                  <Cell
                    align="right"
                    id="CovTermValue"
                    value="detail.value"/>
                  <Cell
                    id="TermAmount"
                    visible="proRated"/>
                  <Cell
                    id="EffDate"
                    visible="proRated"/>
                  <Cell
                    id="ExpDate"
                    visible="proRated"/>
                  <Cell
                    id="Proration"
                    visible="proRated"/>
                  <Cell
                    align="right"
                    formatType="currency"
                    id="Amount"/>
                </Row>
              </RowIterator>
            </RowIterator>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>