<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="HOCoverageInputSet"
    mode="HODW_ScheduledProperty_HOE">
    <Require
      name="coveragePattern"
      type="gw.api.productmodel.ClausePattern"/>
    <Require
      name="coverable"
      type="Coverable"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="(coverable as Dwelling_HOE)"
      name="dwelling"/>
    <Variable
      initialValue="dwelling.HODW_ScheduledProperty_HOE.ScheduledItems.sum(\ s -&gt; s.ExposureValue )"
      name="currentTotal"
      type="int"/>
    <Variable
      initialValue="scheduleTypeRange()"
      name="scheduleTypeRange"/>
    <HiddenInput
      id="CovPatternCode"
      value="coveragePattern.CodeIdentifier"/>
    <InputGroup
      allowToggle="coveragePattern.allowToggle(coverable)"
      childrenVisible="coverable.getCoverageConditionOrExclusion(coveragePattern) != null"
      id="CovLocationInputGroup"
      label="coveragePattern.DisplayName"
      onToggle="dwelling.setCoverageConditionOrExclusionExists(coveragePattern, VALUE)">
      <ListViewInput
        boldLabel="true"
        editable="true"
        id="ScheduledPropertyItemsListLV"
        label="displaykey.Web.Homeowners.HOCoveragesScreen.ScheduledProperty">
        <Toolbar>
          <IteratorButtons
            iterator="ItemsLV"/>
        </Toolbar>
        <ListViewPanel
          editable="openForEdit"
          id="ItemsLV">
          <RowIterator
            editable="true"
            elementName="schedItem"
            hideCheckBoxesIfReadOnly="true"
            toCreateAndAdd="dwelling.createAndAddScheduledItem(coveragePattern.CodeIdentifier)"
            toRemove="dwelling.HODW_ScheduledProperty_HOE.removeScheduledItem(schedItem)"
            value="dwelling.HODW_ScheduledProperty_HOE.ScheduledItems">
            <IteratorSort
              sortBy="schedItem.ItemNumber"
              sortOrder="1"/>
            <Row>
              <RangeCell
                editable="true"
                id="ArticleType"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.ArticlePropertyType"
                required="true"
                value="schedItem.ScheduleType"
                valueRange="scheduleTypeRange"/>
              <Cell
                editable="true"
                id="SchedItemDescriptionId"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.Description"
                required="true"
                value="schedItem.Description"/>
              <Cell
                editable="true"
                id="SchedItemValueId"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.SchedItemExposureValue"
                numCols="10"
                required="true"
                value="schedItem.ExposureValue"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <PostOnChange/>
    </InputGroup>
    <Code><![CDATA[/**
 *  Amrita D
 *  Added function to get ScheduleType Range value as per the base state selected
 */
function scheduleTypeRange() :List<gw.entity.TypeKey>{
 
  var scheduleTypeValue  = ScheduleType_HOE.Type.getTypeKeysByCategory(dwelling.PolicyPeriod.BaseState).where( \ elt ->! elt.Retired)
  return scheduleTypeValue
  }]]></Code>
  </InputSet>
</PCF>