<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="HOCovLocationHOEInputSet">
    <Require
      name="covLocation"
      type="CoveredLocation_HOE"/>
    <Require
      name="hoLine"
      type="HomeownersLine_HOE"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="covPatternCode"
      type="String"/>
    <Require
      name="locFilter"
      type="boolean"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <Variable
      initialValue="policyPeriod.getUnassignedAccountLocations().toTypedArray()"
      name="unassignedAccountLocations"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="hoLine.getAllPolLocationsExceptDwellingPolLoc(locFilter, covPatternCode)"
      name="availablePolicyLocations"
      type="PolicyLocation[]"/>
    <RangeInput
      action="LocationPopup.push(null,covLocation.PolicyLocation, policyPeriod, openForEdit, false, policyPeriod.HomeownersLine_HOE.SupportsNonSpecificLocations,false)"
      editable="openForEdit"
      id="HOCoveredLocationInput"
      label="displaykey.Web.Policy.LocationContainer.Location.LocationName"
      required="true"
      value="covLocation.PolicyLocation"
      valueRange="availablePolicyLocations"
      valueWidth="180">
      <PickerMenuItem
        action="LocationPopup.push(null, null, policyPeriod, openForEdit, true, policyPeriod.HomeownersLine_HOE.SupportsNonSpecificLocations,false)"
        id="NewCovLocation"
        label="displaykey.Web.Policy.LocationContainer.Location.New"
        onPick="covLocation.PolicyLocation = PickedValue;"/>
      <MenuItem
        id="AddExistingAccountLocation"
        label="displaykey.Web.Policy.LocationContainer.Location.AddExistingAccountLocation">
        <MenuItemIterator
          elementName="unassignedAccountLocation"
          id="MenuItemIteratorId"
          value="unassignedAccountLocations">
          <IteratorSort
            sortBy="unassignedAccountLocation.LocationNum"
            sortOrder="1"/>
          <PickerMenuItem
            action="LocationPopup.push(unassignedAccountLocation, null, policyPeriod, openForEdit, true, policyPeriod.HomeownersLine_HOE.SupportsNonSpecificLocations,false)"
            id="unassignedAccountLocation"
            label="unassignedAccountLocation"
            onPick="covLocation.PolicyLocation = PickedValue;"/>
        </MenuItemIterator>
      </MenuItem>
      <PickerMenuItem
        action="LocationPopup.push(null,covLocation.PolicyLocation, policyPeriod, openForEdit, true, policyPeriod.HomeownersLine_HOE.SupportsNonSpecificLocations,false)"
        id="EditCovLocation"
        label="displaykey.Web.Policy.LocationContainer.Location.EditLocation"
        onPick="covLocation.PolicyLocation = PickedValue; "
        visible="covLocation.PolicyLocation != null"/>
    </RangeInput>
  </InputSet>
</PCF>