<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="HOCoverageInputSet"
    mode="HOSL_WatercraftLiabilityCov_HOE_Ext">
    <Require
      name="coveragePattern"
      type="gw.api.productmodel.ClausePattern"/>
    <Require
      name="coverable"
      type="Coverable"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="(coverable as HomeownersLine_HOE)"
      name="holine"/>
    <HiddenInput
      id="CovPatternCode"
      value="coveragePattern.CodeIdentifier"/>
    <InputGroup
      allowToggle="coveragePattern.allowToggle(coverable)"
      childrenVisible="coverable.getCoverageConditionOrExclusion(coveragePattern) != null"
      id="CovInputGroup"
      label="coveragePattern.DisplayName"
      onToggle="holine.setCoverageConditionOrExclusionExists(coveragePattern, VALUE)">
      <ListViewInput
        boldLabel="true"
        editable="true"
        id="WatercraftLiabilityItemsListLV"
        label="displaykey.Web.Homeowners.HOCoveragesScreen.ScheduledProperty">
        <Toolbar>
          <IteratorButtons
            iterator="ItemsLV"/>
        </Toolbar>
        <ListViewPanel
          editable="openForEdit"
          id="ItemsLV">
          <RowIterator
            editable="true"
            elementName="schedItem"
            toCreateAndAdd="holine.createAndAddHOScheduledItem(coveragePattern.CodeIdentifier)"
            toRemove="holine.HOSL_OutboardMotorsWatercraft_HOE_Ext.removeScheduledItem(schedItem)"
            value="holine.HOSL_WatercraftLiabilityCov_HOE_Ext.scheduledItem_Ext">
            <Row>
              <Cell
                editable="true"
                id="WatercraftName"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.WatercraftName_Ext"
                required="true"
                value="schedItem.watercraftName1"/>
              <TypeKeyCell
                editable="true"
                id="watercraftType"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.WatercraftType_Ext"
                required="true"
                value="schedItem.watercraftType1"/>
              <TypeKeyCell
                editable="true"
                id="OverallLength"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.OverallLength_Ext"
                required="true"
                value="schedItem.overallLengthWC"/>
              <Cell
                editable="true"
                id="WatercraftDescA"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.MotorADesc_Ext"
                value="schedItem.MotorADesc"/>
              <TypeKeyCell
                editable="true"
                id="HorsepowerA"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.HorsepowerA_Ext"
                value="schedItem.WCHPA"/>
              <Cell
                editable="true"
                id="WatercraftDescB"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.MotorBDesc_Ext"
                value="schedItem.MotorBDesc"/>
              <TypeKeyCell
                editable="true"
                id="HorsepowerB"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.HorsepowerB_Ext"
                value="schedItem.WCHPB"/>
              <Cell
                editable="true"
                id="WatercraftDescC"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.MotorCDesc_Ext"
                value="schedItem.MotorCDesc"/>
              <TypeKeyCell
                editable="true"
                id="HorsepowerC"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.HorsepowerC_Ext"
                required="true"
                value="schedItem.WCHPC"/>
              <TypeKeyCell
                editable="true"
                id="SpeedRating"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.SpeedRating_Ext"
                required="true"
                value="schedItem.speedRating1"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <PostOnChange/>
    </InputGroup>
  </InputSet>
</PCF>