<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="HOCoverageInputSet"
    mode="HOLI_AddResidenceRentedtoOthers_HOE">
    <Require
      name="coveragePattern"
      type="gw.api.productmodel.ClausePattern"/>
    <Require
      name="coverable"
      type="Coverable"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="(coverable as HomeownersLine_HOE)"
      name="hoLine"/>
    <HiddenInput
      id="CovPatternCode"
      value="coveragePattern.CodeIdentifier"/>
    <InputGroup
      allowToggle="coveragePattern.allowToggle(coverable)"
      childrenVisible="coverable.getCoverageConditionOrExclusion(coveragePattern) != null"
      id="CovLocationInputGroup"
      label="coveragePattern.DisplayName"
      onToggle="hoLine.setCoverageConditionOrExclusionExists(coveragePattern, VALUE)">
      <ListViewInput
        boldLabel="true"
        editable="true"
        id="CovLocationsListLV"
        label="displaykey.Web.Policy.Schedule.ScheduledItems">
        <Toolbar>
          <IteratorButtons
            addLabel="displaykey.Java.ContactDetails.AddLocation"
            iterator="StructuresLV"
            removeLabel="displaykey.Web.Account.Location.RemoveLocation"/>
        </Toolbar>
        <ListViewPanel
          editable="openForEdit"
          id="StructuresLV">
          <RowIterator
            editable="openForEdit"
            elementName="schedItem"
            hideCheckBoxesIfReadOnly="true"
            pickLocation="HoliSchedItemLocationPopup.push(hoLine, coveragePattern , false, openForEdit)"
            toRemove="hoLine.HOLI_AddResidenceRentedtoOthers_HOE.removeScheduledItem(schedItem)"
            value="hoLine.HOLI_AddResidenceRentedtoOthers_HOE.scheduledItem_Ext">
            <IteratorSort
              sortBy="schedItem.ItemNum"
              sortOrder="1"/>
            <Row>
              <Cell
                action="HoliSchedItemLocationPopup.push(hoLine, schedItem, coveragePattern.CodeIdentifier, false, openForEdit)"
                id="LocationID"
                label="displaykey.Web.AddressBook.AddressInputSet.Name"
                value="schedItem.policyLocation.CompactName"/>
              <Cell
                editable="true"
                id="DescitptionId"
                label="displaykey.Web.Homeowners.HOCoveragesScreen.Numfamilies_Ext"
                required="true"
                value="schedItem.numFamilies"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <PostOnChange/>
    </InputGroup>
  </InputSet>
</PCF>