<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="openForEdit"
    id="HODwellingDetailsHOEDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="dwelling"
      type="Dwelling_HOE"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="dwelling.HOLocation.PolicyLocation"
      name="polLocation"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="gw.lob.ho.HODwellingUtil_HOE.isProtectedSubDivisionVisible(policyPeriod, dwelling)"
      name="isProtectedSubDivisonVisible"
      recalculateOnRefresh="true"
      type="boolean"/>
    <Variable
      initialValue="new una.pageprocess.PropertyInformationCompletePluginImpl()"
      name="pageProcess"/>
    <Variable
      initialValue="pageProcess.getTunaInformation(policyPeriod)"
      name="tunaAppResponse"
      recalculateOnRefresh="true"
      type="una.integration.mapping.tuna.TunaAppResponse"/>
    <Variable
      initialValue="gw.lob.ho.HODwellingUtil_HOE.setTunaFieldsMatchLevel(tunaAppResponse,dwelling)"
      name="setTunaFieldsMatchLevel"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="gw.lob.ho.HODwellingUtil_HOE.initializeSingleReturnTypelists(dwelling,tunaAppResponse)"
      name="initializeSingleValueReturns"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="gw.lob.ho.HODwellingUtil_HOE.initializeSingleReturnTypelists(dwelling,tunaAppResponse)"
      name="setProtectionClassValue"
      recalculateOnRefresh="true"
      type="boolean"/>
    <InputColumn
      labelWidth="250">
      <Label
        label="displaykey.Web.Homeowners.HOLocation.LocationInfo_Ext"/>
      <InputSet
        editable="openForEdit and (jobSubtype == typekey.Job.TC_ISSUANCE or jobSubtype == typekey.Job.TC_SUBMISSION or jobSubtype == typekey.Job.TC_REWRITE)"
        id="HODwellingLocationHOEInputSet">
        <Variable
          initialValue="policyPeriod.getUnassignedAccountLocations().toTypedArray()"
          name="unassignedAccountLocations"
          recalculateOnRefresh="true"/>
        <Variable
          initialValue="policyPeriod.Job.Subtype"
          name="jobSubtype"/>
        <RangeInput
          action="LocationPopup.push(null,dwelling.HOLocation.PolicyLocation, policyPeriod, openForEdit, false, policyPeriod.HomeownersLine_HOE.SupportsNonSpecificLocations,true)"
          editable="true"
          id="HODwellingLocationInput"
          label="displaykey.Web.Policy.LocationContainer.Location.LocationName"
          required="true"
          value="dwelling.HOLocation.PolicyLocation"
          valueRange="policyPeriod.PolicyLocations"
          valueWidth="180">
          <PickerMenuItem
            action="LocationPopup.push(null, null, policyPeriod, openForEdit, true, policyPeriod.HomeownersLine_HOE.SupportsNonSpecificLocations,true)"
            id="NewGarageLocation"
            label="displaykey.Web.Policy.LocationContainer.Location.New"
            onPick="dwelling.HOLocation.PolicyLocation = PickedValue; dwelling.HOLine.updateBaseStateAndPrimaryLocation(jobWizardHelper)"/>
          <MenuItem
            id="AddExistingAccountLocation"
            label="displaykey.Web.Policy.LocationContainer.Location.AddExistingAccountLocation">
            <MenuItemIterator
              elementName="unassignedAccountLocation"
              id="MenuItemIteratorId"
              value="unassignedAccountLocations">
              <IteratorSort
                sortBy="unassignedAccountLocation.LocationNum"
                sortOrder="1"/>
              <PickerMenuItem
                action="LocationPopup.push(unassignedAccountLocation, null, policyPeriod, openForEdit, true, policyPeriod.HomeownersLine_HOE.SupportsNonSpecificLocations,true)"
                id="unassignedAccountLocation"
                label="unassignedAccountLocation"
                onPick="dwelling.HOLocation.PolicyLocation = PickedValue; dwelling.HOLine.updateBaseStateAndPrimaryLocation(jobWizardHelper)"/>
            </MenuItemIterator>
          </MenuItem>
          <PickerMenuItem
            action="LocationPopup.push(null, dwelling.HOLocation.PolicyLocation, policyPeriod, openForEdit, true, policyPeriod.HomeownersLine_HOE.SupportsNonSpecificLocations,true)"
            id="EditDwellingLocation"
            label="displaykey.Web.Policy.LocationContainer.Location.EditLocation"
            onPick="dwelling.HOLocation.PolicyLocation = PickedValue; dwelling.HOLine.updateBaseStateAndPrimaryLocation(jobWizardHelper)"
            visible="dwelling.HOLocation.PolicyLocation != null"/>
          <PostOnChange
            onChange="dwelling.HOLine.updateBaseStateAndPrimaryLocation(jobWizardHelper);pageProcess.resetTunaInfo(policyPeriod);tunaAppResponse = pageProcess.getTunaInformation(policyPeriod) "/>
        </RangeInput>
      </InputSet>
      <!-- <InputSetRef
        def="HODwellingLocationHOEInputSet(dwelling, policyPeriod, openForEdit, jobWizardHelper )"/> -->
      <InputDivider/>
      <InputSet
        id="ResultingPrecision_Ext">
        <RangeInput
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="ResultingPercisionTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ResultingPrecisionValue_Ext"
          value="dwelling.ResultingPrecision_Ext"
          valueRange="{tunaAppResponse.ResultingPrecision}"/>
        <InputDivider/>
      </InputSet>
      <InputSet
        id="NoteDetail_Ext">
        <RangeInput
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="NoteDetailTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.NoteDetail_Ext"
          value="dwelling.NoteDetail_Ext"
          valueRange="{tunaAppResponse.NoteDetail}"/>
      </InputSet>
      <!-- <Input
        editable="true"
        id="YearBuilt"
        label="displaykey.Web.Homeowners.DwellingConstruction.YearBuilt"
        numCols="8"
        required="true"
        validationExpression="(dwelling.YearBuilt != null and dwelling.YearBuilt &lt;= (java.util.Date.CurrentDate.YearOfDate + 1)) ? null : displaykey.Web.Homeowners.DwellingConstruction.YearBuilt.ValidateYear "
        value="dwelling.YearBuilt">
        <PostOnChange
          onChange="gw.lob.ho.HODwellingUtil_HOE.applyReset(dwelling)"
          target="deedInfo_Ext"/>
      </Input> -->
      <InputSet
        editable="true"
        id="TerritoryCodeInputSet"
        visible="dwelling.HOLocation.PolicyLocation != null and dwelling.HOLocation.PolicyLocation.TerritoryCodes.length != 0">
        <InputDivider/>
        <RangeInput
          available="!dwelling.HOLocation.OverrideTerritoryCode_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="TerritoryCodeTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TerritoryCodeTunaReturned_Ext"
          required="!dwelling.HOLocation.OverrideTerritoryCode_Ext"
          value="dwelling.HOLocation.TerritoryCodeTunaReturned_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTerritoryCodes(tunaAppResponse, dwelling.HOPolicyType)//tunaAppResponse.TerritoryCodes"/>
        <Input
          available="!dwelling.HOLocation.OverrideTerritoryCode_Ext"
          id="TerritoryCodeMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TerritoryCodeMatchlevel_Ext"
          value="dwelling.HOLocation.TerritoryCodeMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideTerritoryCode_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TerritoryCodeOverride_Ext"
          value="dwelling.HOLocation.OverrideTerritoryCode_Ext">
          <PostOnChange
            target="TerritoryCodeInputSet"/>
        </BooleanRadioInput>
        <InputIterator
          elementName="TerritoryCode"
          value="dwelling.HOLocation.PolicyLocation.TerritoryCodes">
          <IteratorSort
            sortBy="TerritoryCode.PolicyLinePattern.Priority"
            sortOrder="1"/>
          <PickerInput
            available="dwelling.HOLocation.PolicyLocation.State != null"
            editable="true"
            id="TerritoryCode"
            label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCode(TerritoryCode.PolicyLinePattern.DisplayName)"
            pickLocation="TerritoryCodeSearchPopup.push(dwelling.HOLine.Branch, TerritoryCode)"
            required="dwelling.HOLocation.OverrideTerritoryCode_Ext"
            value="dwelling.HOLocation.TerritoryCodeOverridden_Ext"
            visible="dwelling.HOLocation.OverrideTerritoryCode_Ext"/>
        </InputIterator>
      </InputSet>
      <InputSet
        id="Firedeptnamedval_Ext">
        <InputDivider/>
        <RangeInput
          available="!dwelling.HOLocation.OverrideResFireDept_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="FiredeptnamedvalTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.FiredeptnamedvalTunaReturned_Ext"
          value="dwelling.HOLocation.ResFireDept_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getDependentCodes(tunaAppResponse.ProtectionClass)"/>
        <Input
          available="!dwelling.HOLocation.OverrideResFireDept_Ext"
          id="FiredeptnamedvalMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.FiredeptnamedvalMatchlevel_Ext"
          value="dwelling.HOLocation.ResFireDeptMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideFiredeptnamedval_Ext"
          label="displaykey.Web.Homeowners.HOLocation.FiredeptnamedvalOverride_Ext"
          value="dwelling.HOLocation.OverrideResFireDept_Ext">
          <PostOnChange
            target="Firedeptnamedval_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.HOLocation.OverrideResFireDept_Ext"
          editable="true"
          id="FiredeptnamedvalUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.FiredeptnamedvalUserEntered_Ext"
          required="dwelling.HOLocation.OverrideResFireDept_Ext"
          value="dwelling.HOLocation.ResFireDeptOverridden_Ext"
          visible="dwelling.HOLocation.OverrideResFireDept_Ext"/>
      </InputSet>
      <InputSet
        visible="dwelling.HOLocation.PolicyLocation != null">
        <InputDivider/>
        <!-- <PickerInput
          editable="true"
          id="LocalTaxJurisdictionId"
          inputConversion="searchTaxLocation(VALUE)"
          label="displaykey.Web.Homeowners.HOLocation.LocalTaxJurisdiction"
          pickLocation="TaxLocationSearchPopup.push(dwelling.HOLine.Branch, gw.api.util.JurisdictionMappingUtil.getJurisdiction(dwelling.HOLocation.PolicyLocation))"
          required="true"
          value="dwelling.HOLocation.PolicyLocation.TaxLocation"
          visible="gw.api.domain.StateSet.get(&quot;TaxLocation&quot;).contains(dwelling.HOLocation.PolicyLocation.State)"/> -->
        <Input
          editable="true"
          id="DistToFireHydrant"
          label="displaykey.Web.Homeowners.HOLocation.DisToFireHydrant"
          required="true"
          value="dwelling.HOLocation.DistanceToFireHydrant"
          visible="gw.lob.ho.HODwellingUtil_HOE.isFHFSvisible(gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.ProtectionClass))// &amp;&amp; dwelling.HOLocation.DwellingPCCodeMatchLevel_Ext==typekey.TunaMatchLevel_Ext.TC_EXACT">
          <PostOnChange
            onChange="gw.lob.ho.HODwellingUtil_HOE.setProtectionClass(dwelling)//dwelling.HOLocation.DwellingProtectionClassCode = null;"/>
        </Input>
        <Input
          editable="true"
          id="DistToFireStation"
          label="displaykey.Web.Homeowners.HOLocation.DisToFireStation"
          required="true"
          value="dwelling.HOLocation.DistanceToFireStation"
          visible="(gw.lob.ho.HODwellingUtil_HOE.isFHFSvisible(gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.ProtectionClass)))// &amp;&amp; dwelling.HOLocation.DwellingPCCodeMatchLevel_Ext!=typekey.TunaMatchLevel_Ext.TC_EXACT) || (dwelling.HOLocation.DwellingProtectionClasscode!=null &amp;&amp; dwelling.HOLocation.DwellingPCCodeMatchLevel_Ext!=typekey.TunaMatchLevel_Ext.TC_EXACT)">
          <PostOnChange
            onChange="gw.lob.ho.HODwellingUtil_HOE.setProtectionClass(dwelling)"/>
        </Input>
        <!-- <BooleanRadioInput
          editable="true"
          id="FloodFireHazard"
          label="displaykey.Web.Homeowners.HOLocation.FloodingFireHazard"
          required="true"
          value="dwelling.HOLocation.FloodingHazard"/> -->
        <!-- <BooleanRadioInput
          editable="true"
          id="WithinCommericalProperty"
          label="displaykey.Web.Homeowners.HOLocation.WithinCommercialProperty"
          required="true"
          value="dwelling.HOLocation.NearCommercial"/> -->
      </InputSet>
      <!-- <Input
        id="distanceToCoast"
        label="displaykey.Web.Homeowners.HOLocation.DistanceToCoast_Ext"
        value="dwelling.HOLocation.DistToCoast_Ext"/> -->
      <!-- <Input
        editable="true"
        id="latitude_Ext"
        label="displaykey.Web.Homeowners.HOLocation.Latitude_Ext"
        value="dwelling.HOLocation.PolicyLocation.Latitude_Ext"/> -->
      <!-- <Input
        editable="true"
        id="Longitude_Ext"
        label="displaykey.Web.Homeowners.HOLocation.Longitude_Ext"
        value="dwelling.HOLocation.PolicyLocation.Longitude_Ext"/> -->
      <InputSet
        id="PCCode_Ext">
        <InputDivider/>
        <RangeInput
          available="!dwelling.HOLocation.OverrideDwellingPCCode_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="PCCodeTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ProtectionClass"
          required="!dwelling.HOLocation.OverrideDwellingPCCode_Ext"
          value="dwelling.HOLocation.DwellingProtectionClassCode"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.ProtectionClass)">
          <PostOnChange
            onChange="dwelling.HOLocation.ResFireDept_Ext = gw.lob.ho.HODwellingUtil_HOE.getDependentCode(dwelling.HOLocation.DwellingProtectionClassCode,tunaAppResponse.ProtectionClass )"/>
        </RangeInput>
        <Input
          available="!dwelling.HOLocation.OverrideDwellingPCCode_Ext"
          id="PCCodeMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PCCodeMatchlevel_Ext"
          value="dwelling.HOLocation.DwellingPCCodeMatchLevel_Ext"/>
        <BooleanRadioInput
          available="true//dwelling.HOLocation.DwellingPCCodeMatchLevel_Ext!=typekey.TunaMatchLevel_Ext.TC_EXACT &amp;&amp; !(dwelling.HOLocation.DwellingProtectionClasscode.Code&lt;=dwelling.HOLocation.DwellingPCCodeOverridden_Ext.Code)"
          editable="true"
          id="OverRideTunaBCEG_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PCCodeOverride_Ext"
          value="dwelling.HOLocation.OverrideDwellingPCCode_Ext">
          <PostOnChange
            target="PCCode_Ext"/>
        </BooleanRadioInput>
        <TypeKeyInput
          available="dwelling.HOLocation.OverrideDwellingPCCode_Ext"
          editable="true"
          id="PCCodeUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PCCodeUserEntered_Ext"
          required="dwelling.HOLocation.OverrideDwellingPCCode_Ext"
          value="dwelling.HOLocation.DwellingPCCodeOverridden_Ext"
          visible="dwelling.HOLocation.OverrideDwellingPCCode_Ext">
          <PostOnChange
            onChange="if(dwelling.HOLocation.DwellingPCCodeMatchLevel_Ext==typekey.TunaMatchLevel_Ext.TC_EXACT &amp;&amp; dwelling.HOLocation.DwellingProtectionClasscode==dwelling.HOLocation.DwellingPCCodeOverridden_Ext){dwelling.HOLocation.OverrideDwellingPCCode_Ext=false;dwelling.HOLocation.DwellingPCCodeOverridden_Ext=null}"/>
        </TypeKeyInput>
      </InputSet>
      <InputSet
        id="Yearbuilt_Ext">
        <InputDivider/>
        <RangeInput
          available="!dwelling.OverrideYearbuilt_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="yearbuiltTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.YearbuiltTunaReturned_Ext"
          required="!dwelling.OverrideYearbuilt_Ext"
          value="dwelling.Yearbuilt"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.YearBuilt)">
          <PostOnChange
            onChange="gw.lob.ho.HODwellingUtil_HOE.applyReset(dwelling);gw.lob.ho.HODwellingUtil_HOE.setPostFIRMValue(dwelling);pageProcess.retrieveBCEG360Value(dwelling)"/>
        </RangeInput>
        <Input
          available="!dwelling.OverrideYearbuilt_Ext"
          id="yearbuiltMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.YearbuiltMatchlevel_Ext"
          value="dwelling.YearbuiltMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideYearbuilt_Ext"
          label="displaykey.Web.Homeowners.HOLocation.YearbuiltOverride_Ext"
          value="dwelling.OverrideYearbuilt_Ext">
          <PostOnChange
            target="Yearbuilt_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.OverrideYearbuilt_Ext"
          editable="true"
          id="yearbuiltUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.YearbuiltUserEntered_Ext"
          required="dwelling.OverrideYearbuilt_Ext"
          value="dwelling.YearBuiltOverridden_Ext"
          visible="dwelling.OverrideYearbuilt_Ext">
          <PostOnChange
            onChange="pageProcess.retrieveBCEG360Value(dwelling);gw.lob.ho.HODwellingUtil_HOE.setPostFIRMValue(dwelling)"/>
        </Input>
      </InputSet>
      <InputSet
        id="TotalSqFtVal_Ext">
        <InputDivider/>
        <RangeInput
          editable="dwelling.PolicyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE &amp;&amp; !dwelling.OverrideTotalSqFtVal_Ext"
          id="TotalSqFtValTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TotalSqFtValTunaReturned_Ext"
          required="!dwelling.OverrideTotalSqFtVal_Ext//US4846.BR.22"
          value="dwelling.SquareFootage_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.SquareFootage)">
          <PostOnChange
            onChange="pageProcess.retrieveBCEG360Value(dwelling)"/>
        </RangeInput>
        <Input
          available="!dwelling.OverrideTotalSqFtVal_Ext"
          id="TotalSqFtValMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TotalSqFtValMatchlevel_Ext"
          value="dwelling.TotalSqFtValMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideTotalSqFtVal_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TotalSqFtValOverride_Ext"
          value="dwelling.OverrideTotalSqFtVal_Ext">
          <PostOnChange
            target="TotalSqFtVal_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.OverrideTotalSqFtVal_Ext"
          editable="true"
          id="TotalSqFtValUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TotalSqFtValUserEntered_Ext"
          requestValidationExpression="VALUE.Numeric ? null : displaykey.Validator.PositiveInteger(VALUE)"
          required="dwelling.OverrideTotalSqFtVal_Ext"
          value="dwelling.TotalSqFtValOverridden_Ext"
          visible="dwelling.OverrideTotalSqFtVal_Ext">
          <PostOnChange
            onChange="pageProcess.retrieveBCEG360Value(dwelling)"/>
        </Input>
      </InputSet>
      <InputSet
        id="PropFloodVal_Ext"
        visible="policyPeriod.BaseState.Code==&quot;FL&quot; &amp;&amp; (dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_HO3 || dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_HO6 || dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_DP3_EXT)">
        <InputDivider/>
        <RangeInput
          available="!dwelling.OverridePropFloodVal_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="PropFloodValTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PropFloodValTunaReturned_Ext"
          required="!dwelling.OverridePropFloodVal_Ext"
          value="dwelling.PropFloodVal_Ext "
          valueRange="if(dwelling.PropFloodVal_Ext == null ){ return gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.PropertyFlood)}">
          <PostOnChange/>
        </RangeInput>
        <Input
          available="!dwelling.OverridePropFloodVal_Ext"
          id="PropFloodValMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PropFloodValMatchlevel_Ext"
          value="dwelling.PropFloodValMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRidePropFloodVal_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PropFloodValOverride_Ext"
          value="dwelling.OverridePropFloodVal_Ext">
          <PostOnChange
            target="PropFloodVal_Ext"/>
        </BooleanRadioInput>
        <TypeKeyInput
          available="dwelling.OverridePropFloodVal_Ext"
          editable="true"
          id="PropFloodValUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PropFloodValUserEntered_Ext"
          required="dwelling.OverridePropFloodVal_Ext"
          value="dwelling.PropFloodValOverridden_Ext"
          visible="dwelling.OverridePropFloodVal_Ext">
          <PostOnChange/>
        </TypeKeyInput>
      </InputSet>
      <InputSet
        id="DistToCoast_Ext"
        visible="((dwelling.PolicyPeriod.BaseState == TC_NC &amp;&amp; dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_LPP_EXT ) || (dwelling.PolicyPeriod.BaseState == TC_CA ) ||  (((dwelling.PolicyPeriod.BaseState == TC_NC || dwelling.PolicyPeriod.BaseState==TC_SC)  &amp;&amp;  typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)) ||    ((dwelling.PolicyPeriod.BaseState == TC_FL || dwelling.PolicyPeriod.BaseState==TC_HI)  &amp;&amp;  typekey.HOPolicyType_HOE.TF_ALLHOANDTDPTYPES.TypeKeys.contains(dwelling.HOPolicyType)))) &amp;&amp; dwelling.HOLocation.PolicyLocation.State.Code!=&quot;TX&quot; &amp;&amp; dwelling.HOLocation.PolicyLocation.State.Code!=&quot;NV&quot; &amp;&amp; dwelling.HOLocation.PolicyLocation.State.Code!=&quot;AZ&quot;">
        <InputDivider/>
        <RangeInput
          available="!dwelling.HOLocation.OverrideDistToCoast_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="DistToCoastTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistanceToCoast_Ext"
          sortValueRange="false"
          value="dwelling.HOLocation.DistToCoast_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.DistanceToCoast) as typekey.DistToCoastOverridden_Ext[]"/>
        <Input
          available="!dwelling.HOLocation.OverrideDistToCoast_Ext"
          id="DistToCoastMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistanceToCoastMatchLevel_Ext"
          value="dwelling.HOLocation.DistToCoastMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideDistToCoast_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistToCoastOverride_Ext"
          value="dwelling.HOLocation.OverrideDistToCoast_Ext">
          <PostOnChange
            target="DistToCoast_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.HOLocation.OverrideDistToCoast_Ext"
          editable="true"
          id="DistToCoastUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistanceToCoastUserEntered_Ext"
          required="dwelling.HOLocation.OverrideDistToCoast_Ext"
          value="dwelling.HOLocation.DistToCoastOverridden_Ext"
          visible="dwelling.HOLocation.OverrideDistToCoast_Ext"/>
      </InputSet>
      <InputSet
        id="DistToMajorBOW_Ext"
        visible="dwelling.floodZipCodesToWatch(dwelling) &amp;&amp; (dwelling.FloodCoverage_Ext!=null &amp;&amp; dwelling.FloodCoverage_Ext) &amp;&amp; (dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO3 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO6 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_DP3_EXT))">
        <InputDivider/>
        <RangeInput
          available="!dwelling.HOLocation.OverrideDistBOW_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="DistBOWTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOW_Ext"
          sortValueRange="false"
          value="dwelling.HOLocation.DistBOW_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.DistanceToMajorBOW) as typekey.DistBOWOverridden_Ext[]">
          <PostOnChange
            onChange="dwelling.HOLocation.DistBOWNamedValue_Ext=gw.lob.ho.HODwellingUtil_HOE.getDependentCode(dwelling.HOLocation.DistBOW_Ext as String,tunaAppResponse.DistanceToMajorBOW)"/>
        </RangeInput>
        <Input
          available="!dwelling.HOLocation.OverrideDistBOW_Ext"
          id="DistBOWMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWMatchLevel_Ext"
          value="dwelling.HOLocation.DistBOWMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideDistToCoast_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWOverride_Ext"
          value="dwelling.HOLocation.OverrideDistBOW_Ext">
          <PostOnChange
            target="DistToMajorBOW_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.HOLocation.OverrideDistBOW_Ext"
          editable="true"
          id="DistToCoastUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWUserEntered_Ext"
          required="dwelling.HOLocation.OverrideDistBOW_Ext"
          value="dwelling.HOLocation.DistBOWOverridden_Ext"
          visible="dwelling.HOLocation.OverrideDistBOW_Ext"/>
      </InputSet>
      <InputSet
        id="DistToMajorBOWNamedVal_Ext"
        visible="dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO3 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO6 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_DP3_EXT)&amp;&amp; dwelling.floodZipCodesToWatch(dwelling) &amp;&amp; (dwelling.FloodCoverage_Ext!=null &amp;&amp; dwelling.FloodCoverage_Ext)">
        <InputDivider/>
        <RangeInput
          available="!dwelling.HOLocation.OverrideDistBOW_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="DistBOWTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWNV_Ext"
          value="dwelling.HOLocation.DistBOWNamedValue_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getDependentCodes(tunaAppResponse.DistanceToMajorBOW)"/>
        <Input
          available="!dwelling.HOLocation.OverrideDistBOW_Ext"
          id="DistBOWMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWNVMatchLevel_Ext"
          value="dwelling.HOLocation.DistBOWNVMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideDistToCoast_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWNVOverride_Ext"
          value="dwelling.HOLocation.OverrideDistBOWNamedValue_Ext">
          <PostOnChange
            target="DistToMajorBOWNamedVal_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.HOLocation.OverrideDistBOWNamedValue_Ext"
          editable="true"
          id="DistToCoastUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWNVUserEntered_Ext"
          required="dwelling.HOLocation.OverrideDistBOWNamedValue_Ext"
          value="dwelling.HOLocation.DistBOWNVOverridden_Ext"
          visible="dwelling.HOLocation.OverrideDistBOWNamedValue_Ext"/>
      </InputSet>
      <InputSet
        id="CoverageALimitValue_Ext">
        <InputDivider/>
        <RangeInput
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="CoverageALimitValueTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.CoverageALimitValue_Ext"
          value="dwelling.CoverageALimitValue_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.CoverageLimit)"/>
      </InputSet>
      <InputSet
        id="CondoValuationIDValue_Ext">
        <!-- <InputDivider/> -->
        <!-- <RangeInput
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="CondoValuationIDValueTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.CondoValuationIDValue_Ext"
          value="dwelling.CondoValuationIDValue_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.CondoValuationID)"/> -->
      </InputSet>
      <!-- <Input
        editable="true"
        id="DwellingReplacement"
        label="displaykey.Web.Homeowners.Dwelling.EstReplacementCost"
        numCols="10"
        required="false"
        value="dwelling.ReplacementCost"/> -->
      <!-- <Input
        id="iso360ValueID_Ext"
        label="displaykey.Web.Homeowners.HOLocation.ISO360ValueID_Ext"
        value="dwelling.HOLocation.ISO360ValueID_Ext"/> -->
      <InputSet
        id="ACVValue_Ext">
        <InputDivider/>
        <RangeInput
          available="!dwelling.HOLocation.OverrideACVValue_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="ACVValueTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ACVValueTunaReturned_Ext"
          value="dwelling.HOLocation.ACVValue_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.ACV)"/>
        <Input
          available="!dwelling.HOLocation.OverrideACVValue_Ext"
          id="ACVValueMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ACVValueMatchlevel_Ext"
          value="dwelling.HOLocation.ACVValueMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideACVValue_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ACVValueOverride_Ext"
          value="dwelling.HOLocation.OverrideACVValue_Ext">
          <PostOnChange
            target="ACVValue_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.HOLocation.OverrideACVValue_Ext"
          editable="true"
          id="ACVValueUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ACVValueUserEntered_Ext"
          requestValidationExpression="VALUE.Numeric ? null : displaykey.Validator.PositiveInteger(VALUE)"
          required="dwelling.HOLocation.OverrideACVValue_Ext"
          value="dwelling.HOLocation.ACVValueOverridden_Ext"
          visible="dwelling.HOLocation.OverrideACVValue_Ext"/>
      </InputSet>
      <InputSet
        id="iso360_Ext">
        <InputDivider/>
        <RangeInput
          available="!dwelling.HOLocation.OverrideISO360_Ext"
          editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
          id="ISO360TunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ISO360TunaReturned_Ext"
          value="dwelling.HOLocation.ISO360ValueID_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.ISO360Value)"/>
        <!-- <Input
          available="!dwelling.HOLocation.OverrideISO360_Ext"
          id="ISO360MatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ISO360Matchlevel_Ext"
          value="dwelling.HOLocation.ISO360MatchLevel_Ext"/> -->
        <!-- <BooleanRadioInput
          editable="true"
          id="OverRideISO360_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ISO360Override_Ext"
          value="dwelling.HOLocation.OverrideISO360_Ext">
          <PostOnChange
            target="iso360_Ext"/>
        </BooleanRadioInput> -->
        <!-- <Input
          available="dwelling.HOLocation.OverrideISO360_Ext"
          editable="true"
          id="ISO360UserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ISO360UserEntered_Ext"
          required="dwelling.HOLocation.OverrideISO360_Ext"
          value="dwelling.HOLocation.ISO360Overridden_Ext"
          visible="dwelling.HOLocation.OverrideISO360_Ext"/> -->
      </InputSet>
      <InputSet
        id="deedInfo_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isFirstTimeDeededVisible(dwelling)">
        <InputDivider/>
        <Input
          editable="true"
          id="firstTimeDeeded_Ext"
          label="displaykey.Web.Homeowners.Dwelling.FirstTimeDeeded_Ext"
          value="dwelling.FirstTimeDeededHome_Ext">
          <PostOnChange
            target="builderWarranty_Ext"/>
        </Input>
        <Input
          editable="true"
          id="builderWarranty_Ext"
          label="displaykey.Web.Homeowners.Dwelling.BuilderWarranty_Ext"
          value="dwelling.BuilderWarranty_Ext"
          visible="dwelling.FirstTimeDeededHome_Ext"/>
      </InputSet>
      <InputSet>
        <Input
          editable="true"
          id="numberOfMonthsConsUnOccupancy_Ext"
          label="displaykey.Web.Homeowners.Dwelling.NumOfMonthsConsUnOccupancy_Ext"
          numCols="2"
          required="false"
          value="dwelling.NumOfMonthsConsUnOccupancy_Ext"
          visible="DwellingUsage_HOE.TC_SEC == dwelling.DwellingUsage //DwellingUsage_HOE.TC_SEAS == dwelling.DwellingUsage or "/>
        <!-- <BooleanRadioInput
          editable="true"
          id="DwellingCoverageInEffect"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.DwellingCoverage, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.DwellingUsagePrimaryCoverage"
          visible="(dwelling.DwellingUsage == typekey.DwellingUsage_HOE.TC_SEC or dwelling.DwellingUsage == typekey.DwellingUsage_HOE.TC_SEAS)"/> -->
        <!-- <BooleanRadioInput
          editable="true"
          id="ApprovedBuilder"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.ApprovedBuilder, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.OccupancyApprovedBuilder"
          visible="dwelling.Occupancy == typekey.DwellingOccupancyType_HOE.TC_INCONST"/> -->
        <!-- <DateInput
          editable="true"
          id="AnticipatedOccupancy"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.AnticipatedOccupancy, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.OccupancyProjectedDate"
          visible="dwelling.Occupancy == typekey.DwellingOccupancyType_HOE.TC_INCONST"/> -->
        <!-- <Input
          editable="openForEdit"
          id="DwellingYear"
          label="displaykey.Web.Homeowners.Dwelling.YearPurchased"
          numCols="8"
          required="false"
          value="dwelling.YearPurchased"
          visible="(dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO6)">
          <PostOnChange
            target="firstTimeDeeded_Ext"/>
        </Input> -->
        <!-- <BooleanRadioInput
          editable="true"
          id="DwellingVacant"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.DwellingVacant, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.OccupancyVacant"
          visible="dwelling.Occupancy == typekey.DwellingOccupancyType_HOE.TC_VACANT"/> -->
        <BooleanRadioInput
          editable="true"
          id="MultiPolicyDiscount_Ext"
          label="displaykey.Web.Homeowners.HODwelling.MultiPolicyDiscount_Ext"
          value="(dwelling.PolicyLine as HomeownersLine_HOE).MultiPolicyDiscount_Ext"
          visible="gw.lob.ho.HODwellingUtil_HOE.isMultiPolicyDiscountAvailable(policyPeriod)">
          <PostOnChange/>
        </BooleanRadioInput>
        <RangeInput
          editable="true"
          id="HOPolicyType"
          label="displaykey.Web.Homeowners.TypeofPolicy_Ext"
          required="false"
          value="(dwelling.PolicyLine as HomeownersLine_HOE).TypeofPolicy_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTypeOfPolicy(dwelling)"
          visible="(dwelling.PolicyLine as HomeownersLine_HOE).MultiPolicyDiscount_Ext">
          <PostOnChange/>
        </RangeInput>
        <Input
          editable="true"
          id="PolicyNumber_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.PolicyNumber_Ext"
          numEntriesPerColumn="14"
          value="(dwelling.PolicyLine as HomeownersLine_HOE).PolicyNumber_Ext"
          visible="(dwelling.PolicyLine as HomeownersLine_HOE).MultiPolicyDiscount_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="InsuredTenantDiscount_Ext"
          label="displaykey.Web.Homeowners.HODwelling.InsuredTenantDiscount_Ext"
          value="dwelling.InsuredTenantDiscount_Ext"
          visible="dwelling.PolicyPeriod.BaseState == TC_NC &amp;&amp; dwelling.HOPolicyType == typekey.HOPolicyType_HOE.TC_LPP_EXT"/>
        <BooleanRadioInput
          editable="true"
          id="protectedSubdivision"
          label="displaykey.Web.Homeowners.HOLocation.ProtectedSubdivision_Ext"
          value="dwelling.HOLocation.ProtectedSubDivision_Ext"
          visible="isProtectedSubDivisonVisible">
          <PostOnChange
            onChange="if(!dwelling.HOLocation.ProtectedSubDivision_Ext &amp;&amp; dwelling.HOLocation.SubdivisionName_Ext != null) {dwelling.HOLocation.SubdivisionName_Ext = null dwelling.HOLocation.DwellingProtectionClassCode = null}"
            target="subDivisionName_Ext"/>
        </BooleanRadioInput>
        <RangeInput
          editable="true"
          id="subDivisionName_Ext"
          label="displaykey.Web.Homeowners.HOLocation.SubDivisionName_Ext"
          value="dwelling.HOLocation.SubdivisionName_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getSubdivisionNames(policyPeriod.BaseState)"
          visible="dwelling.HOLocation.ProtectedSubDivision_Ext">
          <PostOnChange
            onChange="gw.lob.ho.HODwellingUtil_HOE.resetProtectionClassCode(policyPeriod.BaseState, dwelling.HOLocation)"/>
        </RangeInput>
        <InputDivider/>
        <InputSet
          id="bceg_Ext"
          visible="dwelling.isBCEGVisible//dwelling.HOLocation.PolicyLocation.State.Code!=&quot;CA&quot; &amp;&amp; dwelling.HOLocation.PolicyLocation.State.Code!=&quot;HI&quot; &amp;&amp; dwelling.HOLocation.PolicyLocation.State.Code!=&quot;TX&quot; ">
          <RangeInput
            available="!dwelling.HOLocation.OverrideBCEG_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="BCEGTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.BCEGTunaReturned_Ext"
            required="!dwelling.HOLocation.OverrideBCEG_Ext"
            value="dwelling.HOLocation.BCEG_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.BCEGGrade)"/>
          <Input
            id="BCEGMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.BCEGMatchlevel_Ext"
            value="dwelling.HOLocation.BCEGMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideTunaBCEG_Ext"
            label="displaykey.Web.Homeowners.HOLocation.BCEGOverride_Ext"
            value="dwelling.HOLocation.OverrideBCEG_Ext">
            <PostOnChange
              target="bceg_Ext"/>
          </BooleanRadioInput>
          <TypeKeyInput
            available="dwelling.HOLocation.OverrideBCEG_Ext"
            editable="true"
            id="BCEGUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.BCEGUserEntered_Ext"
            required="dwelling.HOLocation.OverrideBCEG_Ext"
            value="dwelling.HOLocation.BCEGOverridden_Ext"
            visible="dwelling.HOLocation.OverrideBCEG_Ext"/>
          <InputDivider/>
        </InputSet>
        <Label
          label="displaykey.Web.Homeowners.Dwelling.OccupancyInfo_Ext"/>
        <RangeInput
          editable="true"
          id="ResidenceType"
          label="displaykey.Web.Homeowners.Dwelling.ResidenceType"
          sortValueRange="false"
          value="dwelling.ResidenceType"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getResidenceType(dwelling)">
          <PostOnChange
            target="NumUnitsFireDivision_Ext"/>
        </RangeInput>
        <Input
          editable="true"
          id="NumUnitsFireDivision_Ext"
          label="displaykey.Web.Homeowners.Dwelling.NumUnitsFireDivision_Ext"
          requestValidationExpression="VALUE.Numeric ? null : displaykey.Validator.PositiveInteger(VALUE)"
          required="false"
          value="dwelling.NumUnitsFireDivision_Ext"
          visible="dwelling.ResidenceType == ResidenceType_HOE.TC_TOWNHOUSEROWHOUSE_EXT and ( (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.PolicyPeriod.BaseState == TC_FL or dwelling.PolicyPeriod.BaseState == TC_CA or dwelling.PolicyPeriod.BaseState == TC_SC or dwelling.PolicyPeriod.BaseState == TC_HI or dwelling.PolicyPeriod.BaseState == TC_NV or dwelling.PolicyPeriod.BaseState == TC_NC)) or (dwelling.HOPolicyType == TC_DP3_Ext &amp;&amp; (dwelling.PolicyPeriod.BaseState == TC_FL or dwelling.PolicyPeriod.BaseState == TC_HI)) or (dwelling.HOPolicyType == TC_LPP_Ext &amp;&amp; dwelling.PolicyPeriod.BaseState == TC_NC) )"/>
        <RangeInput
          editable="true"
          id="DwellingUse"
          label="displaykey.Web.Homeowners.Dwelling.DwellingUsage_Ext"
          value="dwelling.DwellingUsage"
          valueRange="return (dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO4) ? DwellingUsage_HOE.TF_ALLEXCEPTRENTAL.TypeKeys : typekey.DwellingUsage_HOE.TF_ALL.TypeKeys ">
          <PostOnChange
            onChange="if(dwelling.NumOfMonthsConsUnOccupancy_Ext != null &amp;&amp; (dwelling.DwellingUsage != typekey.DwellingUsage_HOE.TC_SEC or dwelling.DwellingUsage != TC_SEAS)) dwelling.NumOfMonthsConsUnOccupancy_Ext = null"/>
        </RangeInput>
        <Input
          editable="true"
          id="dwellingPrimarilyOccupied_Ext"
          label="displaykey.Web.Homeowners.Dwelling.DwellingPrimarilyOccupied_Ext"
          required="false"
          value="dwelling.Occupancy">
          <PostOnChange/>
        </Input>
        <Label
          label="if(dwelling.HOPolicyType == TC_HO4) return &quot;Dwelling - Rental Info&quot; else return &quot;Dwelling - Rental/Purchase Info&quot;"/>
        <InputSet
          id="dwellingRentedInputSet_ext">
          <BooleanRadioInput
            editable="true"
            id="everRentedToOthers_Ext"
            label="displaykey.Web.Homeowners.HODwelling.DwellingEverRentedToOthers_Ext"
            value="dwelling.DwellingRentedEverToOthers_Ext"
            visible="dwelling.HOPolicyType == TC_HO3 || dwelling.HOPolicyType == TC_HO6 || dwelling.HOPolicyType == TC_HOA_Ext || dwelling.HOPolicyType == TC_HOB_Ext || dwelling.HOPolicyType == TC_HCONB_Ext">
            <PostOnChange
              onChange="if(!dwelling.DwellingRentedEverToOthers_Ext &amp;&amp; dwelling.ShortestRentalPeriod_Ext != null ) dwelling.ShortestRentalPeriod_Ext = null"/>
          </BooleanRadioInput>
          <TypeKeyInput
            editable="true"
            id="shortestRentalPeriod_Ext"
            label="displaykey.Web.Homeowners.HODwelling.ShortestRentalPeriod_Ext"
            value="dwelling.ShortestRentalPeriod_Ext"
            visible="dwelling.DwellingRentedEverToOthers_Ext"/>
        </InputSet>
        <InputSet
          visible="dwelling.HOPolicyType != TC_HO4">
          <BooleanRadioInput
            editable="true"
            id="isHomeNewPurchase_Ext"
            label="displaykey.Web.Homeowners.HODwelling.IsHomeNewPurchase_Ext"
            value="dwelling.HomeNewPurchase_Ext">
            <PostOnChange
              onChange="if(!dwelling.HomeNewPurchase_Ext &amp;&amp; (dwelling.HomePurchaseDate_Ext != null)) {dwelling.HomePurchaseDate_Ext = null; } else if(dwelling.HomeNewPurchase_Ext &amp;&amp; dwelling.HomePurchaseMMYYYY_Ext != null) {dwelling.HomePurchaseMMYYYY_Ext = null}"/>
          </BooleanRadioInput>
          <TypeKeyInput
            editable="true"
            id="PriorResidenceWas_Ext"
            label="displaykey.Web.Homeowners.HODwelling.PriorResidenceWas_Ext"
            required="false"
            value="dwelling.PriorResidenceWas_Ext"
            visible="(dwelling.HomeNewPurchase_Ext &amp;&amp; (dwelling.HOPolicyType == TC_HO3 || dwelling.HOPolicyType == TC_HO6 || dwelling.HOPolicyType == TC_HOA_Ext || dwelling.HOPolicyType == TC_HOB_Ext)) ||(dwelling.Occupancy == DwellingOccupancyType_HOE.TC_OWNER &amp;&amp; (dwelling.PolicyPeriod.BaseState == TC_CA || (dwelling.PolicyPeriod.BaseState == TC_HI &amp;&amp; dwelling.HOPolicyType == TC_DP3_Ext)))"/>
          <DateInput
            editable="true"
            id="homePurchaseDate_Ext"
            label="displaykey.Web.Homeowners.HODwelling.HomePurchaseDate_Ext"
            value="dwelling.HomePurchaseDate_Ext"
            visible="dwelling.HOPolicyType != TC_HO4 &amp;&amp; dwelling.HomeNewPurchase_Ext "/>
          <Input
            editable="true"
            id="moveInDate_Ext"
            label="displaykey.Web.Homeowners.HODwelling.NewPurchase_Rental_MoveInDate_Ext"
            value="dwelling.MoveInDate_Ext"
            visible="dwelling.HomeNewPurchase_Ext or dwelling.HOPolicyType == TC_HO4"/>
          <Input
            editable="true"
            id="homePurchaseMMYYYY_Ext"
            label="displaykey.Web.Homeowners.HODwelling.HomePurchaseMMYYYY_Ext"
            value="dwelling.HomePurchaseMMYYYY_Ext"
            visible="!dwelling.HomeNewPurchase_Ext"/>
        </InputSet>
        <InputDivider/>
        <InputSet
          id="latitude_Ext">
          <RangeInput
            available="!dwelling.HOLocation.OverrideLatitude_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="latitudeTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.LatitudeTunaReturned_Ext"
            value="dwelling.HOLocation.PolicyLocation.Latitude_Ext"
            valueRange="{tunaAppResponse.Latitude}//gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.Latitude)"/>
          <Input
            available="!dwelling.HOLocation.OverrideLatitude_Ext"
            id="latitudeMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.LatitudeMatchlevel_Ext"
            value="dwelling.HOLocation.LatitudeMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideLatitude_Ext"
            label="displaykey.Web.Homeowners.HOLocation.LatitudeOverride_Ext"
            value="dwelling.HOLocation.OverrideLatitude_Ext">
            <PostOnChange
              target="latitude_Ext"/>
          </BooleanRadioInput>
          <Input
            available="dwelling.HOLocation.OverrideLatitude_Ext"
            editable="true"
            id="latitudeUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.LatitudeUserEntered_Ext"
            required="dwelling.HOLocation.OverrideLatitude_Ext"
            value="dwelling.HOLocation.PolicyLocation.LatitudeOverridden_Ext"
            visible="dwelling.HOLocation.OverrideLatitude_Ext"/>
        </InputSet>
        <InputDivider/>
        <InputSet
          id="Longitude_Ext">
          <RangeInput
            available="!dwelling.HOLocation.OverrideLongitude_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="LongitudeTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.LongitudeTunaReturned_Ext"
            value="dwelling.HOLocation.PolicyLocation.Longitude_Ext"
            valueRange="{tunaAppResponse.Longitude}//gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.Longitude)"/>
          <Input
            available="!dwelling.HOLocation.OverrideLongitude_Ext"
            id="LongitudeMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.LongitudeMatchlevel_Ext"
            value="dwelling.HOLocation.LongitudeMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideLongitude_Ext"
            label="displaykey.Web.Homeowners.HOLocation.LongitudeOverride_Ext"
            value="dwelling.HOLocation.OverrideLongitude_Ext">
            <PostOnChange
              target="Longitude_Ext"/>
          </BooleanRadioInput>
          <Input
            available="dwelling.HOLocation.OverrideLongitude_Ext"
            editable="true"
            id="LongitudeUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.LongitudeUserEntered_Ext"
            required="dwelling.HOLocation.OverrideLongitude_Ext"
            value="dwelling.HOLocation.PolicyLocation.LongitudeOverridden_Ext"
            visible="dwelling.HOLocation.OverrideLongitude_Ext"/>
        </InputSet>
        <InputDivider/>
        <InputSet
          id="MetricsVersionValue_Ext">
          <RangeInput
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="MetricsVersionValueTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.MetricsVersionValue_Ext"
            value="dwelling.MetricsVersionValue_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.MetricsVersion)"/>
          <Input
            editable="true"
            id="MetricsVersionDateTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.MetricsVersionDate_Ext"
            value="dwelling.MetricsVersionDate_Ext"/>
          <InputDivider/>
        </InputSet>
        <!-- <Input
          editable="true"
          id="DistancetoMajorBOW_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.DistancetoMajorBOW_Ext"
          required="false"
          value="dwelling.DistancetoMajorBOW_Ext"/> -->
        <!-- <TypeKeyInput
          editable="true"
          id="DwellingOccupancy"
          label="displaykey.Web.Homeowners.Dwelling.DwellingOccupancy"
          required="true"
          value="dwelling.Occupancy">
          <PostOnChange/>
        </TypeKeyInput> -->
      </InputSet>
    </InputColumn>
    <InputColumn/>
    <InputColumn
      labelWidth="350">
      <!-- <InputSet>
        <BooleanRadioInput
          editable="true"
          id="RoomersBoarders"
          label="displaykey.Web.Homeowners.Dwelling.AnyRoomersBoarders"
          required="false"
          value="dwelling.RoomerBoarders">
          <PostOnChange/>
        </BooleanRadioInput>
        <Input
          editable="true"
          id="NumRoomersBoarders"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.NumRoomersBoarders, ScriptParameters.HOChildQuestionIndent)"
          numCols="5"
          required="true"
          value="dwelling.RoomerBoardersNumber"
          visible="dwelling.RoomerBoarders"/>
        <TypeKeyInput
          editable="true"
          id="NumUnits"
          label="displaykey.Web.Homeowners.Dwelling.NumUnits"
          required="false"
          value="dwelling.UnitsNumber"/>
        <BooleanRadioInput
          editable="true"
          id="FireWoodStove"
          label="displaykey.Web.Homeowners.Dwelling.FireWoodStove"
          required="false"
          value="dwelling.FireplaceOrWoodStoveExists"
          visible="dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO6">
          <PostOnChange/>
        </BooleanRadioInput>
        <Input
          editable="true"
          id="NumFireWoodStove"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.NumFireWoodStove, ScriptParameters.HOChildQuestionIndent)"
          numCols="5"
          required="true"
          value="dwelling.FireplaceOrWoodStovesNumber"
          visible="(dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO6) and dwelling.FireplaceOrWoodStoveExists"/>
        <BooleanRadioInput
          editable="true"
          id="SwimmingPool"
          label="displaykey.Web.Homeowners.Dwelling.SwimmingPool"
          required="false"
          value="dwelling.SwimmingPoolExists"
          visible="dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2">
          <PostOnChange/>
        </BooleanRadioInput>
        <BooleanRadioInput
          editable="true"
          id="PropertyFenced"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.PropertyFenced, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.SwimmingPoolFencing"
          visible="(dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2) and dwelling.SwimmingPoolExists"/>
        <BooleanRadioInput
          editable="true"
          id="DivingBoard"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.DivingBoard, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.SwimmingPoolDivingBoard"
          visible="(dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2) and dwelling.SwimmingPoolExists"/>
        <BooleanRadioInput
          editable="true"
          id="Trampoline"
          label="displaykey.Web.Homeowners.Dwelling.TrampolineExists"
          required="false"
          value="dwelling.TrampolineExists">
          <PostOnChange/>
        </BooleanRadioInput>
        <BooleanRadioInput
          editable="true"
          id="SafetyNet"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.SafetyNet, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.TrampolineSafetyNet"
          visible="dwelling.TrampolineExists"/>
        <BooleanRadioInput
          editable="true"
          id="WaterLeakage"
          label="displaykey.Web.Homeowners.Dwelling.WaterLeakage"
          required="false"
          value="dwelling.KnownWaterLeakage"
          visible="dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2">
          <PostOnChange/>
        </BooleanRadioInput>
        <TextAreaInput
          editable="true"
          id="WaterLeakageDesc"
          label="displaykey.Web.Homeowners.Dwelling.WaterLeakageDesc"
          labelAbove="true"
          maxChars="200"
          numCols="60"
          numRows="4"
          required="true"
          value="dwelling.KnownWaterLeakageDescription"
          visible="dwelling.KnownWaterLeakage and (dwelling.HOLine.HOPolicyType == HOPolicyType_HOE.TC_DP2 or dwelling.HOLine.HOPolicyType == HOPolicyType_HOE.TC_HO3)"/>
      </InputSet> -->
      <!-- <InputDivider/> -->
      <!-- <InputSet>
        <BooleanRadioInput
          editable="true"
          id="AnyAnimals"
          label="displaykey.Web.Homeowners.Dwelling.AnyAnimals"
          required="false"
          value="dwelling.AnimalsInDwelling">
          <PostOnChange/>
        </BooleanRadioInput>
        <ListViewInput
          id="AnimalListViewInput"
          labelAbove="true"
          visible="dwelling.AnimalsInDwelling">
          <Toolbar>
            <IteratorButtons
              iterator="animals"/>
          </Toolbar>
          <ListViewPanel>
            <RowIterator
              autoAdd="dwelling.DwellingAnimals.length == 0"
              editable="true"
              elementName="dwellingAnimal"
              id="animals"
              numEntriesRequired="1"
              numEntriesToAdd="1"
              toCreateAndAdd="dwelling.createAndAddDwellingAnimal()"
              toRemove="dwelling.removeFromDwellingAnimals(dwellingAnimal)"
              validationLabel="displaykey.Web.Homeowners.Dwelling.AtLeastOneAnimal"
              value="dwelling.DwellingAnimals">
              <Row>
                <TypeKeyCell
                  editable="true"
                  id="AnimalType"
                  label="displaykey.Web.Homeowners.Dwelling.AnimalType"
                  required="true"
                  value="dwellingAnimal.AnimalType"/>
                <TypeKeyCell
                  editable="true"
                  id="AnimalBreed"
                  label="displaykey.Web.Homeowners.Dwelling.AnimalBreed"
                  required="true"
                  value="dwellingAnimal.AnimalBreed"/>
                <RangeRadioCell
                  editable="true"
                  id="AnimalBiteHistory"
                  label="displaykey.Web.Homeowners.Dwelling.AnimalBite"
                  optionLabel="VALUE ? displaykey.Button.Yes : displaykey.Button.No"
                  required="true"
                  sortValueRange="false"
                  value="dwellingAnimal.AnimalBiteHistory"
                  valueRange="{java.lang.Boolean.TRUE, java.lang.Boolean.FALSE}"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputSet> -->
      <InputSet
        id="CAFirelineOInfo_Ext"
        visible="dwelling.PolicyPeriod.BaseState == TC_CA &amp;&amp; (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_DP3_Ext) ">
        <Label
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.Info_Ext"/>
        <InputDivider/>
        <InputSet
          id="FirelineAdjHaz_Ext">
          <RangeInput
            available="!dwelling.HOLocation.OverrideFirelineAdjHaz_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="FirelineAdjHazTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineAdjHazTunaReturned_Ext"
            required="!dwelling.HOLocation.OverrideFirelineAdjHaz_Ext"
            value="dwelling.HOLocation.FirelineAdjHaz_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.FireLinePropertyHazard)"/>
          <Input
            available="!dwelling.HOLocation.OverrideFirelineAdjHaz_Ext"
            id="FirelineAdjHazMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineAdjHazMatchlevel_Ext"
            value="dwelling.HOLocation.FirelineAdjHazMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideFirelineAdjHaz_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineAdjHazOverride_Ext"
            value="dwelling.HOLocation.OverrideFirelineAdjHaz_Ext">
            <PostOnChange/>
          </BooleanRadioInput>
          <Input
            available="dwelling.HOLocation.OverrideFirelineAdjHaz_Ext"
            editable="true"
            id="FirelineAdjHazUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineAdjHazUserEntered_Ext"
            required="dwelling.HOLocation.OverrideFirelineAdjHaz_Ext"
            value="dwelling.HOLocation.FirelineAdjHazOverridden_Ext"
            visible="dwelling.HOLocation.OverrideFirelineAdjHaz_Ext"/>
          <InputDivider/>
          <Input
            editable="true"
            id="firelineInfoFileDate_Ext"
            label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.FireLineInfoFileDate_Ext"
            value="dwelling.CAFirelineInfo.FirelineInfoFileDate"/>
        </InputSet>
        <InputDivider/>
        <InputSet
          id="FirelineSHIA_Ext">
          <RangeInput
            available="!dwelling.HOLocation.OverrideFirelineSHIA_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="FirelineSHIATunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineSHIATunaReturned_Ext"
            value="dwelling.HOLocation.FirelineSHIA_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.FireLineSHIA)"/>
          <Input
            available="!dwelling.HOLocation.OverrideFirelineSHIA_Ext"
            id="FirelineSHIAMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineSHIAMatchlevel_Ext"
            value="dwelling.HOLocation.FirelineSHIAMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideFirelineSHIA_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineSHIAOverride_Ext"
            value="dwelling.HOLocation.OverrideFirelineSHIA_Ext">
            <PostOnChange/>
          </BooleanRadioInput>
          <Input
            available="dwelling.HOLocation.OverrideFirelineSHIA_Ext"
            editable="true"
            id="FirelineSHIAUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineSHIAUserEntered_Ext"
            required="dwelling.HOLocation.OverrideFirelineSHIA_Ext"
            value="dwelling.HOLocation.FirelineSHIAOverridden_Ext"
            visible="dwelling.HOLocation.OverrideFirelineSHIA_Ext"/>
        </InputSet>
        <InputDivider/>
        <InputSet
          id="FirelinePropHaz_Ext">
          <RangeInput
            available="!dwelling.HOLocation.OverrideFirelinePropHaz_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="FirelinePropHazTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelinePropTunaReturned_Ext"
            value="dwelling.HOLocation.FirelinePrHaz_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.FireLinePropertyHazard)"/>
          <Input
            available="!dwelling.HOLocation.OverrideFirelinePropHaz_Ext"
            id="FirelinePropHazMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelinePropMatchlevel_Ext"
            value="dwelling.HOLocation.FirelinePropHazMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideFirelinePropHaz_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelinePropOverride_Ext"
            value="dwelling.HOLocation.OverrideFirelinePropHaz_Ext">
            <PostOnChange/>
          </BooleanRadioInput>
          <Input
            available="dwelling.HOLocation.OverrideFirelinePropHaz_Ext"
            editable="true"
            id="FirelinePropHazUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelinePropUserEntered_Ext"
            required="dwelling.HOLocation.OverrideFirelinePropHaz_Ext"
            value="dwelling.HOLocation.FirelinePropHazOverridden_Ext"
            visible="dwelling.HOLocation.OverrideFirelinePropHaz_Ext"/>
        </InputSet>
        <InputDivider/>
        <InputSet
          id="FirelineFuelHaz_Ext">
          <RangeInput
            available="!dwelling.HOLocation.OverrideFirelineFuel_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="FirelineFuelTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineFuelTunaReturned_Ext"
            value="dwelling.HOLocation.FirelineFuel_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.FireLineFuel)"/>
          <Input
            available="!dwelling.HOLocation.OverrideFirelineFuel_Ext"
            id="FirelineFuelMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineFuelMatchlevel_Ext"
            value="dwelling.HOLocation.FirelineFuelMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideFirelineFuel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineFuelOverride_Ext"
            value="dwelling.HOLocation.OverrideFirelineFuel_Ext">
            <PostOnChange/>
          </BooleanRadioInput>
          <Input
            available="dwelling.HOLocation.OverrideFirelineFuel_Ext"
            editable="true"
            id="FirelineFuelUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelineFuelUserEntered_Ext"
            required="dwelling.HOLocation.OverrideFirelineFuel_Ext"
            value="dwelling.HOLocation.FirelineFuelOverridden_Ext"
            visible="dwelling.HOLocation.OverrideFirelineFuel_Ext"/>
        </InputSet>
        <InputDivider/>
        <InputSet
          id="Fireslope_Ext">
          <RangeInput
            available="!dwelling.HOLocation.OverrideFireslope_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="FireslopeTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FireslopeTunaReturned_Ext"
            value="dwelling.HOLocation.Fireslope_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.FireLineSlope)"/>
          <Input
            available="!dwelling.HOLocation.OverrideFireslope_Ext"
            id="FireslopeMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FireslopeMatchlevel_Ext"
            value="dwelling.HOLocation.FireslopeMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideFireslope_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FireslopeOverride_Ext"
            value="dwelling.HOLocation.OverrideFireslope_Ext">
            <PostOnChange/>
          </BooleanRadioInput>
          <Input
            available="dwelling.HOLocation.OverrideFireslope_Ext"
            editable="true"
            id="FireslopeUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FireslopeUserEntered_Ext"
            required="dwelling.HOLocation.OverrideFireslope_Ext"
            value="dwelling.HOLocation.FireslopeOverridden_Ext"
            visible="dwelling.HOLocation.OverrideFireslope_Ext"/>
        </InputSet>
        <InputDivider/>
        <InputSet
          id="Fireaccess_Ext">
          <RangeInput
            available="!dwelling.HOLocation.OverrideFireaccess_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="FireaccessTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FireaccessTunaReturned_Ext"
            value="dwelling.HOLocation.Fireaccess_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.FireLineAccess)"/>
          <Input
            available="!dwelling.HOLocation.OverrideFireaccess_Ext"
            id="FireaccessMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FireaccessMatchlevel_Ext"
            value="dwelling.HOLocation.FireaccessMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideFireaccess_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FireaccessOverride_Ext"
            value="dwelling.HOLocation.OverrideFireaccess_Ext">
            <PostOnChange/>
          </BooleanRadioInput>
          <Input
            available="dwelling.HOLocation.OverrideFireaccess_Ext"
            editable="true"
            id="FireaccessUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FireaccessUserEntered_Ext"
            required="dwelling.HOLocation.OverrideFireaccess_Ext"
            value="dwelling.HOLocation.FireaccessOverridden_Ext"
            visible="dwelling.HOLocation.OverrideFireaccess_Ext"/>
        </InputSet>
        <InputDivider/>
        <InputSet
          id="Firelinematchlevelval_Ext">
          <RangeInput
            available="!dwelling.HOLocation.OverrideFirelnmthlevelval_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="FirelinematchlevelvalTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelinematchlevelvalTunaReturned_Ext"
            value="dwelling.HOLocation.Firelinemthlvl_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.FireLineMatchLevel)"/>
          <Input
            available="!dwelling.HOLocation.OverrideFirelnmthlevelval_Ext"
            id="FirelinematchlevelvalMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelinematchlevelvalMatchlevel_Ext"
            value="dwelling.HOLocation.FirelinemthlvlMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideFirelinematchlevelval_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelinematchlevelvalOverride_Ext"
            value="dwelling.HOLocation.OverrideFirelnmthlevelval_Ext">
            <PostOnChange/>
          </BooleanRadioInput>
          <Input
            available="dwelling.HOLocation.OverrideFirelnmthlevelval_Ext"
            editable="true"
            id="FirelinematchlevelvalUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.FirelinematchlevelvalUserEntered_Ext"
            required="dwelling.HOLocation.OverrideFirelnmthlevelval_Ext"
            value="dwelling.HOLocation.FirelinemhlvlOverridden_Ext"
            visible="dwelling.HOLocation.OverrideFirelnmthlevelval_Ext"/>
        </InputSet>
        <InputDivider/>
      </InputSet>
      <InputSet
        id="FloodRelatedQns_Ext"
        visible="dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO3 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO6 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_DP3_EXT)">
        <BooleanRadioInput
          editable="true"
          id="FloodCoverage_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.FloodCoverage_Ext"
          value="dwelling.FloodCoverage_Ext"
          visible="(dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.HOPolicyType == TC_HO3 || dwelling.HOPolicyType == TC_HO6 || dwelling.HOPolicyType == TC_DP3_Ext)) &amp;&amp; dwelling.isFloodExcludedZipCode(dwelling)">
          <PostOnChange/>
        </BooleanRadioInput>
        <Input
          id="FloodRiskType_Ext"
          label="displaykey.Web.Homeowners.DwellingConstruction.FloodRiskType"
          required="false"
          value="dwelling.getFloodRiskTypeValue(dwelling)"
          visible="(dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.HOPolicyType == TC_HO3 || dwelling.HOPolicyType == TC_HO6 || dwelling.HOPolicyType == TC_DP3_EXT)) &amp;&amp; (dwelling.FloodCoverage_Ext!=null &amp;&amp; dwelling.FloodCoverage_Ext)"/>
        <Input
          editable="true"
          id="PostFirm_Ext"
          label="displaykey.Web.Homeowners.DwellingConstruction.PostFirm"
          required="false"
          value="dwelling.PostFIRM_Ext"
          visible="dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.HOPolicyType == TC_HO3 || dwelling.HOPolicyType == TC_HO6 || dwelling.HOPolicyType == TC_DP3_EXT)">
          <PostOnChange/>
        </Input>
        <InputDivider
          visible="gw.lob.ho.HODwellingUtil_HOE.isElevnAvailable(dwelling)"/>
        <InputSet
          id="BaseFloodElVal_Ext"
          visible="gw.lob.ho.HODwellingUtil_HOE.isElevnAvailable(dwelling)">
          <RangeInput
            available="!dwelling.OverrideBaseFloodElVal_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="BaseFloodElValTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.BaseFloodElValTunaReturned_Ext"
            value="dwelling.BaseFloodElVal_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.BaseFloodElevation)"/>
          <Input
            available="!dwelling.OverrideBaseFloodElVal_Ext"
            id="BaseFloodElValMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.BaseFloodElValMatchlevel_Ext"
            value="dwelling.BaseFloodElValMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideBaseFloodElVal_Ext"
            label="displaykey.Web.Homeowners.HOLocation.BaseFloodElValOverride_Ext"
            value="dwelling.OverrideBaseFloodElVal_Ext">
            <PostOnChange/>
          </BooleanRadioInput>
          <Input
            available="dwelling.OverrideBaseFloodElVal_Ext"
            editable="true"
            id="BaseFloodElValUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.BaseFloodElValUserEntered_Ext"
            requestValidationExpression="VALUE.Numeric ? null : displaykey.Validator.PositiveInteger(VALUE)"
            required="dwelling.OverrideBaseFloodElVal_Ext"
            value="dwelling.BaseFloodElValOverridden_Ext"
            visible="dwelling.OverrideBaseFloodElVal_Ext"/>
        </InputSet>
        <InputDivider/>
        <TypeKeyInput
          editable="true"
          id="AbveBlwBaseFldElvtn_Ext"
          label="displaykey.Web.Homeowners.AbveBlwBaseFldElvtn_Ext"
          required="false"
          value="dwelling.AbveBlwBaseFldElvtn_Ext"
          visible="gw.lob.ho.HODwellingUtil_HOE.isElevnAvailable(dwelling)"/>
        <TypeKeyInput
          editable="true"
          id="PriorFloodInsProvider_Ext"
          label="displaykey.Web.Homeowners.PriorFloodInsProvider_Ext"
          required="false"
          value="dwelling.PriorFloodInsProvider_Ext"
          visible="dwelling.FloodCoverage_Ext"/>
        <Input
          editable="true"
          id="ExpirationDate_Ext"
          label="displaykey.Web.Homeowners.Dwelling.ExpirationDate_Ext"
          value="dwelling.ExpirationDate_Ext"
          visible="dwelling.FloodCoverage_Ext &amp;&amp; (dwelling.PriorFloodInsProvider_Ext == TC_NFIP || dwelling.PriorFloodInsProvider_Ext == TC_PrivateCarrier)"/>
        <TypeKeyInput
          available="dwelling.isCoastLocationCountyExists(dwelling)"
          id="CoastLocation_Ext"
          label="displaykey.Web.Homeowners.HODwelling.CoastLocation_Ext"
          required="false"
          value="dwelling.eastORWestCoastLocation(dwelling)"
          visible="dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.FloodCoverage_Ext!=null &amp;&amp; dwelling.FloodCoverage_Ext) &amp;&amp; (dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO3 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO6 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_DP3_EXT)"/>
        <BooleanRadioInput
          editable="true"
          id="BasementHome_Ext"
          label="displaykey.Web.Homeowners.Dwelling.BasementHome_Ext"
          required="false"
          value="dwelling.BasementHome_Ext"
          visible="dwelling.FloodCoverage_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="BarrierIsland_Ext"
          label="displaykey.Web.Homeowners.Dwelling.BarrierIsland_Ext"
          required="false"
          value="dwelling.BarrierIsland_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="PropertyLocatedIn_Ext"
          label="displaykey.Web.Homeowners.Dwelling.PropertyLocatedIn_Ext"
          required="false"
          value="dwelling.PropertyLocatedIn_Ext"
          visible="dwelling.FloodCoverage_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="SustainedFloodDmge_Ext"
          label="displaykey.Web.Homeowners.Dwelling.SustainedFloodDmge_Ext"
          required="false"
          value="dwelling.SustainedFloodDmge_Ext"
          visible="dwelling.FloodCoverage_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="ElevatedRiskCredit_Ext"
          label="displaykey.Web.Homeowners.Dwelling.ElevatedRiskCredit_Ext"
          required="false"
          value="dwelling.ElevatedRiskCredit_Ext"
          visible="dwelling.FloodCoverage_Ext"/>
      </InputSet>
      <InputDivider
        visible="dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO3 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO6 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_DP3_EXT)"/>
      <InputSet
        id="EarthquakeCovQns_Ext">
        <BooleanRadioInput
          editable="true"
          id="EarthquakeCoverage_Ext"
          label="displaykey.Web.Homeowners.Dwelling.EarthquakeCoverage_Ext"
          required="false"
          value="dwelling.EarthquakeCoverage_Ext"
          visible="((HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.PolicyPeriod.BaseState == TC_CA or dwelling.PolicyPeriod.BaseState == TC_SC or dwelling.PolicyPeriod.BaseState == TC_NV or dwelling.PolicyPeriod.BaseState == TC_NC))) or (dwelling.HOPolicyType == TC_DP3_Ext &amp;&amp; dwelling.PolicyPeriod.BaseState == TC_CA) or (dwelling.HOPolicyType == TC_LPP_Ext &amp;&amp; dwelling.PolicyPeriod.BaseState == TC_NC) or dwelling.PolicyPeriod.BaseState == TC_AZ">
          <PostOnChange
            target="EarthquakeCovQns_Ext"/>
        </BooleanRadioInput>
        <!-- <Input
          editable="true"
          id="EarthquakeZone_Ext"
          label="displaykey.Web.Homeowners.Dwelling.EarthquakeZone_Ext"
          value="dwelling.EarthquakeZone_Ext"
          visible="dwelling.EarthquakeCoverage_Ext!=null &amp;&amp; dwelling.EarthquakeCoverage_Ext &amp;&amp; dwelling.isEarthQuakeTerritoryVisible//(dwelling.PolicyPeriod.BaseState == TC_NC &amp;&amp; (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_LPP_Ext))"/> -->
        <InputSet
          id="EarthquakeTerritory_Ext"
          visible="dwelling.isEarthQuakeTerritoryVisible//dwelling.HOLocation.PolicyLocation.State.Code==&quot;NC&quot; &amp;&amp; (typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) || dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_LPP_EXT)">
          <InputDivider
            visible="dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO3 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO6 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_DP3_EXT)"/>
          <RangeInput
            available="!dwelling.OverrideEarthquakeTer_Ext"
            editable="policyPeriod.Job.Subtype!=typekey.Job.TC_POLICYCHANGE"
            id="EarthquakeTerritoryTunaReturned_Ext"
            label="displaykey.Web.Homeowners.HOLocation.EarthquakeTerritoryTunaReturned_Ext"
            required="!dwelling.OverrideEarthquakeTer_Ext"
            value="dwelling.EarthquakeTer_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.earthquakezoneValue(dwelling)//gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.EarthQuakeTerritory)"/>
          <Input
            available="!dwelling.OverrideEarthquakeTer_Ext"
            id="EarthquakeTerritoryMatchLevel_Ext"
            label="displaykey.Web.Homeowners.HOLocation.EarthquakeTerritoryMatchlevel_Ext"
            value="dwelling.EarthquakeTerMatchLevel_Ext"/>
          <BooleanRadioInput
            editable="true"
            id="OverRideEarthquakeTerritory_Ext"
            label="displaykey.Web.Homeowners.HOLocation.EarthquakeTerritoryOverride_Ext"
            value="dwelling.OverrideEarthquakeTer_Ext">
            <PostOnChange/>
          </BooleanRadioInput>
          <RangeInput
            available="dwelling.OverrideEarthquakeTer_Ext"
            editable="true"
            id="EarthquakeTerritoryUserEntered_Ext"
            label="displaykey.Web.Homeowners.HOLocation.EarthquakeTerritoryUserEntered_Ext"
            required="dwelling.OverrideEarthquakeTer_Ext"
            value="dwelling.EarthquakeTerOverridden_Ext"
            valueRange="gw.lob.ho.HODwellingUtil_HOE.earthquakezoneValue(dwelling)"
            visible="dwelling.OverrideEarthquakeTer_Ext"/>
        </InputSet>
        <InputDivider
          visible="dwelling.PolicyPeriod.BaseState == TC_FL &amp;&amp; (dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO3 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO6 || dwelling.HOPolicyType == HOPolicyType_HOE.TC_DP3_EXT)"/>
        <TypeKeyInput
          editable="true"
          id="PreExistingEarthquakeDmg_Ext"
          label="displaykey.Web.Homeowners.PreExstngEarthqukeDmg_Ext"
          required="false"
          value="dwelling.PreExstngEarthqukeDmg_Ext"
          visible="dwelling.PolicyPeriod.BaseState == TC_CA &amp;&amp; (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_DP3_Ext)"/>
        <BooleanRadioInput
          editable="true"
          id="Dwellingbuilt_Ext"
          label="displaykey.Web.Homeowners.Dwelling.Dwellingbuilt_Ext"
          required="false"
          value="dwelling.Dwellingbuilt_Ext"
          visible="dwelling.PolicyPeriod.BaseState == TC_CA &amp;&amp; (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_DP3_Ext)"/>
        <BooleanRadioInput
          editable="true"
          id="Dwellingbolted_Ext"
          label="displaykey.Web.Homeowners.Dwelling.Dwellingbolted_Ext"
          required="false"
          value="dwelling.Dwellingbolted_Ext"
          visible="dwelling.PolicyPeriod.BaseState == TC_CA &amp;&amp; (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_DP3_Ext)"/>
        <TypeKeyInput
          editable="true"
          id="Cripplewalls_Ext"
          label="displaykey.Web.Homeowners.Dwelling.Cripplewalls_Ext"
          required="false"
          value="dwelling.Cripplewalls_Ext"
          visible="dwelling.PolicyPeriod.BaseState == TC_CA &amp;&amp; (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_DP3_Ext)"/>
        <BooleanRadioInput
          editable="true"
          id="BldngFrameHeater_Ext"
          label="displaykey.Web.Homeowners.Dwelling.BldngFrameHeater_Ext"
          required="false"
          value="dwelling.BldngFrameHeater_Ext"
          visible="dwelling.PolicyPeriod.BaseState == TC_CA &amp;&amp; (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_DP3_Ext)"/>
        <TypeKeyInput
          editable="true"
          id="Masonrychimney_Ext"
          label="displaykey.Web.Homeowners.Dwelling.Masonrychimney_Ext"
          required="false"
          value="dwelling.Masonrychimney_Ext"
          visible="dwelling.PolicyPeriod.BaseState == TC_CA &amp;&amp; (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_DP3_Ext)"/>
        <TypeKeyInput
          editable="true"
          id="EarthquakeConstrn_Ext"
          label="displaykey.Web.Homeowners.Dwelling.EarthquakeConstrn_Ext"
          required="true"
          value="dwelling.EarthquakeConstrn_Ext"
          visible="dwelling.EarthquakeCoverage_Ext!=null &amp;&amp; dwelling.EarthquakeCoverage_Ext &amp;&amp; dwelling.isEarthQuakeConstructionVisible"/>
      </InputSet>
    </InputColumn>
    <Code><![CDATA[uses gw.api.util.DisplayableException
uses gw.api.util.LocationUtil
uses java.util.ArrayList
uses una.config.TunaCodesBO
uses una.config.TunaCodesDTO

function searchTaxLocation(code: String): TaxLocation {
  try{
    var taxLoc = getTaxLocation(code, polLocation)
   // TaxLocationSearchCriteria
    return taxLoc
  }catch(ex: DisplayableException){
    LocationUtil.addRequestScopedErrorMessage(ex.Message)
    return null
  }
}

function getTaxLocation(code : String, policyLocation : PolicyLocation) : TaxLocation {
  if (code == null) {
    return null
  } else {
    var state = gw.api.util.JurisdictionMappingUtil.getJurisdiction(policyLocation)
    var locs = new gw.lob.common.TaxLocationQueryBuilder()
        .withCodeStarting(code)
        .withState(state)
        .withEffectiveOnDate(policyLocation.Branch.PeriodStart)
        .build().select() as gw.api.database.IQueryBeanResult<TaxLocation>
    if (locs.Count == 1) {
      return locs.FirstResult
    } else {
      throw new DisplayableException(displaykey.TaxLocation.Search.Error.InvalidCode(code, state.Description))
    }
  }
}

function initializeTunaCodes() : TunaCodesBO {
  var initialTunaCodesBO = new TunaCodesBO()

  var bcegCode1 = new TunaCodesDTO()
  bcegCode1.Code = "2"
  bcegCode1.MatchPercentage = "5%"
      
  var bcegCode2 = new TunaCodesDTO()
  bcegCode2.Code = "5"
  bcegCode2.MatchPercentage = "10%"
  
  var bcegCodes = new ArrayList<TunaCodesDTO>()
  bcegCodes.add(bcegCode1)
  bcegCodes.add(bcegCode2)
  
  initialTunaCodesBO.BCEGValues = bcegCodes
  return initialTunaCodesBO
}
]]></Code>
  </DetailViewPanel>
</PCF>