<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="openForEdit"
    id="HODwellingProtectionDetailsHOEDV">
    <Require
      name="dwelling"
      type="Dwelling_HOE"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <InputColumn
      labelWidth="300">
      <Label
        label="displaykey.Web.Homeowners.DwellingProtection.DwellProtectionLabel"/>
      <TypeKeyInput
        editable="true"
        id="DwellingLocation"
        label="displaykey.Web.Homeowners.DwellingProtection.DwellingLocation"
        required="false"
        value="dwelling.DwellingLocation">
        <PostOnChange/>
      </TypeKeyInput>
      <Input
        editable="true"
        id="DwellingLocationDesc"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DescribeOther, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.DwellingLocationDescription"
        visible="dwelling.DwellingLocation == DwellingLocationType_HOE.TC_OTHER"/>
      <BooleanRadioInput
        editable="true"
        id="FireExtinguisher"
        label="displaykey.Web.Homeowners.DwellingProtection.FireExtinguisher"
        required="false"
        value="dwelling.FireExtinguishers"/>
      <BooleanRadioInput
        editable="true"
        id="BurglarAlarm"
        label="displaykey.Web.Homeowners.DwellingProtection.BurglarAlarm"
        required="false"
        value="dwelling.BurglarAlarm">
        <PostOnChange/>
      </BooleanRadioInput>
      <TypeKeyInput
        editable="true"
        id="BurglarAlarmType"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DwellingProtection.BurglarAlarmType, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.BurglarAlarmType"
        visible="dwelling.BurglarAlarm"/>
      <BooleanRadioInput
        editable="true"
        id="FireAlarmReportingStn"
        label="displaykey.Web.Homeowners.DwellingProtection.FireAlarReportingStn"
        required="false"
        value="dwelling.FireAlarm"/>
      <BooleanRadioInput
        editable="true"
        id="SmokeAlarm"
        label="displaykey.Web.Homeowners.DwellingProtection.SmokeAlarm"
        required="false"
        value="dwelling.SmokeAlarm">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="SmokeAlarmOnAllFloors"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DwellingProtection.SmokeAlarmOnAllFloors, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.SmokeAlarmOnAllFloors"
        visible="dwelling.SmokeAlarm"/>
    </InputColumn>
    <InputColumn
      labelWidth="225">
      <TypeKeyInput
        editable="true"
        id="SprinklerSystemType"
        label="displaykey.Web.Homeowners.DwellingProtection.SprinklerSystemType"
        required="false"
        value="dwelling.SprinklerSystemType"/>
      <BooleanRadioInput
        editable="true"
        id="Deadbolt"
        label="displaykey.Web.Homeowners.DwellingProtection.Deadbolt"
        required="false"
        value="dwelling.Deadbolts">
        <PostOnChange/>
      </BooleanRadioInput>
      <Input
        editable="true"
        id="NumberOfDeadbolt"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DwellingProtection.NumberOfDeadbolts, ScriptParameters.HOChildQuestionIndent)"
        numCols="5"
        required="true"
        value="dwelling.DeadboltsNumber"
        visible="dwelling.Deadbolts"/>
      <BooleanRadioInput
        editable="true"
        id="ResidenceVisible"
        label="displaykey.Web.Homeowners.DwellingProtection.ResidenceVisible"
        required="false"
        value="dwelling.VisibleToNeighbors"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>