<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="openForEdit"
    id="HODwellingConstructionDetailsHOEDV">
    <Require
      name="dwelling"
      type="Dwelling_HOE"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <Variable
      initialValue="new una.pageprocess.PropertyInformationCompletePluginImpl().getTunaInformation(dwelling.PolicyPeriod)"
      name="tunaAppResponse"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="gw.lob.ho.HODwellingUtil_HOE.setTunaFieldsMatchLevel(tunaAppResponse,dwelling)"
      name="setTunaFieldsMatchLevel"/>
    <InputColumn
      labelWidth="350">
      <InputDivider/>
      <InputSet
        id="NumberOfStories_Ext">
        <RangeInput
          editable="!dwelling.OverrideStoriesNumber_Ext"
          id="NumberOfStoriesTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.NumberOfStories_Ext"
          value="dwelling.StoriesNumber"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.StoryNumber)">
          <PostOnChange/>
        </RangeInput>
        <Input
          id="NumberOfStoriesMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.NumberOfStoriesMatchLevel_Ext"
          value="dwelling.StoriesNumberMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideNumberOfStories_Ext"
          label="displaykey.Web.Homeowners.HOLocation.NumberOfStoriesOverride_Ext"
          value="dwelling.OverrideStoriesNumber_Ext">
          <PostOnChange
            target="NumberOfStories_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.OverrideStoriesNumber_Ext"
          editable="true"
          id="NumberOfStoriesUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.NumberOfStoriesUserEntered_Ext"
          required="dwelling.OverrideStoriesNumber_Ext"
          value="dwelling.NoOfStoriesOverridden_Ext"
          visible="dwelling.OverrideStoriesNumber_Ext"/>
      </InputSet>
      <InputDivider/>
      <InputSet
        id="ConstructionType_Ext"
        visible="dwelling.StoriesNumber!=typekey.NumberOfStories_HOE.TC_ONEANDHALFSTORIES_EXT &amp;&amp; dwelling.StoriesNumber!=typekey.NumberOfStories_HOE.TC_TWOSTORIES_EXT ">
        <RangeInput
          editable="!dwelling.OverrideConstructionType_Ext"
          id="ConstructionTypeTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ConstructionType_Ext"
          value="dwelling.ConstructionType"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.ConstructionType)"/>
        <Input
          id="ConstructionTypeMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ConstructionTypeMatchLevel_Ext"
          value="dwelling.ConstructionTypeMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideConstructionTypel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ConstructionTypeOverride_Ext"
          value="dwelling.OverrideConstructionType_Ext">
          <PostOnChange
            target="ConstructionType_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.OverrideConstructionType_Ext"
          editable="true"
          id="ConstructionTypeUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ConstructionTypeUserEntered_Ext"
          required="dwelling.OverrideConstructionType_Ext"
          value="dwelling.ConstTypeOverridden_Ext"
          visible="dwelling.OverrideConstructionType_Ext"/>
      </InputSet>
      <Input
        editable="true"
        id="ConstType1_Ext"
        label="displaykey.Web.Homeowners.DwellingConstruction.ConstructionTypeLevel1_Ext"
        value="dwelling.ConstructionTypeL1_Ext"
        visible="dwelling.StoriesNumber==typekey.NumberOfStories_HOE.TC_ONEANDHALFSTORIES_EXT || dwelling.StoriesNumber==typekey.NumberOfStories_HOE.TC_TWOSTORIES_EXT"/>
      <Input
        editable="true"
        id="ConstType2_Ext"
        label="displaykey.Web.Homeowners.DwellingConstruction.ConstructionTypeLevel2_Ext"
        value="dwelling.ConstructionTypeL2_Ext"
        visible="dwelling.StoriesNumber==typekey.NumberOfStories_HOE.TC_ONEANDHALFSTORIES_EXT || dwelling.StoriesNumber==typekey.NumberOfStories_HOE.TC_TWOSTORIES_EXT"/>
      <InputDivider/>
      <InputSet
        id="ExteriorWFval_Ext"
        visible="dwelling.StoriesNumber!=typekey.NumberOfStories_HOE.TC_ONEANDHALFSTORIES_EXT &amp;&amp; dwelling.StoriesNumber!=typekey.NumberOfStories_HOE.TC_TWOSTORIES_EXT">
        <RangeInput
          available="!dwelling.OverrideExteriorWFval_Ext"
          editable="true"
          id="ExteriorWFvalTunaReturned_Ext"
          label="displaykey.Web.Homeowners.DwellingConstruction.ExteriorWallFinish"
          value="dwelling.ExteriorWallFinish_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.WallFinish)"/>
        <Input
          available="!dwelling.OverrideExteriorWFval_Ext"
          id="ExteriorWFvalMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ExteriorWFvalMatchlevel_Ext"
          value="dwelling.ExteriorWFvalMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideExteriorWFval_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ExteriorWFvalOverride_Ext"
          value="dwelling.OverrideExteriorWFval_Ext">
          <PostOnChange
            target="ExteriorWFval_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.OverrideExteriorWFval_Ext"
          editable="true"
          id="ExteriorWFvalUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ExteriorWFvalUserEntered_Ext"
          required="dwelling.OverrideExteriorWFval_Ext"
          value="dwelling.ExteriorWFvalueOverridden_Ext"
          visible="dwelling.OverrideExteriorWFval_Ext"/>
      </InputSet>
      <Input
        editable="true"
        id="ExteriorWFva1_Ext"
        label="displaykey.Web.Homeowners.DwellingConstruction.ExteriorWallFinish1"
        value="dwelling.ExteriorWallFinishL1_Ext"
        visible="dwelling.StoriesNumber==typekey.NumberOfStories_HOE.TC_ONEANDHALFSTORIES_EXT || dwelling.StoriesNumber==typekey.NumberOfStories_HOE.TC_TWOSTORIES_EXT"/>
      <Input
        editable="true"
        id="ExteriorWFval2_Ext"
        label="displaykey.Web.Homeowners.DwellingConstruction.ExteriorWallFinish2"
        value="dwelling.ExteriorWallFinishL2_Ext"
        visible="dwelling.StoriesNumber==typekey.NumberOfStories_HOE.TC_ONEANDHALFSTORIES_EXT || dwelling.StoriesNumber==typekey.NumberOfStories_HOE.TC_TWOSTORIES_EXT"/>
      <InputDivider/>
      <InputSet
        id="TotalSqFtVal_Ext">
        <RangeInput
          available="!dwelling.OverrideTotalSqFtVal_Ext"
          editable="true"
          id="TotalSqFtValTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TotalSqFtValTunaReturned_Ext"
          value="dwelling.SquareFootage_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.SquareFootage)"/>
        <Input
          available="!dwelling.OverrideTotalSqFtVal_Ext"
          id="TotalSqFtValMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TotalSqFtValMatchlevel_Ext"
          value="dwelling.TotalSqFtValMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideTotalSqFtVal_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TotalSqFtValOverride_Ext"
          value="dwelling.OverrideTotalSqFtVal_Ext">
          <PostOnChange
            target="TotalSqFtVal_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.OverrideTotalSqFtVal_Ext"
          editable="true"
          id="TotalSqFtValUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.TotalSqFtValUserEntered_Ext"
          required="dwelling.OverrideTotalSqFtVal_Ext"
          value="dwelling.TotalSqFtValOverridden_Ext"
          visible="dwelling.OverrideTotalSqFtVal_Ext"/>
      </InputSet>
      <InputDivider/>
      <TextInput
        editable="true"
        id="FloorLoc"
        label="displaykey.Web.Homeowners.DwellingConstruction.FloorLocation"
        required="true"
        value="dwelling.FloorLocation_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isFloorLocationVisible(dwelling)">
        <PostOnChange/>
      </TextInput>
      <BooleanRadioInput
        editable="true"
        id="UpstairsLaundrySurcharge"
        label="displaykey.Web.Homeowners.DwellingConstruction.UpstairsLaundrySurcharge"
        required="true"
        value="dwelling.UpstairsLndrySurcharge_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isUpstairsLaundrySurchargeVisible(dwelling)"/>
      <!-- <Input
        editable="true"
        id="ConstructionTypeDesc"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DescribeOther, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.ConstructionTypeDescription"
        visible="dwelling.ConstructionType == typekey.ConstructionType_HOE.TC_OTHER"/> -->
      <!-- <TypeKeyInput
        editable="true"
        id="Garage"
        label="displaykey.Web.Homeowners.DwellingConstruction.Garage"
        numCols="5"
        required="true"
        value="dwelling.Garage"
        visible="dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3">
        <PostOnChange/>
      </TypeKeyInput> -->
      <Input
        editable="true"
        id="GarageArea"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DwellingConstruction.GarageArea, ScriptParameters.HOChildQuestionIndent)"
        numCols="7"
        required="false"
        value="dwelling.GarageArea"
        visible="(dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3) and (dwelling.Garage != typekey.GarageType_HOE.TC_NONE and dwelling.Garage != null)"/>
      <!-- <BooleanRadioInput
        editable="true"
        id="CoveredPorches"
        label="displaykey.Web.Homeowners.DwellingConstruction.CoveredPorches"
        required="false"
        value="dwelling.CoveredPorch"
        visible="dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3">
        <PostOnChange/>
      </BooleanRadioInput> -->
      <!-- <Input
        editable="true"
        id="PorchArea"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DwellingConstruction.PorchArea, ScriptParameters.HOChildQuestionIndent)"
        numCols="7"
        required="false"
        value="dwelling.CoveredPorchArea"
        visible="(dwelling.CoveredPorch and (dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2) )"/> -->
      <TypeKeyInput
        editable="true"
        id="FoundationType"
        label="displaykey.Web.Homeowners.DwellingConstruction.FoundationType"
        required="false"
        value="dwelling.Foundation">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="FoundationMaterial"
        label="displaykey.Web.Homeowners.DwellingConstruction.FoundationMaterial"
        required="dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_SC &amp;&amp; (dwelling.Foundation==typekey.FoundationType_HOE.TC_STILTSPILINGS_EXT||dwelling.Foundation==typekey.FoundationType_HOE.TC_POSTPIERBEAMOPEN_EXT||dwelling.Foundation==typekey.FoundationType_HOE.TC_POSTPIERBEAMENCLOSED_EXT)"
        value="dwelling.FoundationMaterial_Ext">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="FoundationHeight"
        label="displaykey.Web.Homeowners.DwellingConstruction.FoundationHeight"
        required="dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_HI &amp;&amp; (dwelling.Foundation==typekey.FoundationType_HOE.TC_STILTSPILINGS_EXT||dwelling.Foundation==typekey.FoundationType_HOE.TC_POSTPIERBEAMOPEN_EXT||dwelling.Foundation==typekey.FoundationType_HOE.TC_POSTPIERBEAMENCLOSED_EXT)"
        value="dwelling.FoundationHeight_Ext">
        <PostOnChange/>
      </TypeKeyInput>
      <!-- <Input
        editable="true"
        id="BasementAreaFinished"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DwellingConstruction.BasementAreaFinished, ScriptParameters.HOChildQuestionIndent)"
        numCols="7"
        required="false"
        value="dwelling.BasementFinishedArea"
        visible="(dwelling.Foundation == FoundationType_HOE.TC_FULLBASEMENT and (dwelling.HOLine.HOPolicyType == HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2))"/> -->
      <!-- <Input
        editable="true"
        id="BasementAreaUnFinished"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DwellingConstruction.BasementAreaUnFinished, ScriptParameters.HOChildQuestionIndent)"
        numCols="7"
        required="false"
        value="dwelling.BasementUnfinishedArea"
        visible="(dwelling.Foundation == FoundationType_HOE.TC_FULLBASEMENT and  (dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2 ))"/> -->
      <Input
        editable="true"
        id="RoofTypeDesc"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DescribeOther, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.RoofTypeDescription"
        visible="dwelling.RoofType == typekey.RoofType.TC_OTHER"/>
      <!-- <TypeKeyInput
        editable="true"
        id="PrimaryHeating"
        label="displaykey.Web.Homeowners.DwellingConstruction.PrimaryHeating"
        required="false"
        value="dwelling.PrimaryHeating">
        <PostOnChange/>
      </TypeKeyInput> -->
      <Label
        label="&quot;Heat Source - Select all that apply&quot;"/>
      <CheckBoxInput
        editable="true"
        id="heat1"
        label="&quot;Central Electric&quot;"
        value="dwelling.HeatSrcCentralElectric">
        <PostOnChange/>
      </CheckBoxInput>
      <CheckBoxInput
        editable="true"
        id="heat2"
        label="&quot;Central Natural gas&quot;"
        value="dwelling.HeatSrcCentralNaturalGas">
        <PostOnChange/>
      </CheckBoxInput>
      <CheckBoxInput
        editable="true"
        id="heat3"
        label="&quot;Central Propane&quot;"
        value="dwelling.HeatSrcCentralPropane">
        <PostOnChange/>
      </CheckBoxInput>
      <CheckBoxInput
        editable="true"
        id="heat4"
        label="&quot;Central - Other&quot;"
        value="dwelling.HeatSrcCentralOther">
        <PostOnChange/>
      </CheckBoxInput>
      <CheckBoxInput
        editable="true"
        id="heat5"
        label="&quot;Fireplace&quot;"
        value="dwelling.HeatSrcFireplace"/>
      <CheckBoxInput
        editable="true"
        id="heat6"
        label="&quot;Wood Burning Stove&quot;"
        value="dwelling.HeatSrcWoodBurningStove">
        <PostOnChange/>
      </CheckBoxInput>
      <CheckBoxInput
        editable="true"
        id="heat7"
        label="&quot;Portable - All fuel types&quot;"
        value="dwelling.HeatSrcPortableAllFuelTypes"/>
      <!-- <TypeKeyInput
        editable="true"
        id="FuelStorageTankLocation"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DwellingConstruction.FuelStorageTankLocation, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.PrimaryHeatingFuelTankLocation"
        visible="(dwelling.PrimaryHeating == typekey.HeatingType_HOE.TC_HEATINGOIL and (dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2))"/> -->
      <BooleanRadioInput
        editable="true"
        id="Installedlicensed"
        label="displaykey.Web.Homeowners.DwellingConstruction.InstalledLicensed"
        value="dwelling.HeatSrcInstalledbyLicIns"
        visible="dwelling.HeatSrcCentralElectric &amp;&amp; dwelling.HeatSrcCentralNaturalGas &amp;&amp; dwelling.HeatSrcCentralPropane &amp;&amp; dwelling.HeatSrcCentralOther &amp;&amp; dwelling.HeatSrcWoodBurningStove"/>
      <BooleanRadioInput
        editable="true"
        id="ULListedstove"
        label="displaykey.Web.Homeowners.DwellingConstruction.ULListedStove"
        value="dwelling.ULListedstoveandchimneyflue"
        visible="dwelling.HeatSrcCentralElectric &amp;&amp; dwelling.HeatSrcCentralNaturalGas &amp;&amp; dwelling.HeatSrcCentralPropane &amp;&amp; dwelling.HeatSrcCentralOther &amp;&amp; dwelling.HeatSrcWoodBurningStove"/>
      <BooleanRadioInput
        editable="true"
        id="Sittingonnoncombbase"
        label="displaykey.Web.Homeowners.DwellingConstruction.Sittingonnoncombase"
        value="dwelling.Sittingonnoncombustiblebase"
        visible="dwelling.HeatSrcCentralElectric &amp;&amp; dwelling.HeatSrcCentralNaturalGas &amp;&amp; dwelling.HeatSrcCentralPropane &amp;&amp; dwelling.HeatSrcCentralOther &amp;&amp; dwelling.HeatSrcWoodBurningStove"/>
      <!-- <TypeKeyInput
        actionAvailable="false"
        editable="true"
        id="FuelLineLocation"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DwellingConstruction.FuelLineLocation, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.PrimaryHeatingFuelLineLocation"
        visible="(dwelling.PrimaryHeating == typekey.HeatingType_HOE.TC_HEATINGOIL and (dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2))"/> -->
      <Input
        editable="true"
        id="PrimaryHeatingTypeDesc"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DescribeOther, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.PrimaryHeatingDescription"
        visible="(dwelling.PrimaryHeating == typekey.HeatingType_HOE.TC_OTHER and (dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2))"/>
      <!-- <BooleanRadioInput
        editable="true"
        id="SecondaryHeatingExists"
        label="displaykey.Web.Homeowners.DwellingConstruction.SecondaryHeatingExists"
        required="false"
        value="dwelling.SecondaryHeatingExists"/> -->
      <!-- <TypeKeyInput
        editable="true"
        id="PlumbingSystem"
        label="displaykey.Web.Homeowners.DwellingConstruction.PlumbingSystem"
        required="false"
        value="dwelling.PlumbingType">
        <PostOnChange/>
      </TypeKeyInput> -->
      <RangeInput
        editable="true"
        id="plumbing"
        label="displaykey.Web.Homeowners.DwellingConstruction.PlumbingSystem"
        required="false"
        value="dwelling.PlumbingType"
        valueRange="gw.lob.ho.HODwellingUtil_HOE.getPlumbingRange(dwelling)"/>
      <Input
        editable="true"
        id="PlumbingTypeDesc"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DescribeOther, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.PlumbingTypeDescription"
        visible="(dwelling.PlumbingType == PlumbingType_HOE.TC_OTHER and (dwelling.HOLine.HOPolicyType == HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2))"/>
      <!-- <TypeKeyInput
        editable="true"
        id="Wiring"
        label="displaykey.Web.Homeowners.DwellingConstruction.Wiring"
        required="false"
        value="dwelling.WiringType">
        <PostOnChange/>
      </TypeKeyInput> -->
      <RangeInput
        editable="true"
        id="wiringRangeInput"
        label="displaykey.Web.Homeowners.DwellingConstruction.Wiring"
        value="dwelling.WiringType"
        valueRange="gw.lob.ho.HODwellingUtil_HOE.getWiringRange(dwelling)"/>
      <Input
        editable="true"
        id="WiringTypeDesc"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DescribeOther, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.WiringTypeDescription"
        visible="(dwelling.WiringType == typekey.WiringType_HOE.TC_OTHER and (dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2))"/>
      <!-- <TypeKeyInput
        editable="true"
        id="ElectricalSystem"
        label="displaykey.Web.Homeowners.DwellingConstruction.ElectricalSystem"
        required="true"
        value="dwelling.ElectricalType"
        visible="gw.lob.ho.HODwellingUtil_HOE.isAllHoDp(dwelling.Branch.HomeownersLine_HOE.HOPolicyType)">
        <PostOnChange/>
      </TypeKeyInput> -->
      <RangeInput
        editable="true"
        id="electricalsysRange"
        label="displaykey.Web.Homeowners.DwellingConstruction.ElectricalSystem"
        value="dwelling.ElectricalType"
        valueRange="gw.lob.ho.HODwellingUtil_HOE.getElectricalSystemRange(dwelling)"
        visible="gw.lob.ho.HODwellingUtil_HOE.isAllHoDp(dwelling.Branch.HomeownersLine_HOE.HOPolicyType)"/>
      <Input
        editable="true"
        id="ElectricalTypeDesc"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DescribeOther, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.ElectricalTypeDescription"
        visible="(dwelling.ElectricalType == typekey.BreakerType_HOE.TC_OTHER and (dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2))"/>
      <!-- <TypeKeyInput
        editable="true"
        id="panelManufacturer"
        label="displaykey.Web.Homeowners.DwellingConstruction.PanelManufacturer"
        required="true"
        value="dwelling.PanelManufacturer_Ext"/> -->
      <RangeInput
        editable="true"
        id="panelRangeInput"
        label="displaykey.Web.Homeowners.DwellingConstruction.PanelManufacturer"
        required="true"
        value="dwelling.PanelManufacturer_Ext"
        valueRange="gw.lob.ho.HODwellingUtil_HOE.getPanelManufacturingRange(dwelling)"/>
      <!-- <Input
        editable="true"
        id="NumberofAmps"
        label="displaykey.Web.Homeowners.DwellingConstruction.NumberOfAmps"
        numCols="5"
        required="false"
        value="dwelling.Amperage"
        visible="dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2"/> -->
      <!-- Dwelling Construction: changed field type to Typelist -->
      <TypeKeyInput
        editable="true"
        id="numberOfAmps"
        label="displaykey.Web.Homeowners.DwellingConstruction.NumberOfAmps"
        required="true"
        value="dwelling.NumberofAmps_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isAllHoDp(dwelling.Branch.HomeownersLine_HOE.HOPolicyType)"/>
      <!-- Being used in rating, making visible as false as per story dwelling construction -->
      <TypeKeyInput
        editable="true"
        id="WindClass"
        label="displaykey.Web.Homeowners.DwellingConstruction.WindClass"
        required="false"
        value="dwelling.WindClass"
        visible="false">
        <PostOnChange/>
      </TypeKeyInput>
      <Input
        editable="true"
        id="WindClassDesc"
        label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.DescribeOther, ScriptParameters.HOChildQuestionIndent)"
        required="true"
        value="dwelling.WindClassDescription"
        visible="(dwelling.WindClass == typekey.WindRating.TC_OTHER and (dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2))"/>
      <!-- Being used in rating, making visible as false as per story dwelling construction -->
      <Input
        editable="true"
        id="ConstructionClass"
        label="displaykey.Web.Homeowners.DwellingConstruction.ConstructionClass"
        numCols="10"
        value="dwelling.ConstructionCode"
        visible="false"/>
      <InputSet
        id="RoofingMaterial_Ext">
        <RangeInput
          editable="!dwelling.OverrideRoofType_Ext"
          id="RoofingMaterialTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.RoofingMaterial_Ext"
          value="dwelling.RoofType"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.RoofType)"/>
        <Input
          id="RoofingMaterialMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.RoofingMaterialMatchLevel_Ext"
          value="dwelling.RoofTypeMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideRoofingMaterial_Ext"
          label="displaykey.Web.Homeowners.HOLocation.RoofingMaterialOverride_Ext"
          value="dwelling.OverrideRoofType_Ext">
          <PostOnChange
            target="RoofingMaterial_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.OverrideRoofType_Ext"
          editable="true"
          id="RoofingMaterialUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.RoofingMaterialUserEntered_Ext"
          required="dwelling.OverrideRoofType_Ext"
          value="dwelling.RoofingMaterialOverridden_Ext"
          visible="dwelling.OverrideRoofType_Ext"/>
      </InputSet>
      <!-- TypeKeyInput
        editable="true"
        id="roofshareInput"
        label="displaykey.Web.Homeowners.DwellingConstruction.RoofShape"
        required="true"
        value="dwelling.RoofShape_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isAllHoDp(dwelling.Branch.HomeownersLine_HOE.HOPolicyType)"/ -->
      <InputDivider/>
      <InputSet
        id="RoofingShape_Ext">
        <RangeInput
          editable="!dwelling.OverrideRoofShape_Ext"
          id="RoofShapeTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.RoofShape_Ext"
          value="dwelling.RoofShape_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.RoofCover)"/>
        <Input
          id="RoofShapeMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.RoofShapeMatchLevel_Ext"
          value="dwelling.RoofShapeMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideRoofShape_Ext"
          label="displaykey.Web.Homeowners.HOLocation.RoofShapeOverride_Ext"
          value="dwelling.OverrideRoofShape_Ext">
          <PostOnChange
            target="RoofingShape_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.OverrideRoofShape_Ext"
          editable="true"
          id="RoofShapelUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.RoofShapeUserEntered_Ext"
          required="dwelling.OverrideRoofShape_Ext"
          value="dwelling.RoofShapeOverridden_Ext"
          visible="dwelling.OverrideRoofShape_Ext"/>
      </InputSet>
      <InputDivider/>
      <TextInput
        editable="true"
        id="numberOfRoofLayer"
        label="displaykey.Web.Homeowners.DwellingConstruction.NumberofRoofLayers"
        required="true"
        validationExpression="dwelling.NumberofRoofLayers_Ext.toString().length == 1 ? null : displaykey.Web.Homeowners.DwellingConstruction.NumberofRoofLayers.ValidateExpresion"
        value="dwelling.NumberofRoofLayers_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isAllHoDp(dwelling.Branch.HomeownersLine_HOE.HOPolicyType)"/>
      <BooleanRadioInput
        id="windstormAssociation"
        label="displaykey.Web.Homeowners.DwellingConstruction.PropertyEligibleForCoverageStateWindstormAssociation"
        required="true"
        value="dwelling.PropertyCovByStateWndstorm_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isWindstormAssociationVisible(dwelling)">
        <PostOnChange
          onChange="if(dwelling.PropertyCovByStateWndstorm_Ext){dwelling.WHurricaneHailExclusion_Ext = true} else if(!dwelling.PropertyCovByStateWndstorm_Ext){dwelling.WHurricaneHailExclusion_Ext = null}"/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code"
        id="windstormExclusion"
        label="displaykey.Web.Homeowners.DwellingConstruction.WindstormHurricaneAndHailExclusion"
        required="true"
        value="dwelling.WHurricaneHailExclusion_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isWindstormHurricaneAndHailExclusionVisible(dwelling)">
        <PostOnChange
          onChange="if(dwelling.WHurricaneHailExclusion_Ext){dwelling.WindMitigation_Ext = null gw.lob.ho.HODwellingUtil_HOE.resetDefaults(dwelling)}"/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="mitigationFormDatedWithinLast5Years"
        label="displaykey.Web.Homeowners.DwellingConstruction.MitigationFormDatedWithinLast5Years"
        required="true"
        value="dwelling.WindMitigation_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isMitigationFormDatedWithinLast5YearsVisible(dwelling)">
        <PostOnChange
          onChange="gw.lob.ho.HODwellingUtil_HOE.applyReset(dwelling)"/>
      </BooleanRadioInput>
      <InputSet
        editable="gw.lob.ho.HODwellingUtil_HOE.isMitigationQuestionsEditable(dwelling)"
        visible="gw.lob.ho.HODwellingUtil_HOE.isMitigationQuestionsVisible(dwelling)">
        <TypeKeyInput
          editable="true"
          id="roofDecking"
          label="displaykey.Web.Homeowners.DwellingConstruction.RoofDecking"
          required="true"
          value="dwelling.RoofDecking_Ext"
          visible="dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code"/>
        <!-- <TypeKeyInput
          editable="true"
          id="openingProtection"
          label="displaykey.Web.Homeowners.DwellingConstruction.OpeningProtection"
          required="true"
          value="dwelling.OpeningProtection_Ext"
          visible="gw.lob.ho.HODwellingUtil_HOE.isAllHoDp(dwelling.Branch.HomeownersLine_HOE.HOPolicyType)"/> -->
        <RangeInput
          editable="true"
          id="openProtectionInputRange"
          label="displaykey.Web.Homeowners.DwellingConstruction.OpeningProtection"
          required="true"
          value="dwelling.OpeningProtection_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getOpeningProtectionRange(dwelling)"
          visible="gw.lob.ho.HODwellingUtil_HOE.isAllHoDp(dwelling.Branch.HomeownersLine_HOE.HOPolicyType)"/>
        <!-- Only Applicable to FL - Dwelling Construction story -->
        <TypeKeyInput
          editable="true"
          id="fbcWindProtection"
          label="displaykey.Web.Homeowners.DwellingConstruction.FBCWindSpeed"
          required="true"
          value="dwelling.FBCWindSpeed_Ext"
          visible="dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code"/>
        <!-- Only applicable to FL -->
        <TypeKeyInput
          editable="true"
          id="windspeedDesign"
          label="displaykey.Web.Homeowners.DwellingConstruction.WindSpeedOfDesign"
          required="true"
          value="dwelling.WindSpeedOfDesign_Ext"
          visible="dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code"/>
        <!-- Only applicable to FL - Dwelling construction -->
        <TypeKeyInput
          editable="true"
          id="wbdr"
          label="displaykey.Web.Homeowners.DwellingConstruction.WBDR"
          required="true"
          value="dwelling.WindBorneDebrisRegion_Ext"
          visible="dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code"/>
        <TypeKeyInput
          editable="true"
          id="ipd"
          label="displaykey.Web.Homeowners.DwellingConstruction.IPD"
          required="true"
          value="dwelling.InternalPressureDsgn_Ext"
          visible="dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code"/>
        <TypeKeyInput
          editable="true"
          id="swr"
          label="displaykey.Web.Homeowners.DwellingConstruction.SWR"
          required="true"
          value="dwelling.SecondaryWaterResis_Ext"/>
        <!-- <TypeKeyInput
          editable="true"
          id="roofwallconnection"
          label="displaykey.Web.Homeowners.DwellingConstruction.RoofWallConnection"
          required="true"
          value="dwelling.RoofWallConnection_Ext"/> -->
        <RangeInput
          editable="true"
          id="roofWallConnectionRange"
          label="displaykey.Web.Homeowners.DwellingConstruction.RoofWallConnection"
          required="true"
          value="dwelling.RoofWallConnection_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getRoofWallConnectionRange(dwelling)"
          visible="(dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code and dwelling.YearBuilt &lt; 2002) or (dwelling.Branch.BaseState.Code == typekey.State.TC_SC.Code)"/>
        <TypeKeyInput
          editable="true"
          id="roofCover"
          label="displaykey.Web.Homeowners.DwellingConstruction.RoofCover"
          required="true"
          value="dwelling.RoofCover_Ext"
          visible="(dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code and dwelling.YearBuilt &lt; 2002) or (dwelling.Branch.BaseState.Code == typekey.State.TC_SC.Code)"/>
        <!-- <TypeKeyInput
          editable="true"
          id="roofDeckattachement"
          label="displaykey.Web.Homeowners.DwellingConstruction.RoofDeckAttachment"
          required="true"
          value="dwelling.RoofDeckAttachment_Ext"
          visible="(dwelling.Branch.BaseState.Code == typekey.State.TC_SC.Code or (dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code and dwelling.YearBuilt &lt; 2002))"/> -->
        <RangeInput
          editable="true"
          id="roofDeckingInput"
          label="displaykey.Web.Homeowners.DwellingConstruction.RoofDeckAttachment"
          required="true"
          value="dwelling.RoofDeckAttachment_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getRoofDeckAttachementStateRange(dwelling)"
          visible="dwelling.Branch.BaseState.Code == typekey.State.TC_SC.Code or (dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code and dwelling.YearBuilt &lt; 2002)"/>
        <TypeKeyInput
          editable="true"
          id="doorStrength"
          label="displaykey.Web.Homeowners.DwellingConstruction.DoorStrength"
          required="true"
          value="dwelling.DoorStrength_Ext"
          visible="dwelling.Branch.BaseState.Code == typekey.State.TC_SC.Code"/>
        <TypeKeyInput
          editable="true"
          id="terrain"
          label="displaykey.Web.Homeowners.DwellingConstruction.Terrain"
          required="true"
          value="dwelling.Terrain_Ext"
          visible="dwelling.Branch.BaseState.Code == typekey.State.TC_FL.Code"/>
      </InputSet>
      <BooleanRadioInput
        editable="true"
        id="hailResistiveroofcredit"
        label="displaykey.Web.Homeowners.DwellingConstruction.PanelManufacturer.DoesroofQualifyfortheHailResistiveroofcredit"
        required="true"
        value="dwelling.HailResistantRoofCredit_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isHailResistantRoofCreditVisible(dwelling)"/>
      <BooleanRadioInput
        editable="true"
        id="SubstantialbBarrierAgainstWeatherAnimalsAndDebris"
        label="displaykey.Web.Homeowners.DwellingConstruction.IstheFoundationProtectedByContinuousSubstantialbBarrierAgainstWeatherAnimalsAndDebris"
        required="true"
        value="dwelling.SubstantialBarrierDebris_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isFoundationProtectedVisible(dwelling)"/>
      <BooleanRadioInput
        editable="true"
        id="bldgThatContainAsbestos"
        label="displaykey.Web.Homeowners.DwellingConstruction.DoesPropertyHaveAnyBuildingComponentsThatContainAsbestos"
        required="true"
        value="dwelling.BldgThatContainAsbestos_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isAllHoDp(dwelling.Branch.HomeownersLine_HOE.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="roofslope"
        label="displaykey.Web.Homeowners.DwellingConstruction.DoesAnyOfPortionRoofHaveASlopeLessThanOneInchOfRaiseForEvery12Inches"
        required="true"
        value="dwelling.RoofSlope_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isAllHoDp(dwelling.Branch.HomeownersLine_HOE.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="supplementalSurcharge"
        label="displaykey.Web.Homeowners.DwellingConstruction.SupplementalHeatingSurcharge"
        required="true"
        value="dwelling.SupplHeatingSurcharge_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isSupplimentalSurchargeVisible(dwelling)"/>
    </InputColumn>
    <InputColumn
      labelWidth="250">
      <Label
        label="displaykey.Web.Homeowners.DwellingConstruction.Upgrades"/>
      <CheckBoxInput
        editable="true"
        id="HeatingUpgrade"
        label="displaykey.Web.Homeowners.DwellingConstruction.HeatingReplaced"
        value="dwelling.HeatingUpgrade"
        visible="gw.lob.ho.HODwellingUtil_HOE.isHeatingReplacedVisible(dwelling)">
        <PostOnChange
          onChange="if (dwelling.HeatingUpgrade != null and !dwelling.HeatingUpgrade) {dwelling.HeatingUpgradeDate = null}"/>
      </CheckBoxInput>
      <Input
        editable="true"
        id="HeatingUpgradeDate"
        label="gw.api.web.HtmlUtil.indent( displaykey.Web.Homeowners.DwellingConstruction.UpgradeYear, ScriptParameters.HOChildQuestionIndent)"
        numCols="8"
        required="true"
        validationExpression="(dwelling.YearBuilt != null and dwelling.HeatingUpgradeDate &lt; dwelling.YearBuilt) ? displaykey.Web.Homeowners.DwellingConstruction.HeatUpgradeYearErrorMsg : null"
        value="dwelling.HeatingUpgradeDate"
        visible="gw.lob.ho.HODwellingUtil_HOE.isHeatingReplacedVisible(dwelling) and (dwelling.HeatingUpgrade != null and dwelling.HeatingUpgrade)">
        <PostOnChange/>
      </Input>
      <CheckBoxInput
        editable="true"
        id="PlumbingUpgrade"
        label="displaykey.Web.Homeowners.DwellingConstruction.PlumbingReplaced"
        value="dwelling.PlumbingUpgrade"
        visible="gw.lob.ho.HODwellingUtil_HOE.isPlumbingReplacedVisible(dwelling)">
        <PostOnChange
          onChange="if(dwelling.PlumbingUpgrade != null and !dwelling.PlumbingUpgrade) {dwelling.PlumbingUpgradeDate = null}"/>
      </CheckBoxInput>
      <!-- <TextInput
        editable="true"
        id="plumbingReplaced"
        label="displaykey.Web.Homeowners.DwellingConstruction.PlumbingReplaced"
        required="true"
        value="dwelling.PlumbingReplaced_Ext"
        visible="gw.lob.ho.HODwellingUtil_HOE.isPlumbingReplacedVisible(dwelling)"/> -->
      <Input
        editable="true"
        id="PlumbingUpgradeDate"
        label="gw.api.web.HtmlUtil.indent( displaykey.Web.Homeowners.DwellingConstruction.UpgradeYear, ScriptParameters.HOChildQuestionIndent)"
        numCols="8"
        required="true"
        validationExpression="(dwelling.YearBuilt != null and dwelling.PlumbingUpgradeDate &lt; dwelling.YearBuilt) ? displaykey.Web.Homeowners.DwellingConstruction.PlumbingUpgradeYearErrorMsg : null"
        value="dwelling.PlumbingUpgradeDate"
        visible="gw.lob.ho.HODwellingUtil_HOE.isPlumbingReplacedVisible(dwelling) and (dwelling.PlumbingUpgrade != null and dwelling.PlumbingUpgrade)"/>
      <CheckBoxInput
        editable="true"
        id="RoofingUpgrade"
        label="displaykey.Web.Homeowners.DwellingConstruction.RoofingReplaced"
        value="dwelling.RoofingUpgrade"
        visible="gw.lob.ho.HODwellingUtil_HOE.isRoofingReplacedVisible(dwelling)">
        <PostOnChange
          onChange="if(dwelling.RoofingUpgrade != null and !dwelling.RoofingUpgrade){dwelling.RoofingUpgradeDate = null}"/>
      </CheckBoxInput>
      <!-- <TextInput
        editable="true"
        id="roofindReplaced"
        label="displaykey.Web.Homeowners.DwellingConstruction.RoofingReplaced"
        required="true"
        value="dwelling.RoofingReplaced_Ext"/> -->
      <Input
        editable="true"
        id="RoofingUpgradeDate"
        label="gw.api.web.HtmlUtil.indent( displaykey.Web.Homeowners.DwellingConstruction.UpgradeYear, ScriptParameters.HOChildQuestionIndent)"
        numCols="8"
        required="true"
        validationExpression="(dwelling.YearBuilt != null and dwelling.RoofingUpgradeDate &lt; dwelling.YearBuilt) ? displaykey.Web.Homeowners.DwellingConstruction.RoofingUpgradeYearErrorMsg : null"
        value="dwelling.RoofingUpgradeDate"
        visible="gw.lob.ho.HODwellingUtil_HOE.isRoofingReplacedVisible(dwelling) and (dwelling.RoofingUpgrade != null and dwelling.RoofingUpgrade)"/>
      <CheckBoxInput
        editable="true"
        id="ElectricalSystemUpgrade"
        label="displaykey.Web.Homeowners.DwellingConstruction.WiringReplaced"
        value="dwelling.ElectricalSystemUpgrade"
        visible="gw.lob.ho.HODwellingUtil_HOE.isWiringReplacedVisible(dwelling)">
        <PostOnChange
          onChange="if(dwelling.ElectricalSystemUpgrade != null and !dwelling.ElectricalSystemUpgrade){dwelling.ElectricalSystemUpgradeDate = null}"/>
      </CheckBoxInput>
      <Input
        editable="true"
        id="ElectricalUpgradeDate"
        label="gw.api.web.HtmlUtil.indent( displaykey.Web.Homeowners.DwellingConstruction.UpgradeYear, ScriptParameters.HOChildQuestionIndent)"
        numCols="8"
        required="true"
        validationExpression="(dwelling.YearBuilt != null and dwelling.ElectricalSystemUpgradeDate &lt; dwelling.YearBuilt) ? displaykey.Web.Homeowners.DwellingConstruction.ElectricalUpgradeYearErrorMsg : null"
        value="dwelling.ElectricalSystemUpgradeDate"
        visible="gw.lob.ho.HODwellingUtil_HOE.isWiringReplacedVisible(dwelling) and (dwelling.ElectricalSystemUpgrade != null and dwelling.ElectricalSystemUpgrade)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>