<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="openForEdit"
    id="HODwellingDetailsHOEDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="dwelling"
      type="Dwelling_HOE"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="dwelling.HOLocation.PolicyLocation"
      name="polLocation"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="gw.lob.ho.HODwellingUtil_HOE.isProtectedSubDivisionVisible(policyPeriod, dwelling)"
      name="isProtectedSubDivisonVisible"
      recalculateOnRefresh="true"
      type="boolean"/>
    <Variable
      initialValue="initializeTunaCodes()"
      name="tunaCodesAppResponseObj"
      type="una.config.TunaCodesBO"/>
    <Variable
      initialValue="new una.pageprocess.PropertyInformationCompletePluginImpl().getDwellingInformation(policyPeriod)"
      name="tunaAppResponse"/>
    <InputColumn
      labelWidth="250">
      <Label
        label="displaykey.Web.Homeowners.HOLocation.LocationInfo_Ext"/>
      <InputSetRef
        def="HODwellingLocationHOEInputSet(dwelling, policyPeriod, openForEdit, jobWizardHelper )"/>
      <Input
        editable="true"
        id="YearBuilt"
        label="displaykey.Web.Homeowners.DwellingConstruction.YearBuilt"
        numCols="8"
        required="true"
        validationExpression="(dwelling.YearBuilt != null and dwelling.YearBuilt &lt;= (java.util.Date.CurrentDate.YearOfDate + 1)) ? null : displaykey.Web.Homeowners.DwellingConstruction.YearBuilt.ValidateYear "
        value="dwelling.YearBuilt">
        <PostOnChange
          onChange="gw.lob.ho.HODwellingUtil_HOE.applyReset(dwelling)"
          target="deedInfo_Ext"/>
      </Input>
      <InputSet
        editable="true"
        id="TerritoryCodeInputSet"
        visible="dwelling.HOLocation.PolicyLocation != null and dwelling.HOLocation.PolicyLocation.TerritoryCodes.length != 0">
        <InputIterator
          elementName="TerritoryCode"
          value="dwelling.HOLocation.PolicyLocation.TerritoryCodes">
          <IteratorSort
            sortBy="TerritoryCode.PolicyLinePattern.Priority"
            sortOrder="1"/>
          <PickerInput
            available="dwelling.HOLocation.PolicyLocation.State != null"
            editable="true"
            id="TerritoryCode"
            label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCode(TerritoryCode.PolicyLinePattern.DisplayName)"
            pickLocation="TerritoryCodeSearchPopup.push(dwelling.HOLine.Branch, TerritoryCode)"
            required="true"
            value="TerritoryCode.Code"/>
          <!-- <RangeInput
            available="dwelling.HOLocation.PolicyLocation.State != null"
            editable="true"
            id="TerritoryCode"
            label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCode(TerritoryCode.PolicyLinePattern.DisplayName)"
            required="true"
            validationExpression="TerritoryCode.prelimValidate()"
            value="TerritoryCode.Code"
            valueRange="tunaAppResponse.TerritoryCodes"/> -->
        </InputIterator>
      </InputSet>
      <InputSet
        visible="dwelling.HOLocation.PolicyLocation != null">
        <!-- <PickerInput
          editable="true"
          id="LocalTaxJurisdictionId"
          inputConversion="searchTaxLocation(VALUE)"
          label="displaykey.Web.Homeowners.HOLocation.LocalTaxJurisdiction"
          pickLocation="TaxLocationSearchPopup.push(dwelling.HOLine.Branch, gw.api.util.JurisdictionMappingUtil.getJurisdiction(dwelling.HOLocation.PolicyLocation))"
          required="true"
          value="dwelling.HOLocation.PolicyLocation.TaxLocation"
          visible="gw.api.domain.StateSet.get(&quot;TaxLocation&quot;).contains(dwelling.HOLocation.PolicyLocation.State)"/> -->
        <Input
          editable="true"
          id="DistToFireHydrant"
          label="displaykey.Web.Homeowners.HOLocation.DisToFireHydrant"
          required="true"
          value="dwelling.HOLocation.DistanceToFireHydrant">
          <PostOnChange
            onChange="dwelling.HOLocation.DwellingProtectionClassCode = null"
            target="DATA_ONLY"/>
        </Input>
        <Input
          editable="true"
          id="DistToFireStation"
          label="displaykey.Web.Homeowners.HOLocation.DisToFireStation"
          required="true"
          value="dwelling.HOLocation.DistanceToFireStation">
          <PostOnChange
            onChange="dwelling.HOLocation.DwellingProtectionClassCode = null"
            target="DATA_ONLY"/>
        </Input>
        <Input
          editable="true"
          id="respondingFireDept_Ext"
          label="displaykey.Web.Homeowners.HOLocation.RespondingFireDepartment_Ext"
          value="dwelling.HOLocation.RespondingFireDept_Ext"/>
        <TypeKeyInput
          editable="true"
          id="FireDeptMLvlsss"
          label="displaykey.Web.Homeowners.HOLocation.RespondingFireDeptMatchLevel_Ext"
          value="dwelling.HOLocation.FireDeptMatchLevel_Ext"/>
        <!-- <BooleanRadioInput
          editable="true"
          id="FloodFireHazard"
          label="displaykey.Web.Homeowners.HOLocation.FloodingFireHazard"
          required="true"
          value="dwelling.HOLocation.FloodingHazard"/> -->
        <!-- <BooleanRadioInput
          editable="true"
          id="WithinCommericalProperty"
          label="displaykey.Web.Homeowners.HOLocation.WithinCommercialProperty"
          required="true"
          value="dwelling.HOLocation.NearCommercial"/> -->
        <Input
          boldValue="true"
          editable="true"
          id="ProtectionClassCode"
          label="displaykey.Web.Homeowners.HOLocation.ProtectionClass"
          value="dwelling.HOLocation.DwellingProtectionClassCode"/>
        <BooleanRadioInput
          editable="true"
          id="protectedSubdivision"
          label="displaykey.Web.Homeowners.HOLocation.ProtectedSubdivision_Ext"
          value="dwelling.HOLocation.ProtectedSubDivision_Ext"
          visible="isProtectedSubDivisonVisible">
          <PostOnChange
            onChange="if(!dwelling.HOLocation.ProtectedSubDivision_Ext &amp;&amp; dwelling.HOLocation.SubdivisionName_Ext != null) {dwelling.HOLocation.SubdivisionName_Ext = null dwelling.HOLocation.DwellingProtectionClassCode = null}"
            target="subDivisionName_Ext"/>
        </BooleanRadioInput>
        <RangeInput
          editable="true"
          id="subDivisionName_Ext"
          label="displaykey.Web.Homeowners.HOLocation.SubDivisionName_Ext"
          value="dwelling.HOLocation.SubdivisionName_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getSubdivisionNames(policyPeriod.BaseState)"
          visible="dwelling.HOLocation.ProtectedSubDivision_Ext">
          <PostOnChange
            onChange="gw.lob.ho.HODwellingUtil_HOE.resetProtectionClassCode(policyPeriod.BaseState, dwelling.HOLocation)"/>
        </RangeInput>
      </InputSet>
      <Input
        id="distanceToCoast"
        label="displaykey.Web.Homeowners.HOLocation.DistanceToCoast_Ext"
        value="dwelling.HOLocation.DistToCoastTunaReturned_Ext"/>
      <Input
        editable="true"
        id="latitude_Ext"
        label="displaykey.Web.Homeowners.HOLocation.Latitude_Ext"
        value="dwelling.HOLocation.PolicyLocation.Latitude_Ext"/>
      <Input
        editable="true"
        id="Longitude_Ext"
        label="displaykey.Web.Homeowners.HOLocation.Longitude_Ext"
        value="dwelling.HOLocation.PolicyLocation.Longitude_Ext"/>
      <Input
        id="DwellingReplacement"
        label="displaykey.Web.Homeowners.Dwelling.EstReplacementCost"
        numCols="10"
        required="false"
        value="dwelling.ReplacementCost"/>
      <Input
        id="iso360ValueID_Ext"
        label="displaykey.Web.Homeowners.HOLocation.ISO360ValueID_Ext"
        value="dwelling.HOLocation.ISO360ValueID_Ext"/>
      <InputDivider/>
      <InputSet
        id="bceg_Ext">
        <RangeInput
          editable="!dwelling.HOLocation.OverrideBCEG_Ext"
          id="BCEGTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.BCEGTunaReturned_Ext"
          value="dwelling.HOLocation.BCEGTunaReturned_Ext"
          valueRange="tunaAppResponse.BCEGGrade">
          <PostOnChange
            onChange="if(tunaAppResponse.BCEGGrade.Count == 1) {dwelling.HOLocation.BCEGMatchLevel_Ext = TC_EXACT} else {dwelling.HOLocation.BCEGMatchLevel_Ext = TC_USERENTERED}"
            target="bceg_Ext"/>
        </RangeInput>
        <Input
          id="Test1"
          label="&quot;Test1&quot;"
          value="dwelling.HOLocation.BCEGTunaReturned_Ext"/>
        <Input
          id="BCEGMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.BCEGMatchlevel_Ext"
          value="dwelling.HOLocation.BCEGMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideTunaBCEG_Ext"
          label="displaykey.Web.Homeowners.HOLocation.BCEGOverride_Ext"
          value="dwelling.HOLocation.OverrideBCEG_Ext">
          <PostOnChange
            target="bceg_Ext"/>
        </BooleanRadioInput>
        <Input
          editable="true"
          id="BCEGUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.BCEGUserEntered_Ext"
          value="dwelling.HOLocation.BCEGUserEntered_Ext"/>
      </InputSet>
      <InputDivider/>
      <InputSet
        id="PCCode_Ext">
        <RangeInput
          available="!dwelling.HOLocation.OverrideDwellingPCCode_Ext"
          editable="true"
          id="PCCodeTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.ProtectionClass"
          value="dwelling.HOLocation.DwellingPCCodeTunaReturned_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.ProtectionClass)">
          <PostOnChange
            onChange="if(tunaAppResponse.ProtectionClass.Count == 1) {dwelling.HOLocation.DwellingPCCodeMatchLevel_Ext = TC_EXACT} else {dwelling.HOLocation.DwellingPCCodeMatchLevel_Ext = TC_USERENTERED}"
            target="bceg_Ext"/>
        </RangeInput>
        <Input
          available="!dwelling.HOLocation.OverrideDwellingPCCode_Ext"
          id="PCCodeMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PCCodeMatchlevel_Ext"
          value="dwelling.HOLocation.BCEGMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideTunaBCEG_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PCCodeOverride_Ext"
          value="dwelling.HOLocation.OverrideDwellingPCCode_Ext">
          <PostOnChange
            target="PCCode_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.HOLocation.OverrideDwellingPCCode_Ext"
          editable="true"
          id="PCCodeUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.PCCodeUserEntered_Ext"
          value="dwelling.HOLocation.DwellingProtectionClassCode"/>
      </InputSet>
      <InputDivider/>
      <InputSet
        id="WindPool_Ext">
        <RangeInput
          available="!dwelling.HOLocation.OverrideWindPool_Ext"
          editable="true"
          id="WindPoolTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.WindPoolTunaReturned_Ext"
          value="dwelling.HOLocation.WindPoolTunaReturned_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.WindPool)">
          <PostOnChange
            onChange="if(tunaAppResponse.WindPool.Count == 1) {dwelling.HOLocation.WindPoolMatchLevel_Ext = TC_EXACT} else {dwelling.HOLocation.WindPoolMatchLevel_Ext = TC_USERENTERED}"
            target="WindPool_Ext"/>
        </RangeInput>
        <Input
          available="!dwelling.HOLocation.OverrideWindPool_Ext"
          id="WindPoolMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.WindPoolMatchlevel_Ext"
          value="dwelling.HOLocation.WindPoolMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideTunaWindPool_Ext"
          label="displaykey.Web.Homeowners.HOLocation.WindPoolOverride_Ext"
          value="dwelling.HOLocation.OverrideWindPool_Ext">
          <PostOnChange
            target="WindPool_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.HOLocation.OverrideWindPool_Ext"
          editable="true"
          id="bcegUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.WindPoolUserEntered_Ext"
          value="dwelling.HOLocation.WindPoolUserEntered_Ext"/>
      </InputSet>
      <InputDivider/>
      <InputSet
        id="DistToCoast_Ext">
        <RangeInput
          available="!dwelling.HOLocation.OverrideDistToCoast_Ext"
          editable="true"
          id="DistToCoastTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistanceToCoast_Ext"
          value="dwelling.HOLocation.DistToCoastTunaReturned_Ext"
          valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.DistanceToCoast)">
          <PostOnChange
            onChange="if(tunaAppResponse.DistanceToCoast.Count == 1) {dwelling.HOLocation.DistToCoastMatchLevel_Ext = TC_EXACT} else {dwelling.HOLocation.DistToCoastMatchLevel_Ext = TC_USERENTERED}"
            target="WindPool_Ext"/>
        </RangeInput>
        <Input
          available="!dwelling.HOLocation.OverrideDistToCoast_Ext"
          id="DistToCoastMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistanceToCoastMatchLevel_Ext"
          value="dwelling.HOLocation.DistToCoastMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideDistToCoast_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistToCoastOverride_Ext"
          value="dwelling.HOLocation.OverrideDistToCoast_Ext">
          <PostOnChange
            target="DistToCoast_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.HOLocation.OverrideDistToCoast_Ext"
          editable="true"
          id="DistToCoastUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistanceToCoastUserEntered_Ext"
          value="dwelling.HOLocation.DistToCoastUserEntered_Ext"/>
      </InputSet>
      <InputDivider/>
      <InputSet
        id="DistToMajorBOW_Ext">
        <RangeInput
          available="!dwelling.HOLocation.OverrideDistBOW_Ext"
          editable="true"
          id="DistBOWTunaReturned_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOW_Ext"
          value="dwelling.HOLocation.DistBOWTunaReturned_Ext"
          valueRange="tunaAppResponse.Datums">
          <PostOnChange
            onChange="if(tunaAppResponse.Datums.Count == 1) {dwelling.HOLocation.DistBOWMatchLevel_Ext = TC_EXACT} else {dwelling.HOLocation.DistBOWMatchLevel_Ext = TC_USERENTERED}"
            target="WindPool_Ext"/>
        </RangeInput>
        <Input
          available="!dwelling.HOLocation.OverrideDistBOW_Ext"
          id="DistBOWMatchLevel_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWtMatchLevel_Ext"
          value="dwelling.HOLocation.DistBOWMatchLevel_Ext"/>
        <BooleanRadioInput
          editable="true"
          id="OverRideDistToCoast_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWOverride_Ext"
          value="dwelling.HOLocation.OverrideDistBOW_Ext">
          <PostOnChange
            target="DistToMajorBOW_Ext"/>
        </BooleanRadioInput>
        <Input
          available="dwelling.HOLocation.OverrideDistBOW_Ext"
          editable="true"
          id="DistToCoastUserEntered_Ext"
          label="displaykey.Web.Homeowners.HOLocation.DistBOWUserEntered_Ext"
          value="dwelling.HOLocation.DistBOWUserEntered_Ext"/>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="displaykey.Web.Homeowners.Dwelling.OccupancyInfo_Ext"/>
        <RangeInput
          editable="true"
          id="ResidenceType"
          label="displaykey.Web.Homeowners.Dwelling.ResidenceType"
          value="dwelling.ResidenceType"
          valueRange="getResidenceType()"/>
        <RangeInput
          editable="true"
          id="DwellingUse"
          label="displaykey.Web.Homeowners.Dwelling.DwellingUsage_Ext"
          value="dwelling.DwellingUsage"
          valueRange="return (dwelling.HOPolicyType == HOPolicyType_HOE.TC_HO4) ? DwellingUsage_HOE.TF_ALLEXCEPTRENTAL.TypeKeys : typekey.DwellingUsage_HOE.TF_ALL.TypeKeys ">
          <PostOnChange
            onChange="if(dwelling.NumOfMonthsConsUnOccupancy_Ext != null &amp;&amp; (dwelling.DwellingUsage != TC_SEC or dwelling.DwellingUsage != TC_SEC)) dwelling.NumOfMonthsConsUnOccupancy_Ext = null"/>
        </RangeInput>
        <Input
          editable="true"
          id="numberOfMonthsConsUnOccupancy_Ext"
          label="displaykey.Web.Homeowners.Dwelling.NumOfMonthsConsUnOccupancy_Ext"
          numCols="2"
          required="false"
          value="dwelling.NumOfMonthsConsUnOccupancy_Ext"
          visible="DwellingUsage_HOE.TC_SEAS == dwelling.DwellingUsage or DwellingUsage_HOE.TC_SEC == dwelling.DwellingUsage "/>
        <!-- <BooleanRadioInput
          editable="true"
          id="DwellingCoverageInEffect"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.DwellingCoverage, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.DwellingUsagePrimaryCoverage"
          visible="(dwelling.DwellingUsage == typekey.DwellingUsage_HOE.TC_SEC or dwelling.DwellingUsage == typekey.DwellingUsage_HOE.TC_SEAS)"/> -->
        <Input
          editable="true"
          id="dwellingPrimarilyOccupied_Ext"
          label="displaykey.Web.Homeowners.Dwelling.DwellingPrimarilyOccupied_Ext"
          required="false"
          value="dwelling.Occupancy">
          <PostOnChange/>
        </Input>
        <!-- <BooleanRadioInput
          editable="true"
          id="ApprovedBuilder"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.ApprovedBuilder, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.OccupancyApprovedBuilder"
          visible="dwelling.Occupancy == typekey.DwellingOccupancyType_HOE.TC_INCONST"/> -->
        <!-- <DateInput
          editable="true"
          id="AnticipatedOccupancy"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.AnticipatedOccupancy, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.OccupancyProjectedDate"
          visible="dwelling.Occupancy == typekey.DwellingOccupancyType_HOE.TC_INCONST"/> -->
        <!-- <Input
          editable="openForEdit"
          id="DwellingYear"
          label="displaykey.Web.Homeowners.Dwelling.YearPurchased"
          numCols="8"
          required="false"
          value="dwelling.YearPurchased"
          visible="(dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO6)">
          <PostOnChange
            target="firstTimeDeeded_Ext"/>
        </Input> -->
        <!-- <BooleanRadioInput
          editable="true"
          id="DwellingVacant"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.DwellingVacant, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.OccupancyVacant"
          visible="dwelling.Occupancy == typekey.DwellingOccupancyType_HOE.TC_VACANT"/> -->
        <BooleanRadioInput
          editable="true"
          id="MultiPolicyDiscount_Ext"
          label="displaykey.Web.Homeowners.HODwelling.MultiPolicyDiscount_Ext"
          value="(dwelling.PolicyLine as HomeownersLine_HOE).MultiPolicyDiscount_Ext"
          visible="allHomeowners_Ext()">
          <PostOnChange/>
        </BooleanRadioInput>
        <RangeInput
          editable="true"
          id="HOPolicyType"
          label="displaykey.Web.Homeowners.TypeofPolicy_Ext"
          required="false"
          value="(dwelling.PolicyLine as HomeownersLine_HOE).TypeofPolicy_Ext"
          valueRange="typekey.TypeofPolicy_Ext.Type.getTypeKeysByCategory(policyPeriod.BaseState)">
          <PostOnChange/>
        </RangeInput>
        <Input
          editable="true"
          id="PolicyNumber_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.PolicyNumber_Ext"
          value="(dwelling.PolicyLine as HomeownersLine_HOE).PolicyNumber_Ext"
          visible="(dwelling.PolicyLine as HomeownersLine_HOE).MultiPolicyDiscount_Ext == true"/>
        <InputDivider/>
        <Label
          label="if(dwelling.HOPolicyType == TC_HO4) return &quot;Dwelling - Rental Info&quot; else return &quot;Dwelling - Rental/Purchase Info&quot;"/>
        <InputSet
          id="dwellingRentedInputSet_ext"
          visible="HOpolicyType_HOE.TF_FIRETYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_HO3 or dwelling.HOPolicyType == TC_HO6 or dwelling.HOPolicyType == TC_HCONB_EXT">
          <BooleanRadioInput
            editable="true"
            id="everRentedToOthers_Ext"
            label="displaykey.Web.Homeowners.HODwelling.DwellingEverRentedToOthers_Ext"
            value="dwelling.DwellingRentedEverToOthers_Ext">
            <PostOnChange
              onChange="if(!dwelling.DwellingRentedEverToOthers_Ext &amp;&amp; dwelling.ShortestRentalPeriod_Ext != null ) dwelling.ShortestRentalPeriod_Ext = null"/>
          </BooleanRadioInput>
          <TypeKeyInput
            editable="true"
            id="shortestRentalPeriod_Ext"
            label="displaykey.Web.Homeowners.HODwelling.ShortestRentalPeriod_Ext"
            value="dwelling.ShortestRentalPeriod_Ext"
            visible="dwelling.DwellingRentedEverToOthers_Ext"/>
        </InputSet>
        <InputSet
          visible="dwelling.HOPolicyType != TC_HO4">
          <BooleanRadioInput
            editable="true"
            id="isHomeNewPurchase_Ext"
            label="displaykey.Web.Homeowners.HODwelling.IsHomeNewPurchase_Ext"
            value="dwelling.HomeNewPurchase_Ext">
            <PostOnChange
              onChange="if(!dwelling.HomeNewPurchase_Ext &amp;&amp; (dwelling.HomePurchaseDate_Ext != null)) {dwelling.HomePurchaseDate_Ext = null; } else if(dwelling.HomeNewPurchase_Ext &amp;&amp; dwelling.HomePurchaseMMYYYY_Ext != null) {dwelling.HomePurchaseMMYYYY_Ext = null}"/>
          </BooleanRadioInput>
          <DateInput
            editable="true"
            id="homePurchaseDate_Ext"
            label="displaykey.Web.Homeowners.HODwelling.HomePurchaseDate_Ext"
            value="dwelling.HomePurchaseDate_Ext"
            visible="dwelling.HomeNewPurchase_Ext"/>
          <Input
            editable="true"
            id="homePurchaseMMYYYY_Ext"
            label="displaykey.Web.Homeowners.HODwelling.HomePurchaseMMYYYY_Ext"
            value="dwelling.HomePurchaseMMYYYY_Ext"
            visible="!dwelling.HomeNewPurchase_Ext"/>
        </InputSet>
        <Input
          editable="true"
          id="moveInDate_Ext"
          label="displaykey.Web.Homeowners.HODwelling.NewPurchase_Rental_MoveInDate_Ext"
          value="dwelling.MoveInDate_Ext"
          visible="dwelling.HomeNewPurchase_Ext or dwelling.HOPolicyType == TC_HO4"/>
        <InputSet
          id="deedInfo_Ext"
          visible="dwelling.YearBuilt!= null &amp;&amp; gw.lob.ho.HODwellingUtil_HOE.isFirstTimeDeededVisible(dwelling)">
          <Input
            editable="true"
            id="firstTimeDeeded_Ext"
            label="displaykey.Web.Homeowners.Dwelling.FirstTimeDeeded_Ext"
            value="dwelling.FirstTimeDeededHome_Ext">
            <PostOnChange
              target="builderWarranty_Ext"/>
          </Input>
          <Input
            editable="true"
            id="builderWarranty_Ext"
            label="displaykey.Web.Homeowners.Dwelling.BuilderWarranty_Ext"
            value="dwelling.BuilderWarranty_Ext"
            visible="dwelling.FirstTimeDeededHome_Ext"/>
        </InputSet>
        <!-- <TypeKeyInput
          editable="true"
          id="DwellingOccupancy"
          label="displaykey.Web.Homeowners.Dwelling.DwellingOccupancy"
          required="true"
          value="dwelling.Occupancy">
          <PostOnChange/>
        </TypeKeyInput> -->
      </InputSet>
    </InputColumn>
    <InputColumn/>
    <InputColumn
      labelWidth="350">
      <!-- <InputSet>
        <BooleanRadioInput
          editable="true"
          id="RoomersBoarders"
          label="displaykey.Web.Homeowners.Dwelling.AnyRoomersBoarders"
          required="false"
          value="dwelling.RoomerBoarders">
          <PostOnChange/>
        </BooleanRadioInput>
        <Input
          editable="true"
          id="NumRoomersBoarders"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.NumRoomersBoarders, ScriptParameters.HOChildQuestionIndent)"
          numCols="5"
          required="true"
          value="dwelling.RoomerBoardersNumber"
          visible="dwelling.RoomerBoarders"/>
        <TypeKeyInput
          editable="true"
          id="NumUnits"
          label="displaykey.Web.Homeowners.Dwelling.NumUnits"
          required="false"
          value="dwelling.UnitsNumber"/>
        <BooleanRadioInput
          editable="true"
          id="FireWoodStove"
          label="displaykey.Web.Homeowners.Dwelling.FireWoodStove"
          required="false"
          value="dwelling.FireplaceOrWoodStoveExists"
          visible="dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO6">
          <PostOnChange/>
        </BooleanRadioInput>
        <Input
          editable="true"
          id="NumFireWoodStove"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.NumFireWoodStove, ScriptParameters.HOChildQuestionIndent)"
          numCols="5"
          required="true"
          value="dwelling.FireplaceOrWoodStovesNumber"
          visible="(dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO6) and dwelling.FireplaceOrWoodStoveExists"/>
        <BooleanRadioInput
          editable="true"
          id="SwimmingPool"
          label="displaykey.Web.Homeowners.Dwelling.SwimmingPool"
          required="false"
          value="dwelling.SwimmingPoolExists"
          visible="dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2">
          <PostOnChange/>
        </BooleanRadioInput>
        <BooleanRadioInput
          editable="true"
          id="PropertyFenced"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.PropertyFenced, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.SwimmingPoolFencing"
          visible="(dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2) and dwelling.SwimmingPoolExists"/>
        <BooleanRadioInput
          editable="true"
          id="DivingBoard"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.DivingBoard, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.SwimmingPoolDivingBoard"
          visible="(dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2) and dwelling.SwimmingPoolExists"/>
        <BooleanRadioInput
          editable="true"
          id="Trampoline"
          label="displaykey.Web.Homeowners.Dwelling.TrampolineExists"
          required="false"
          value="dwelling.TrampolineExists">
          <PostOnChange/>
        </BooleanRadioInput>
        <BooleanRadioInput
          editable="true"
          id="SafetyNet"
          label="gw.api.web.HtmlUtil.indent(displaykey.Web.Homeowners.Dwelling.SafetyNet, ScriptParameters.HOChildQuestionIndent)"
          required="true"
          value="dwelling.TrampolineSafetyNet"
          visible="dwelling.TrampolineExists"/>
        <BooleanRadioInput
          editable="true"
          id="WaterLeakage"
          label="displaykey.Web.Homeowners.Dwelling.WaterLeakage"
          required="false"
          value="dwelling.KnownWaterLeakage"
          visible="dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_HO3 or dwelling.HOLine.HOPolicyType == typekey.HOPolicyType_HOE.TC_DP2">
          <PostOnChange/>
        </BooleanRadioInput>
        <TextAreaInput
          editable="true"
          id="WaterLeakageDesc"
          label="displaykey.Web.Homeowners.Dwelling.WaterLeakageDesc"
          labelAbove="true"
          maxChars="200"
          numCols="60"
          numRows="4"
          required="true"
          value="dwelling.KnownWaterLeakageDescription"
          visible="dwelling.KnownWaterLeakage and (dwelling.HOLine.HOPolicyType == HOPolicyType_HOE.TC_DP2 or dwelling.HOLine.HOPolicyType == HOPolicyType_HOE.TC_HO3)"/>
      </InputSet> -->
      <!-- <InputDivider/> -->
      <!-- <InputSet>
        <BooleanRadioInput
          editable="true"
          id="AnyAnimals"
          label="displaykey.Web.Homeowners.Dwelling.AnyAnimals"
          required="false"
          value="dwelling.AnimalsInDwelling">
          <PostOnChange/>
        </BooleanRadioInput>
        <ListViewInput
          id="AnimalListViewInput"
          labelAbove="true"
          visible="dwelling.AnimalsInDwelling">
          <Toolbar>
            <IteratorButtons
              iterator="animals"/>
          </Toolbar>
          <ListViewPanel>
            <RowIterator
              autoAdd="dwelling.DwellingAnimals.length == 0"
              editable="true"
              elementName="dwellingAnimal"
              id="animals"
              numEntriesRequired="1"
              numEntriesToAdd="1"
              toCreateAndAdd="dwelling.createAndAddDwellingAnimal()"
              toRemove="dwelling.removeFromDwellingAnimals(dwellingAnimal)"
              validationLabel="displaykey.Web.Homeowners.Dwelling.AtLeastOneAnimal"
              value="dwelling.DwellingAnimals">
              <Row>
                <TypeKeyCell
                  editable="true"
                  id="AnimalType"
                  label="displaykey.Web.Homeowners.Dwelling.AnimalType"
                  required="true"
                  value="dwellingAnimal.AnimalType"/>
                <TypeKeyCell
                  editable="true"
                  id="AnimalBreed"
                  label="displaykey.Web.Homeowners.Dwelling.AnimalBreed"
                  required="true"
                  value="dwellingAnimal.AnimalBreed"/>
                <RangeRadioCell
                  editable="true"
                  id="AnimalBiteHistory"
                  label="displaykey.Web.Homeowners.Dwelling.AnimalBite"
                  optionLabel="VALUE ? displaykey.Button.Yes : displaykey.Button.No"
                  required="true"
                  sortValueRange="false"
                  value="dwellingAnimal.AnimalBiteHistory"
                  valueRange="{java.lang.Boolean.TRUE, java.lang.Boolean.FALSE}"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputSet> -->
      <InputSet
        id="CAFirelineOInfo_Ext"
        visible="dwelling.PolicyPeriod.BaseState == TC_CA &amp;&amp; (HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) or dwelling.HOPolicyType == TC_DP3_Ext) ">
        <Label
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.Info_Ext"/>
        <Input
          editable="true"
          id="adjustedHazardScore_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.AdjHazardScore_Ext"
          value="dwelling.CAFirelineInfo.AdjustedHazardScore"/>
        <Input
          editable="true"
          id="overrideAdjHazardScore_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.OverrideAdjHazardScore_Ext"
          value="dwelling.CAFirelineInfo.OverrideAdjHarardScore"/>
        <Input
          editable="true"
          id="overriddenAdjHazardScore_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.OverriddenAdjHazardScore_Ext"
          value="dwelling.CAFirelineInfo.OverriddenHarardScore_Ext"/>
        <Input
          editable="true"
          id="splHazardIntArea_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.SplHazardIntArea_Ext"
          value="dwelling.CAFirelineInfo.SplHazardIntArea"/>
        <Input
          editable="true"
          id="overrideSHIA_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.OverrideSHIA_Ext"
          value="dwelling.CAFirelineInfo.OverrideSHIA"/>
        <Input
          editable="true"
          id="overrideSHIAScore_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.OverrideSHIAScore_Ext"
          value="dwelling.CAFirelineInfo.OverrideSHIAScore"/>
        <Input
          editable="true"
          id="fuel_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.Fuel_Ext"
          value="dwelling.CAFirelineInfo.Fuel"/>
        <Input
          editable="true"
          id="slope_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.Slope_Ext"
          value="dwelling.CAFirelineInfo.Fuel"/>
        <Input
          editable="true"
          id="access_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.Access_Ext"
          value="dwelling.CAFirelineInfo.Access"/>
        <Input
          editable="true"
          id="matchIndicator_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.MatchIndicator_Ext"
          value="dwelling.CAFirelineInfo.MatchIndicator"/>
        <Input
          editable="true"
          id="firelineInfoFileDate_Ext"
          label="displaykey.Web.Homeowners.Dwelling.CAFirelineInfo.FireLineInfoFileDate_Ext"
          value="dwelling.CAFirelineInfo.FirelineInfoFileDate"/>
      </InputSet>
    </InputColumn>
    <Code><![CDATA[uses gw.api.util.DisplayableException
uses gw.api.util.LocationUtil
uses java.util.ArrayList
uses una.config.TunaCodesBO
uses una.config.TunaCodesDTO

function searchTaxLocation(code: String): TaxLocation {
  try{
    var taxLoc = getTaxLocation(code, polLocation)
   // TaxLocationSearchCriteria
    return taxLoc
  }catch(ex: DisplayableException){
    LocationUtil.addRequestScopedErrorMessage(ex.Message)
    return null
  }
}

function getTaxLocation(code : String, policyLocation : PolicyLocation) : TaxLocation {
  if (code == null) {
    return null
  } else {
    var state = gw.api.util.JurisdictionMappingUtil.getJurisdiction(policyLocation)
    var locs = new gw.lob.common.TaxLocationQueryBuilder()
        .withCodeStarting(code)
        .withState(state)
        .withEffectiveOnDate(policyLocation.Branch.PeriodStart)
        .build().select() as gw.api.database.IQueryBeanResult<TaxLocation>
    if (locs.Count == 1) {
      return locs.FirstResult
    } else {
      throw new DisplayableException(displaykey.TaxLocation.Search.Error.InvalidCode(code, state.Description))
    }
  }
}

function getResidenceType() : List<ResidenceType_HOE>{
  var residenceType = new ArrayList<ResidenceType_HOE>()
  var values = ResidenceType_HOE.getTypeKeys(false)
  values.each( \ elt -> {
    if(elt.Categories.contains(dwelling.HOPolicyType)) {
      residenceType.add(elt)  
    }
  })
  residenceType.add(ResidenceType_HOE.TC_DIYCONSTRUCTION_EXT)
  return residenceType
}

function getTunaCodes(category : String) : List<String> {
  var tuneCodes = new ArrayList<String>()
  var tunaCodesByCategory = getTunaCodesByCategory(category)

  tunaCodesByCategory?.each( \ tunaCode -> {
    tuneCodes.add(tunaCode.Code+" - "+tunaCode.MatchPercentage)
  })
  return tuneCodes
}

function getTunaCodesByCategory(category : String) : List<TunaCodesDTO>{
  switch(category) {
    case "bceg" :
        return tunaCodesAppResponseObj.BCEGValues
  }
  return null
} 

function initializeTunaCodes() : TunaCodesBO {
  var initialTunaCodesBO = new TunaCodesBO()

  var bcegCode1 = new TunaCodesDTO()
  bcegCode1.Code = "2"
  bcegCode1.MatchPercentage = "5%"
      
  var bcegCode2 = new TunaCodesDTO()
  bcegCode2.Code = "5"
  bcegCode2.MatchPercentage = "10%"
  
  var bcegCodes = new ArrayList<TunaCodesDTO>()
  bcegCodes.add(bcegCode1)
  bcegCodes.add(bcegCode2)
  
  initialTunaCodesBO.BCEGValues = bcegCodes
  return initialTunaCodesBO
}

function allHomeowners_Ext():boolean{
  if(policyPeriod.HomeownersLine_HOE.HOPolicyType==HOPolicyType_HOE.TC_HCONB_EXT||
      policyPeriod.HomeownersLine_HOE.HOPolicyType==HOPolicyType_HOE.TC_HO3||
      policyPeriod.HomeownersLine_HOE.HOPolicyType==HOPolicyType_HOE.TC_HO4||
      policyPeriod.HomeownersLine_HOE.HOPolicyType==HOPolicyType_HOE.TC_HO6||
      policyPeriod.HomeownersLine_HOE.HOPolicyType==HOPolicyType_HOE.TC_HOA_EXT||
      policyPeriod.HomeownersLine_HOE.HOPolicyType==HOPolicyType_HOE.TC_HOB_EXT){
    return true    
  }
  if(policyPeriod.BaseState==typekey.Jurisdiction.TC_HI && policyPeriod.HomeownersLine_HOE.HOPolicyType==HOPolicyType_HOE.TC_DP3_EXT){
    return true
  }  
  return false
}]]></Code>
  </DetailViewPanel>
</PCF>