<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="HOScheduledItemsLV"
    validationExpression="pcfController.validateSchedule()">
    <Require
      name="schedule"
      type="Coverage"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="pcfController"
      type="una.pageprocess.coverages.HOScheduledAdditionalInsuredPCFController"/>
    <ExposeIterator
      valueType="ErrorType"
      widget="ScheduledItemsIterator"/>
    <RowIterator
      editable="true"
      elementName="scheduledItem"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      id="ScheduledItemsIterator"
      numEntriesRequired="0"
      toRemove="pcfController.removeScheduledAdditionalInsured(scheduledItem)"
      value="pcfController.ScheduledItems">
      <!-- <IteratorSort
        sortBy="scheduledItem.getFieldValue(&quot;ScheduleNumber&quot;)"
        sortOrder="1"/> -->
      <IteratorSort
        sortBy="scheduledItem.ItemNumber"
        sortOrder="2"/>
      <Row>
        <Cell
          action="EditPolicyContactRolePopup.push(scheduledItem.AdditionalInsured, true)"
          id="additionalInsuredName"
          label="displaykey.una.coverages.scheduleditems.Name"
          required="true"
          value="scheduledItem.AdditionalInsuredName"/>
        <Cell
          id="address"
          label="displaykey.una.coverages.scheduleditems.address"
          required="true"
          value="scheduledItem.AdditionalInsuredAddress"/>
        <Cell
          editable="true"
          id="interest"
          label="displaykey.una.coverages.scheduled.interest"
          value="scheduledItem.Interest"
          visible="pcfController.isInterestFieldAvailable()"/>
        <CheckBoxCell
          editable="true"
          id="sectionI"
          label="displaykey.una.coverages.sectionIProperty"
          value="scheduledItem.IsSectionIPropertyCov"
          visible="pcfController.isSectionFieldAvailable()"/>
        <CheckBoxCell
          editable="true"
          id="sectionII"
          label="displaykey.una.coverages.sectionIILiability"
          value="scheduledItem.IsSectionIILiabilityCov"
          visible="pcfController.isSectionFieldAvailable()"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>