<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingCumulDetailsPanelSet"
    mode="HomeownersLine_HOE">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Variable
      initialValue="period.HomeownersLine_HOE"
      name="line"/>
    <Variable
      initialValue="line.VersionList.DwellingArray.map(\ dw -&gt; dw.AllVersions.last()).last()"
      name="dwelling"/>
    <Variable
      initialValue="dwelling.VersionList.Coverages.where( \ c -&gt; c.AllVersions.first().CoverageCategory.Code.equals(&quot;HODW_SectionI_HOE&quot;)).flatMap(\ c -&gt; c.Costs).flatMap(\ c -&gt; c.AllVersions).toList()"
      name="CostsSectionI"/>
    <Variable
      initialValue="line.VersionList.HOLineCoverages.where( \ c -&gt; c.AllVersions.first().CoverageCategory.Code.equals(&quot;HODW_SectionII_HOE&quot;)).flatMap(\ c -&gt; c.Costs).flatMap(\ c -&gt; c.AllVersions).toList()"
      name="CostsSectionII"/>
    <Variable
      initialValue="getOtherCosts()"
      name="CostsAdditionalCovs"/>
    <Variable
      initialValue="(line.HomeownersCosts.whereTypeIs(HomeownersLineCost_EXT).where( \ cost -&gt; cost.HOCostType != null)) as List&lt;entity.HomeownersLineCost_EXT&gt;"
      name="DiscountsOrSurChargesCosts"/>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Homeowners.PolicyType(line.Pattern.DisplayName, line.HOPolicyType.DisplayName)  "/>
      <PanelSet>
        <PanelRef
          def="RatingOverrideButtonDV(period, period.HomeownersLine_HOE, jobWizardHelper, CurrentLocation.InEditMode)"
          id="RatingOverrideButtonDV"/>
        <PanelRow>
          <PanelColumn>
            <DetailViewPanel>
              <InputColumn>
                <Label
                  label="dwelling.DisplayName"/>
              </InputColumn>
            </DetailViewPanel>
            <DetailViewPanel>
              <InputColumn>
                <ListViewInput
                  def="HOBaseCostHOELV(line)"
                  labelAbove="true"
                  mode="line.HOPolicyType">
                  <Toolbar/>
                </ListViewInput>
              </InputColumn>
            </DetailViewPanel>
            <DetailViewPanel
              visible="not CostsSectionI.Empty">
              <InputColumn>
                <Label
                  label="line.Pattern.getCoverageCategory(&quot;HODW_SectionI_HOE&quot;).DisplayName + displaykey.Web.Homeowners.Quote.IncrLimitSuffix"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="HOCostHOEDV(CostsSectionI)"
              id="sectionIIncreasedLimitsCosts"
              visible="not CostsSectionI.Empty"/>
            <DetailViewPanel
              visible="not CostsSectionII.Empty">
              <InputColumn>
                <Label
                  label="line.Pattern.getCoverageCategory(&quot;HODW_SectionII_HOE&quot;).DisplayName + displaykey.Web.Homeowners.Quote.IncrLimitSuffix"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="HOCostHOEDV(CostsSectionII)"
              id="sectionIIIncreasedLimitsCosts"
              visible="not CostsSectionII.Empty"/>
            <DetailViewPanel
              visible="not CostsAdditionalCovs.Empty">
              <InputColumn>
                <Label
                  label="displaykey.Web.Homeowners.Quote.AddlCoveragesTitle"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="HOCostHOEDV(CostsAdditionalCovs)"
              id="AdditionalCovsCosts"
              visible="not CostsAdditionalCovs.Empty"/>
            <DetailViewPanel
              visible="not DiscountsOrSurChargesCosts.Empty">
              <InputColumn>
                <Label
                  label="&quot;Discounts And Surcharges&quot;"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="HOCostHOEDiscountsOrSurchargesDV(DiscountsOrSurChargesCosts)"
              id="AdditionalCovsCostsDiscounts"
              visible="not CostsAdditionalCovs.Empty"/>
          </PanelColumn>
        </PanelRow>
      </PanelSet>
    </PanelRef>
    <Code><![CDATA[function getOtherCosts():List<HomeownersCost_HOE>{
  var allOtherCosts : List<HomeownersCost_HOE>
  allOtherCosts = dwelling.VersionList.Coverages.where( \ c -> not c.AllVersions.first().CoverageCategory.Code.equals("HODW_SectionI_HOE")).flatMap(\ c -> c.Costs).flatMap(\ c -> c.AllVersions).toList()
  allOtherCosts.addAll(line.VersionList.HOLineCoverages.where(\ c -> not c.AllVersions.first().CoverageCategory.Code.equals("HODW_SectionII_HOE")).flatMap(\ c -> c.Costs).flatMap(\ c -> c.AllVersions.toList()))
  return allOtherCosts
}]]></Code>
  </PanelSet>
</PCF>