<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingCumulDetailsPanelSet"
    mode="HomeownersLine_HOE">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Variable
      initialValue="period.HomeownersLine_HOE"
      name="line"/>
    <Variable
      initialValue="line.VersionList.DwellingArray.map(\ dw -&gt; dw.AllVersions.last()).last()"
      name="dwelling"/>
    <Variable
      initialValue="dwelling.VersionList.Coverages.where( \ c -&gt; c.AllVersions.first().CoverageCategory.Code.equals(&quot;HODW_SectionI_HOE&quot;)).flatMap(\ c -&gt; c.Costs).flatMap(\ c -&gt; c.AllVersions).toList()"
      name="CostsSectionI"/>
    <Variable
      initialValue="line.VersionList.HOLineCoverages.where( \ c -&gt; c.AllVersions.first().CoverageCategory.Code.equals(&quot;HODW_SectionII_HOE&quot;)).flatMap(\ c -&gt; c.Costs).flatMap(\ c -&gt; c.AllVersions).toList()"
      name="CostsSectionII"/>
    <Variable
      initialValue="una.pageprocess.QuoteScreenPCFController.getAdditionalCoverageCosts(dwelling)"
      name="CostsAdditionalCovs"
      recalculateOnRefresh="true"
      type="List&lt;HomeownersCost_HOE&gt;"/>
    <Variable
      initialValue="(line.HomeownersCosts.whereTypeIs(HomeownersLineCost_EXT).where( \ cost -&gt; cost.HOCostType != null and !typekey.HOCostType_Ext.TF_SECTIONIDEDCOSTS.TypeKeys.contains(cost.HOCostType))) as List&lt;entity.HomeownersLineCost_EXT&gt;"
      name="OtherCosts"/>
    <Variable
      initialValue="line.HomeownersCosts.whereTypeIs(HOTaxCost_HOE) as List&lt;entity.HOTaxCost_HOE&gt;"
      name="feeCosts"/>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Homeowners.PolicyType(line.Pattern.DisplayName, line.HOPolicyType.DisplayName)  "/>
      <PanelSet>
        <PanelRef
          def="RatingOverrideButtonDV(period, period.HomeownersLine_HOE, jobWizardHelper, CurrentLocation.InEditMode)"
          id="RatingOverrideButtonDV"/>
        <PanelRow>
          <PanelColumn>
            <DetailViewPanel>
              <InputColumn>
                <Label
                  label="dwelling.DisplayName"/>
              </InputColumn>
            </DetailViewPanel>
            <DetailViewPanel>
              <InputColumn>
                <ListViewInput
                  def="HOBaseCostHOELV(line)"
                  labelAbove="true"
                  mode="line.HOPolicyType">
                  <Toolbar/>
                </ListViewInput>
              </InputColumn>
            </DetailViewPanel>
            <DetailViewPanel
              visible="not CostsAdditionalCovs.Empty">
              <InputColumn>
                <Label
                  label="displaykey.Web.Homeowners.Quote.AddlCoveragesTitle"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="HOCostHOEDV(CostsAdditionalCovs)"
              id="AdditionalCovsCosts"
              visible="not CostsAdditionalCovs.Empty"/>
            <DetailViewPanel
              visible="not OtherCosts.Empty">
              <InputColumn>
                <Label
                  label="displaykey.Web.Homeowners.Quote.DiscountsSurchargesOtherCharges"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="HOCostHOEDiscountsOrSurchargesDV(OtherCosts)"
              id="AdditionalCovsCostsDiscounts"
              visible="not OtherCosts.Empty"/>
          </PanelColumn>
        </PanelRow>
      </PanelSet>
    </PanelRef>
    <DetailViewPanel
      visible="not feeCosts.Empty">
      <InputColumn>
        <Label
          label="&quot;Fees&quot;"/>
      </InputColumn>
    </DetailViewPanel>
    <PanelRef
      def="HOCostHOEFeesDV(feeCosts)"
      id="FeeTaxCosts"
      visible="not feeCosts.Empty"/>
  </PanelSet>
</PCF>