<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="AgentPortal"
    logout="true"
    url="{returnPortalURL}">
    <LocationEntryPoint
      signature="AgentPortal(returnPortalURL : String)"/>
    <ExitPointParameter
      locationParam="returnPortalURL"
      type="String"/>
    <ExitPointParameter
      locationParam="AccountNumber"
      type="String"/>
  </ExitPoint>
</PCF>