<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="OnBaseWebClientExitPoint"
    popup="true"
    url="{exitUrl}">
    <LocationEntryPoint
      signature="OnBaseWebClientExitPoint(webClientURL : String)"/>
    <ExitPointParameter
      locationParam="webClientURL"
      type="String"
      urlParam="exitUrl"/>
  </ExitPoint>
</PCF>