<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    editable="openForEdit"
    id="BP7BlanketDetailPanelSet">
    <Require
      name="blanket"
      type="BP7Blanket"/>
    <Require
      name="line"
      type="productmodel.BP7Line"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <PanelRow
      columnDivider="true">
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <TextInput
              id="BlanketNumber"
              label="displaykey.Web.Policy.BP7.Blanket.Number"
              value="blanket.BlanketNumber"/>
            <TypeKeyInput
              editable="openForEdit"
              id="BlanketType"
              label="displaykey.Web.Policy.BP7.Blanket.Type"
              value="blanket.BlanketType"/>
            <Input
              id="BlanketLimit"
              label="displaykey.Web.Policy.BP7.Blanket.Limit"
              value="blanket.TotalLimitDisplay"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
    <PanelDivider/>
    <DetailViewPanel>
      <InputColumn>
        <Label
          label="displaykey.Web.Policy.BP7.Blanket.BlanketCoverages"/>
        <ListViewInput
          def="BP7BlanketCoveragesLV(blanket.BlanketedCoverages, blanket, line, openForEdit, openForEdit, jobWizardHelper)">
          <Toolbar
            visible="openForEdit">
            <ToolbarButton
              action="pcf.BP7BlanketCoveragesSearchPopup.push(blanket, line, openForEdit, jobWizardHelper)"
              available="openForEdit"
              id="AddToBlanketButton"
              label="displaykey.Web.Policy.BP7.Blanket.AttachCoveragesToBlanket"/>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="blanket.removeCoverages(CheckedValues.toList(), jobWizardHelper)"
              available="openForEdit"
              id="RemoveFromBlanketButton"
              iterator="BP7BlanketCoveragesLV.BP7BlanketCoveragesIterator"
              label="displaykey.Web.Policy.BP7.Blanket.RemoveCoverage"/>
          </Toolbar>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>