<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="BP7BlanketPanelSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <PanelRef
      editable="openForEdit">
      <Toolbar>
        <IteratorButtons
          addLabel="displaykey.Web.Policy.BP7.Blanket.CreateBlanket"
          addVisible="openForEdit"
          iterator="BlanketEdit_LV"
          removeLabel="displaykey.Web.Policy.BP7.Blanket.RemoveBlanket"
          removeVisible="openForEdit"/>
      </Toolbar>
      <ListDetailPanel
        id="BlanketEdit_DP"
        selectionName="selectedBlanket"
        selectionType="BP7Blanket">
        <ListViewPanel
          id="BlanketEdit_LV">
          <RowIterator
            editable="openForEdit"
            elementName="currentBlanket"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            id="BlanketIterator"
            pickLocation="BP7BlanketPopup.push(policyPeriod.BP7Line, openForEdit, jobWizardHelper)"
            toRemove="policyPeriod.BP7Line.removeBlanket(currentBlanket)"
            type="BP7Blanket"
            validationLabel="displaykey.Web.Policy.LocationContainer.Location.Building"
            value="policyPeriod.BP7Line.Blankets">
            <Row>
              <TextCell
                action="BP7BlanketPopup.push(policyPeriod.BP7Line, currentBlanket, openForEdit, jobWizardHelper)"
                align="left"
                id="BlanketNumber"
                label="displaykey.Web.Policy.BP7.Blanket.Number"
                numCols="16"
                sortOrder="1"
                value="currentBlanket.BlanketNumber"/>
              <TextCell
                align="left"
                id="BlanketType"
                label="displaykey.Web.Policy.BP7.Blanket.Type"
                numCols="16"
                value="currentBlanket.BlanketType"/>
              <TextCell
                align="left"
                id="BlanketTotalLimit"
                label="displaykey.Web.Policy.BP7.Blanket.TotalLimit"
                numCols="16"
                value="com.guidewire.pl.system.util.NumberFormatUtil.render(currentBlanket.BlanketLimit)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <CardViewPanel
          id="BP7BlanketDetailCV">
          <Card
            id="GeneralInfoCard"
            title="displaykey.Web.Policy.BP7.Blanket.Details">
            <PanelRef
              def="BP7BlanketDetailPanelSet(selectedBlanket, policyPeriod.BP7Line, false, jobWizardHelper)"/>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </PanelRef>
  </PanelSet>
</PCF>