<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="BP7BlanketCoveragesLV">
    <Require
      name="coverages"
      type="List&lt;gw.lob.bp7.blanket.BP7Blanketable&gt;"/>
    <Require
      name="blanket"
      type="BP7Blanket"/>
    <Require
      name="line"
      type="BP7Line"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="coverageOpenForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <ExposeIterator
      valueType="gw.lob.bp7.blanket.BP7Blanketable"
      widget="BP7BlanketCoveragesIterator"/>
    <RowIterator
      checkBoxVisible="openForEdit"
      editable="openForEdit"
      elementName="coverage"
      hasCheckBoxes="true"
      id="BP7BlanketCoveragesIterator"
      pageSize="10"
      type="gw.lob.bp7.blanket.BP7Blanketable"
      value="coverages">
      <IteratorSort
        sortBy="coverage.LocationNumber"
        sortOrder="1"/>
      <IteratorSort
        sortBy="coverage"
        sortOrder="2"/>
      <Row>
        <Cell
          align="left"
          id="location"
          label="displaykey.Web.Policy.CP.Blanket.Location"
          value="coverage.LocationDescription"/>
        <Cell
          align="left"
          id="Building"
          label="displaykey.Web.Policy.CP.Blanket.Building"
          value="coverage.BuildingDescription"/>
        <Cell
          align="left"
          id="Classification"
          label="displaykey.Web.Policy.BP7.Classification.Classification"
          value="coverage.ClassificationDescription"/>
        <Cell
          align="left"
          id="Coverage"
          label="displaykey.Web.Policy.CP.Blanket.Coverage"
          value="coverage.CoverageDescription"/>
        <Cell
          align="left"
          id="Limit"
          label="displaykey.Web.Policy.BP7.Blanket.Limit"
          value="coverage.LimitValue"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>