<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <CardViewPanel
    id="BP7BuildingDetailCV">
    <Require
      name="building"
      type="BP7Building"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="building.Branch"
      name="policyPeriod"
      recalculateOnRefresh="true"
      type="PolicyPeriod"/>
    <Variable
      initialValue="building.Location"
      name="location"
      recalculateOnRefresh="true"
      type="BP7Location"/>
    <Variable
      initialValue="false"
      name="isLandscapeGarden"
      recalculateOnRefresh="true"
      type="boolean"/>
    <Variable
      initialValue="new una.pageprocess.PropertyInformationCompletePluginImpl()"
      name="propertyInformationCompletePluginImpl"/>
    <Variable
      initialValue="new una.pageprocess.PropertyInformationCompletePluginImpl().getBOPInformation(building)"
      name="tunaAppResponse"/>
    <Variable
      initialValue="gw.lob.bp7.location.BP7LocationUtil.setTunaFieldsMatchLevel(tunaAppResponse,location,building)"
      name="setTunaFieldsMatchLevel"/>
    <Card
      id="GeneralInfoCard"
      title="displaykey.Web.Policy.LocationContainer.Location.Building.Details">
      <PanelSet
        editable="openForEdit"
        id="BP7BuildingCoveragesPanelSet">
        <PanelRow>
          <PanelColumn
            width="50%">
            <PanelRef
              id="mandatory">
              <TitleBar
                title="displaykey.Web.Policy.BP7.Building.Building"/>
              <PanelSet/>
            </PanelRef>
            <DetailViewPanel
              editable="openForEdit">
              <InputColumn>
                <RangeInput
                  editable="gw.lob.bp7.utils.BP7UIDisplayUtil.rangeInputEditable(location, policyPeriod.BP7Line.BP7Locations?.toList())"
                  id="BuildingLocation"
                  label="displaykey.Web.Policy.LocationContainer.Location"
                  required="true"
                  value="location"
                  valueRange="policyPeriod.BP7Line.BP7Locations.sortBy(\ loc -&gt; loc.PolicyLocation.LocationNum)">
                  <PostOnChange
                    onChange="building.changeLocation(location, policyPeriod.Job.NewTerm); gw.api.web.PebblesUtil.invalidateIterators(CurrentLocation, BP7Building)"/>
                </RangeInput>
                <Input
                  editable="true"
                  id="Description"
                  label="displaykey.Web.Policy.BP7.Building.BuildingDescription"
                  value="building.Building.Description">
                  <PostOnChange/>
                </Input>
                <!-- uim-svallabhapurapu : New dropdownField BOP storycard -->
                <TypeKeyInput
                  editable="true"
                  id="PreOccType"
                  label="displaykey.Web.Building.OccupanyType"
                  required="true"
                  value="building.PredominentOccType_Ext">
                  <PostOnChange
                    onChange="if(building.NoOfUnits_Ext != null and building.PredominentOccType_Ext == typekey.BP7PredominentOccType_Ext.TC_TENANT){building.removeUnits()};building.NoOfUnits_Ext = null;setDefaultClassificationArea();synchPM()"/>
                </TypeKeyInput>
                <TypeKeyInput
                  editable="true"
                  id="PropertyType"
                  label="displaykey.Web.Building.PredominentOccupancyType"
                  value="building.PropertyType">
                  <PostOnChange
                    onChange="building.updateDependentFields(null, jobWizardHelper)"/>
                </TypeKeyInput>
                <!-- <TypeKeyInput
                  editable="true"
                  id="EffectivenessGradeClass"
                  label="displaykey.Web.Policy.BP7.Building.EffectivenessGradeClass"
                  value="building.BldgCodeEffGradeClass">
                  <PostOnChange
                    onChange="building.updateDependentFields(null, jobWizardHelper)"/>
                </TypeKeyInput> -->
                <TextInput
                  editable="true"
                  id="yearBuilt"
                  label="displaykey.Web.Homeowners.DwellingConstruction.YearBuilt"
                  required="true"
                  value="building.YearBuilt_Ext">
                  <PostOnChange
                    onChange="propertyInformationCompletePluginImpl.getBOPInformation(building)"/>
                </TextInput>
                <TextInput
                  editable="true"
                  id="noOfStories"
                  label="displaykey.Web.Homeowners.DwellingConstruction.NumStories"
                  required="true"
                  value="building.NoOfStories_Ext"/>
                <TypeKeyInput
                  editable="true"
                  id="ConstructionType"
                  label="displaykey.Web.Policy.BP7.Building.ConstructionType"
                  value="building.ConstructionType"/>
                <TextInput
                  editable="true"
                  id="buildingSqFootage"
                  label="displaykey.Web.Building.BuildingSqFootage"
                  required="true"
                  value="building.BuildingSqFootage_Ext"/>
                <TextInput
                  editable="true"
                  id="noOfUnits"
                  label="displaykey.Web.Building.NumberOfUnits"
                  required="building.PredominentOccType_Ext != typekey.BP7PredominentOccType_Ext.TC_TENANT"
                  value="building.NoOfUnits_Ext"
                  visible="building.PredominentOccType_Ext != typekey.BP7PredominentOccType_Ext.TC_TENANT">
                  <PostOnChange/>
                </TextInput>
                <!-- uim-svallabhapurapu : BOP story changes UI table to store Building units -->
                <ListViewInput
                  visible="building.NoOfUnits_Ext != 0 and building.NoOfUnits_Ext != null and building.PredominentOccType_Ext != typekey.BP7PredominentOccType_Ext.TC_TENANT">
                  <Toolbar>
                    <IteratorButtons
                      addLabel="displaykey.Web.Building.AddUnits"
                      iterator="BldngUnitsLV"
                      removeLabel="displaykey.Web.Building.RemoveUnits"/>
                  </Toolbar>
                  <ListViewPanel
                    id="BldngUnitsLV">
                    <RowIterator
                      checkBoxVisible="true"
                      editable="true"
                      elementName="currentUnit"
                      hasCheckBoxes="true"
                      toCreateAndAdd="building.createAndAddNewBuildingUnits()"
                      toRemove="building.removeFromBldgUnits(currentUnit)"
                      value="building.BldgUnits">
                      <Row>
                        <Cell
                          editable="true"
                          id="occNmae"
                          label="displaykey.Web.Building.OccupantName"
                          value="currentUnit.OccupantName"/>
                        <Cell
                          editable="true"
                          id="sqFootage"
                          label="displaykey.Web.Building.TotalSquareFootage"
                          value="currentUnit.TotalSqFootage"/>
                        <Cell
                          editable="true"
                          id="description"
                          label="displaykey.Web.Building.Description"
                          value="currentUnit.Description"/>
                      </Row>
                    </RowIterator>
                  </ListViewPanel>
                </ListViewInput>
                <BooleanRadioInput
                  editable="true"
                  id="Sprinklered"
                  label="displaykey.Web.Policy.BP7.Building.Sprinklered"
                  value="building.Sprinklered">
                  <PostOnChange
                    onChange="building.bp7sync(jobWizardHelper)"/>
                </BooleanRadioInput>
                <BooleanRadioInput
                  editable="true"
                  id="burglarAlarm"
                  label="displaykey.Web.Building.CentralBurglarAlarm"
                  required="true"
                  value="building.CentralBurglarAlarm_Ext">
                  <PostOnChange
                    onChange="building.bp7sync(jobWizardHelper)"/>
                </BooleanRadioInput>
                <BooleanRadioInput
                  editable="true"
                  id="fireAlarm"
                  label="displaykey.Web.Building.CnetralFireAlarm"
                  required="true"
                  value="building.CentralFireAlarmSystem_Ext">
                  <PostOnChange
                    onChange="building.bp7sync(jobWizardHelper)"/>
                </BooleanRadioInput>
                <Label
                  id="airConditioning"
                  label="displaykey.Web.Building.AirConditioning"/>
                <BooleanRadioInput
                  editable="true"
                  id="caged"
                  label="displaykey.Web.Building.Caged"
                  value="building.Caged_Ext"/>
                <BooleanRadioInput
                  editable="true"
                  id="alarmed"
                  label="displaykey.Web.Building.Alarmed"
                  value="building.Alarmed_Ext"/>
                <BooleanRadioInput
                  editable="true"
                  id="monitored"
                  label="displaykey.Web.Building.Monitored"
                  value="building.Monitored_Ext"/>
                <InputDivider/>
                <InputSet
                  id="Windpoolvalue_Ext">
                  <RangeInput
                    available="!building.OverrideWindPool_Ext"
                    editable="true"
                    id="WindpoolvalueTunaReturned_Ext"
                    label="displaykey.Web.BOP.BP7Location.WindpoolvalueTunaReturned_Ext"
                    value="building.WindPool_Ext"
                    valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.WindPool)"/>
                  <Input
                    available="!building.OverrideWindPool_Ext"
                    id="WindpoolvalueMatchLevel_Ext"
                    label="displaykey.Web.BOP.BP7Location.WindpoolvalueMatchlevel_Ext"
                    value="building.WindPoolMatchLevel_Ext"/>
                  <BooleanRadioInput
                    editable="true"
                    id="OverRideWindpoolvalue_Ext"
                    label="displaykey.Web.BOP.BP7Location.WindpoolvalueOverride_Ext"
                    value="building.OverrideWindPool_Ext">
                    <PostOnChange
                      target="Windpoolvalue_Ext"/>
                  </BooleanRadioInput>
                  <Input
                    available="building.OverrideWindPool_Ext"
                    editable="true"
                    id="WindpoolvalueUserEntered_Ext"
                    label="displaykey.Web.BOP.BP7Location.WindpoolvalueUserEntered_Ext"
                    required="building.OverrideWindPool_Ext"
                    value="building.WindPoolOverridden_Ext"
                    visible="building.OverrideWindPool_Ext"/>
                </InputSet>
                <InputDivider/>
                <InputSet
                  id="DistToCoast_Ext">
                  <RangeInput
                    available="!building.OverrideDistToCoast_Ext"
                    editable="true"
                    id="DistToCoastTunaReturned_Ext"
                    label="displaykey.Web.BOP.BP7Location.DistanceToCoast_Ext"
                    value="building.DistToCoast_Ext"
                    valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.DistanceToCoast)"/>
                  <Input
                    available="!building.OverrideDistToCoast_Ext"
                    id="DistToCoastMatchLevel_Ext"
                    label="displaykey.Web.BOP.BP7Location.DistanceToCoastMatchLevel_Ext"
                    value="building.DistToCoastMatchLevel_Ext"/>
                  <BooleanRadioInput
                    editable="true"
                    id="OverRideDistToCoast_Ext"
                    label="displaykey.Web.BOP.BP7Location.DistToCoastOverride_Ext"
                    value="building.OverrideDistToCoast_Ext">
                    <PostOnChange
                      target="DistToCoast_Ext"/>
                  </BooleanRadioInput>
                  <Input
                    available="building.OverrideDistToCoast_Ext"
                    editable="true"
                    id="DistToCoastUserEntered_Ext"
                    label="displaykey.Web.BOP.BP7Location.DistanceToCoastUserEntered_Ext"
                    required="building.OverrideDistToCoast_Ext"
                    value="building.DistToCoastOverridden_Ext"
                    visible="building.OverrideDistToCoast_Ext"/>
                </InputSet>
                <!-- <RangeInput
                  editable="gw.lob.bp7.utils.BP7UIDisplayUtil.rangeInputEditable(building.BldgCodeEffGrade, building.BldgCodeEffGradeValues)"
                  id="EffectivenessGrade"
                  label="displaykey.Web.Policy.BP7.Building.EffectivenessGrade"
                  optionLabel="VALUE.Description"
                  sortValueRange="false"
                  value="building.BldgCodeEffGrade"
                  valueRange="building.BldgCodeEffGradeValues.sortBy(\ grade -&gt; grade.Priority)"/> -->
                <InputDivider/>
                <InputSet
                  id="bceg_Ext">
                  <RangeInput
                    available="!building.OverrideBCEG_Ext"
                    editable="!building.OverrideBCEG_Ext"
                    id="BCEGTunaReturned_Ext"
                    label="displaykey.Web.BOP.BP7Location.BCEGTunaReturned_Ext"
                    value="building.BldgCodeEffGrade"
                    valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.BCEGGrade)"/>
                  <Input
                    id="BCEGMatchLevel_Ext"
                    label="displaykey.Web.BOP.BP7Location.BCEGMatchlevel_Ext"
                    value="building.BCEGMatchLevel_Ext"/>
                  <BooleanRadioInput
                    editable="true"
                    id="OverRideTunaBCEG_Ext"
                    label="displaykey.Web.BOP.BP7Location.BCEGOverride_Ext"
                    value="building.OverrideBCEG_Ext">
                    <PostOnChange
                      target="bceg_Ext"/>
                  </BooleanRadioInput>
                  <Input
                    available="building.OverrideBCEG_Ext"
                    editable="true"
                    id="BCEGUserEntered_Ext"
                    label="displaykey.Web.BOP.BP7Location.BCEGUserEntered_Ext"
                    required="building.OverrideBCEG_Ext"
                    value="building.BCEGOverridden_Ext"
                    visible="building.OverrideBCEG_Ext"/>
                </InputSet>
                <InputDivider/>
                <InputSet
                  id="PCCode_Ext">
                  <RangeInput
                    available="!building.OverrideDwellingPCCode_Ext"
                    editable="true"
                    id="PCCodeTunaReturned_Ext"
                    label="displaykey.Web.BOP.BP7Location.ProtectionClass"
                    required="true"
                    value="building.DwellingProtectionClassCode"
                    valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.ProtectionClass)">
                    <PostOnChange
                      onChange="building.ResFireDept_Ext = gw.lob.ho.HODwellingUtil_HOE.getDependentCode(building.DwellingProtectionClassCode,tunaAppResponse.ProtectionClass )"/>
                  </RangeInput>
                  <Input
                    available="!building.OverrideDwellingPCCode_Ext"
                    id="PCCodeMatchLevel_Ext"
                    label="displaykey.Web.BOP.BP7Location.PCCodeMatchlevel_Ext"
                    value="building.DwellingPCCodeMatchLevel_Ext"/>
                  <BooleanRadioInput
                    editable="true"
                    id="OverRideTunaBCEG_Ext"
                    label="displaykey.Web.BOP.BP7Location.PCCodeOverride_Ext"
                    value="building.OverrideDwellingPCCode_Ext">
                    <PostOnChange
                      target="PCCode_Ext"/>
                  </BooleanRadioInput>
                  <Input
                    available="building.OverrideDwellingPCCode_Ext"
                    editable="true"
                    id="PCCodeUserEntered_Ext"
                    label="displaykey.Web.BOP.BP7Location.PCCodeUserEntered_Ext"
                    required="building.OverrideDwellingPCCode_Ext"
                    value="building.DwellingPCCodeOverridden_Ext"
                    visible="building.OverrideDwellingPCCode_Ext"/>
                </InputSet>
                <InputDivider/>
                <!-- <TextInput
                  id="respondingFire"
                  label="displaykey.Web.Location.RespondingFireDepartment"
                  value="location.FireDepartment_Ext"/> -->
                <TypeKeyInput
                  editable="true"
                  id="FeetToHydrant"
                  label="displaykey.Web.Policy.BP7.Location.FeetToHydrant "
                  required="true"
                  value="location.FeetToHydrant"/>
                <BooleanRadioInput
                  editable="true"
                  id="windPoolElig"
                  label="displaykey.Web.Building.FireDeptWithin5Miles"
                  value="building.FireDepartmentDistance_Ext"/>
                <!-- <BooleanRadioInput
                  editable="true"
                  id="WindpoolEligibility"
                  label="displaykey.Web.Policy.BP7.Location.WindPoolEligibility"
                  required="true"
                  value="building.WindpoolEligibility_Ext"/> -->
                <InputDivider/>
                <InputSet
                  id="Firedeptnamedval_Ext">
                  <RangeInput
                    available="!building.OverrideResFireDept_Ext"
                    editable="true"
                    id="FiredeptnamedvalTunaReturned_Ext"
                    label="displaykey.Web.BOP.BP7Location.FiredeptnamedvalTunaReturned_Ext"
                    value="building.ResFireDept_Ext"
                    valueRange="gw.lob.ho.HODwellingUtil_HOE.getDependentCodes(tunaAppResponse.ProtectionClass)"/>
                  <Input
                    available="!building.OverrideResFireDept_Ext"
                    id="FiredeptnamedvalMatchLevel_Ext"
                    label="displaykey.Web.BOP.BP7Location.FiredeptnamedvalMatchlevel_Ext"
                    value="building.ResFireDeptMatchLevel_Ext"/>
                  <BooleanRadioInput
                    editable="true"
                    id="OverRideFiredeptnamedval_Ext"
                    label="displaykey.Web.BOP.BP7Location.FiredeptnamedvalOverride_Ext"
                    value="building.OverrideResFireDept_Ext">
                    <PostOnChange
                      target="Firedeptnamedval_Ext"/>
                  </BooleanRadioInput>
                  <Input
                    available="building.OverrideResFireDept_Ext"
                    editable="true"
                    id="FiredeptnamedvalUserEntered_Ext"
                    label="displaykey.Web.BOP.BP7Location.FiredeptnamedvalUserEntered_Ext"
                    required="building.OverrideResFireDept_Ext"
                    value="building.ResFireDeptOverridden_Ext"
                    visible="building.OverrideResFireDept_Ext"/>
                </InputSet>
                <InputDivider/>
                <InputSet
                  id="MetricsVersionValue_Ext">
                  <RangeInput
                    editable="true"
                    id="MetricsVersionValueTunaReturned_Ext"
                    label="displaykey.Web.BOP.BP7Location.MetricsVersionValue_Ext"
                    value="location.MetricsVersionValue_Ext"
                    valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.MetricsVersion)"/>
                </InputSet>
                <InputDivider/>
                <!-- <TypeKeyInput
                  editable="true"
                  id="FireProtectionClass"
                  label="displaykey.Web.Policy.BP7.Location.FireProtectionClass "
                  required="true"
                  value="location.FireProtectionClassPPC"
                  visible="true"/> -->
                <!-- <RangeInput
                  editable="gw.lob.bp7.utils.BP7UIDisplayUtil.rangeInputEditable(building.PctOwnerOccupied, building.PercentageOwnerOccupiedValues)"
                  id="PercentOwnerOccupied"
                  label="displaykey.Web.Policy.BP7.Building.PctOwnerOccupied"
                  value="building.PctOwnerOccupied"
                  valueRange="building.PercentageOwnerOccupiedValues"
                  visible="false">
                  <PostOnChange
                    onChange="building.updateDependentFields(null, jobWizardHelper)"/>
                </RangeInput> -->
                <Input
                  editable="true"
                  id="TotalCondominiumBuildingSquareFootage"
                  label="displaykey.Web.Policy.BP7.Building.TotalCondominiumBuildingSquareFootage"
                  required="true"
                  value="building.TotalCondoBldgSquareFo"
                  visible="building.TotalCondoBldgSquareFoVisible"/>
                <!-- <BooleanRadioInput
                  editable="true"
                  id="RABOPWanted"
                  label="displaykey.Web.Policy.BP7.Building.RABOPWanted"
                  value="building.RABOPWanted">
                  <PostOnChange
                    onChange="building.updateDependentFields(null, jobWizardHelper)"/>
                </BooleanRadioInput> -->
                <!-- <TypeKeyInput
                  editable="true"
                  id="RABOPType"
                  label="displaykey.Web.Policy.BP7.Building.RABOPType"
                  required="building.RABOPWanted"
                  value="building.RABOPType"/> -->
                <!-- <TypeKeyInput
                  editable="true"
                  id="RABOPTypeLiabilityLess"
                  label="displaykey.Web.Policy.BP7.Building.RABOPTypeLiabilityLess"
                  required="building.RABOPTypeLiabilityLessorsRequired"
                  value="building.RABOPTypeLiabilityLess"/> -->
              </InputColumn>
            </DetailViewPanel>
          </PanelColumn>
          <PanelColumn
            width="50%">
            <PanelRef
              def="BP7CoveragesDV(building, openForEdit, getCategories(gw.lob.bp7.BP7Categories.BP7BuildingStdGrp.Code), jobWizardHelper)"
              id="MandatoryCoverages">
              <TitleBar
                title="displaykey.Web.LineWizard.Coverages"/>
            </PanelRef>
          </PanelColumn>
        </PanelRow>
        <PanelRef
          id="ClassificationList">
          <Toolbar>
            <IteratorButtons
              addLabel="displaykey.Web.Policy.BP7.Classification.AddClassification"
              iterator="Classifications_LV"
              removeLabel="displaykey.Web.Policy.BP7.Classification.RemoveClassifications"/>
          </Toolbar>
          <ListDetailPanel
            id="ClassificationsListDetail"
            selectionName="selectedClassification"
            selectionType="BP7Classification">
            <PanelRef>
              <ListViewPanel
                id="Classifications_LV">
                <RowIterator
                  editable="true"
                  elementName="currentClassification"
                  hasCheckBoxes="true"
                  hideCheckBoxesIfReadOnly="true"
                  toCreateAndAdd="building.createAndAddClassification(jobWizardHelper)"
                  toRemove="building.removeClassification(currentClassification)"
                  validationLabel="displaykey.Web.Policy.BP7.Classification.Classification"
                  value="building.Classifications">
                  <IteratorSort
                    sortBy="currentClassification.ClassificationNumber"
                    sortOrder="1"/>
                  <Row>
                    <TextCell
                      align="left"
                      id="ClassificationNumber"
                      label="displaykey.Web.Policy.BP7.Classification.Number"
                      numCols="16"
                      value="currentClassification.ClassificationNumber"/>
                    <TextCell
                      align="left"
                      id="PropertyType"
                      label="displaykey.Web.Building.PredominentOccupancyType//displaykey.Web.Policy.BP7.Classification.ClassPropertyType"
                      numCols="16"
                      value="currentClassification.ClassPropertyType"/>
                    <TextCell
                      align="left"
                      id="ClassificationDescription"
                      label="displaykey.Web.Policy.BP7.Classification.ClassDescription"
                      numCols="16"
                      value="currentClassification.ClassDescription"/>
                    <TextCell
                      align="left"
                      id="Area"
                      label="displaykey.Web.Policy.BP7.Classification.Area"
                      numCols="16"
                      value="currentClassification.Area"
                      visible="building.PredominentOccType_Ext != typekey.BP7PredominentOccType_Ext.TC_TENANT"/>
                    <Cell
                      action="BP7BlanketPopup.push(policyPeriod.BP7Line, currentClassification.AssociatedBlanket, openForEdit, jobWizardHelper)"
                      actionAvailable="currentClassification.AssociatedBlanket.BlanketNumber != null"
                      id="classificationBlanket"
                      label="displaykey.Web.Policy.BP7.Blanket.NumberShortened"
                      value="currentClassification.AssociatedBlanket.BlanketNumber"/>
                    <CheckBoxCell
                      confirmMessage="predominantConfirmationMessage(selectedClassification)"
                      editable="true"
                      id="PredominantOverride"
                      label="displaykey.Web.Policy.BP7.Classification.PredominantOverride"
                      showConfirmMessage="true"
                      value="currentClassification.PredominantOverride"
                      visible="building.Classifications.Count &gt; 1">
                      <PostOnChange
                        onChange="onChangeForPredominantOverride(currentClassification)"/>
                    </CheckBoxCell>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
            <CardViewPanel>
              <Card
                id="GeneralInfoCard"
                title="displaykey.Web.Policy.BP7.Classification.Details">
                <PanelSet>
                  <PanelRow>
                    <PanelColumn
                      width="50%">
                      <PanelRef
                        id="mandatory">
                        <TitleBar
                          title="displaykey.Web.Policy.BP7.Classification.Classification"/>
                        <PanelSet>
                          <DetailViewPanel>
                            <Variable
                              initialValue="selectedClassification.ClassPropertyType"
                              name="previousPropertyTypeValue"
                              recalculateOnRefresh="true"
                              type="BP7ClassificationPropertyType"/>
                            <Variable
                              initialValue="selectedClassification.ClassDescription"
                              name="previousDescriptionValue"
                              recalculateOnRefresh="true"
                              type="typekey.BP7ClassDescription"/>
                            <InputColumn>
                              <!-- uim-svallabhapurapu : New dropdownField BOP storycard -->
                              <TypeKeyInput
                                id="PreOccType"
                                label="displaykey.Web.Building.OccupanyType"
                                value="building.PredominentOccType_Ext">
                                <PostOnChange/>
                              </TypeKeyInput>
                              <RangeInput
                                editable="gw.lob.bp7.utils.BP7UIDisplayUtil.rangeInputEditable(selectedClassification.ClassPropertyType, selectedClassification.ClassPropertyTypeValues)"
                                id="ClassPropertyType"
                                label="displaykey.Web.Building.PredominentOccupancyType"
                                optionLabel=" VALUE.Description"
                                value="selectedClassification.ClassPropertyType"
                                valueRange="selectedClassification.ClassPropertyTypeValues">
                                <PostOnChange
                                  onChange="selectedClassification.updateDependentFields(new gw.lob.common.dependency.DependenciesContext(BP7Classification#ClassPropertyType.PropertyInfo, previousPropertyTypeValue), jobWizardHelper)"/>
                              </RangeInput>
                              <!-- <RangeInput
                                editable="gw.lob.bp7.utils.BP7UIDisplayUtil.rangeInputEditable(selectedClassification.ClassDescription, selectedClassification.ClassDescriptionValues)"
                                id="ClassDescription"
                                label="displaykey.Web.Policy.BP7.Classification.ClassDescription"
                                optionLabel="VALUE.Description"
                                value="selectedClassification.ClassDescription"
                                valueRange="selectedClassification.ClassDescriptionValues">
                                <PostOnChange
                                  onChange="selectedClassification.updateDependentFields(new gw.lob.common.dependency.DependenciesContext(BP7Classification#ClassDescription.PropertyInfo, previousDescriptionValue))"/>
                              </RangeInput> -->
                              <RangeInput
                                editable="true"
                                id="ClassDescription1"
                                label="displaykey.Web.Policy.BP7.Classification.ClassDescription"
                                optionLabel="VALUE.Description"
                                value="selectedClassification.ClassDescription"
                                valueRange="getAssociatedClassification(selectedClassification.ClassPropertyType)">
                                <PostOnChange
                                  onChange="selectedClassification.updateDependentFields(new gw.lob.common.dependency.DependenciesContext(BP7Classification#ClassDescription.PropertyInfo, previousDescriptionValue));selectedClassification.associatedClassCode();selectedClassification.syncIfNeeded(selectedClassification,jobWizardHelper)"/>
                              </RangeInput>
                              <Input
                                id="classcode"
                                label="displaykey.Export.CPBuilding.ClassCode"
                                value="selectedClassification.ClassDescription == null ? &quot;&quot; : selectedClassification.ClassCode_Ext">
                                <PostOnChange/>
                              </Input>
                              <!-- <TypeKeyInput
                                id="ExposureBasis"
                                label="displaykey.Web.Policy.BP7.Classification.ExposureBasis"
                                value="selectedClassification.ExposureBasis"/> -->
                              <!-- <Input
                                editable="selectedClassification.ExposureBasis != null"
                                id="Exposure"
                                label="displaykey.Web.Policy.BP7.Classification.Exposure"
                                required="true"
                                value="selectedClassification.Exposure"
                                visible="selectedClassification.isExposureApplicable"/> -->
                              <!-- <Input
                                id="UneditableExposure"
                                label="displaykey.Web.Policy.BP7.Classification.Exposure"
                                value="displaykey.Web.Policy.BP7.Classification.ExposureNotApplicableMsg"
                                visible="not selectedClassification.isExposureApplicable"/> -->
                              <Input
                                editable="true"
                                id="Area"
                                label="displaykey.Web.Building.VacantSqFootage"
                                value="selectedClassification.Area"
                                visible="building.PredominentOccType_Ext != typekey.BP7PredominentOccType_Ext.TC_TENANT">
                                <PostOnChange/>
                              </Input>
                              <!-- <BooleanRadioInput
                                editable="true"
                                id="AmusementArea"
                                label="displaykey.Web.Policy.BP7.Classification.AmusementArea"
                                value="selectedClassification.AmusementArea"
                                visible="false"/> -->
                              <!-- <TypeKeyInput
                                editable="true"
                                id="Playground"
                                label="displaykey.Web.Policy.BP7.Classification.Playground"
                                value="selectedClassification.Playground"
                                visible="false"/> -->
                              <!-- <Input
                                editable="true"
                                id="NumSwimmingPools"
                                label="displaykey.Web.Policy.BP7.Classification.NumSwimmingPools"
                                value="selectedClassification.NumSwimmingPools"
                                visible="false"/> -->
                              <!-- <BooleanRadioInput
                                editable="true"
                                id="ClassificationRABOPWanted"
                                label="displaykey.Web.Policy.BP7.Classification.RABOPWanted"
                                value="selectedClassification.RABOPWanted">
                                <PostOnChange
                                  onChange="selectedClassification.updateDependentFields(null, jobWizardHelper)"/>
                              </BooleanRadioInput> -->
                              <!-- <TypeKeyInput
                                editable="true"
                                id="ClassificationRABOPType"
                                label="displaykey.Web.Policy.BP7.Classification.RABOPType"
                                required="selectedClassification.RABOPWanted"
                                value="selectedClassification.RABOPType"/> -->
                              <!-- <TypeKeyInput
                                editable="true"
                                id="ClassificationRABOPTypeLiabilityOccu"
                                label="displaykey.Web.Policy.BP7.Classification.RABOPTypeLiabilityOccu"
                                required="selectedClassification.RABOPTypeLiabilityOccupantsRequired"
                                value="selectedClassification.RABOPTypeLiabilityOccu"/> -->
                            </InputColumn>
                          </DetailViewPanel>
                        </PanelSet>
                      </PanelRef>
                    </PanelColumn>
                    <PanelColumn
                      width="50%">
                      <PanelRef
                        def="BP7CoveragesDV(selectedClassification, openForEdit, selectedClassification.StandardCoverages, jobWizardHelper)"
                        id="MandatoryCoverages">
                        <TitleBar
                          title="displaykey.Web.LineWizard.Coverages"/>
                      </PanelRef>
                      <PanelRef
                        def="BP7CoveragesDV(selectedClassification, openForEdit, selectedClassification.MotelCoverages, jobWizardHelper)"
                        id="MotelCoverages"
                        visible="false//selectedClassification.ClassPropertyType == BP7ClassificationPropertyType.TC_MOTEL">
                        <TitleBar
                          title="displaykey.Web.Policy.BP7.Classification.MotelGroup"/>
                      </PanelRef>
                      <PanelRef
                        def="BP7CoveragesDV(selectedClassification, openForEdit, selectedClassification.SelfStorageFacilitiesCoverages, jobWizardHelper)"
                        id="SelfStorageFacilitiesCoverages"
                        visible="false//selectedClassification.ClassPropertyType == BP7ClassificationPropertyType.TC_SELFSTORAGEFACILITY">
                        <TitleBar
                          title="displaykey.Web.Policy.BP7.Classification.SelfStorageFacilitiesGroup"/>
                      </PanelRef>
                      <PanelRef
                        def="BP7CoveragesDV(selectedClassification, openForEdit, selectedClassification.LandscapeCategory, jobWizardHelper)"
                        id="LandscapeCoverages"
                        visible="selectedClassification.isLandscapeGardening()">
                        <TitleBar
                          title="displaykey.Web.Policy.BP7.Classification.LandscapeGroup"/>
                      </PanelRef>
                    </PanelColumn>
                  </PanelRow>
                </PanelSet>
              </Card>
              <!-- <Card
                id="FunctionalValuationCoveragesCard"
                title="displaykey.Web.Policy.BP7.Classification.FunctionalValuation">
                <PanelRef
                  def="BP7CoveragesDV(selectedClassification, openForEdit, selectedClassification.FunctionalBPPValuationCoverageCoverages, jobWizardHelper)"
                  id="FunctionalValuationCoverages"/>
              </Card> -->
              <Card
                id="AdditionalCoveragesCard"
                title="displaykey.Ext.Web.LineWizard.AdditionalAndOptionalCoverages">
                <PanelRef
                  def="BP7AdditionalCoveragesPanelSet(selectedClassification, selectedClassification.AdditionalCoveragesCategories, true, jobWizardHelper)">
                  <TitleBar
                    title="displaykey.Web.LineWizard.AdditionalCoverages"/>
                  <Toolbar/>
                </PanelRef>
                <PanelRef
                  def="BP7AdditionalCoveragesPanelSet(selectedClassification, {gw.lob.bp7.BP7Categories.BP7ClassificationOptionalGrp_EXT.Code}, true, jobWizardHelper)"
                  id="additional">
                  <TitleBar
                    title="displaykey.Ext.Web.LineWizard.OptionalCoverages"/>
                  <Toolbar
                    id="optional"/>
                </PanelRef>
              </Card>
              <Card
                id="ExclusionsAndConditionsCard"
                title="displaykey.Web.LineWizard.ExclusionsAndConditions">
                <PanelRef
                  def="AdditionalExclusionsAndConditionsPanelSet(selectedClassification, selectedClassification.ExclusionsAndConditionsCategories, true)"
                  id="ExclusionsAndConditions"/>
              </Card>
            </CardViewPanel>
          </ListDetailPanel>
        </PanelRef>
      </PanelSet>
    </Card>
    <Card
      id="AdditionalCoveragesCard"
      title="displaykey.Ext.Web.LineWizard.AdditionalAndOptionalCoverages">
      <PanelRef
        def="BP7AdditionalCoveragesPanelSet(building, {gw.lob.bp7.BP7Categories.BP7BuildingAddlGrp.Code}, true, jobWizardHelper)">
        <TitleBar
          title="displaykey.Web.LineWizard.AdditionalCoverages"/>
        <Toolbar/>
      </PanelRef>
      <PanelRef
        def="BP7OptionalCoverages_ExtPanelSet(building, {gw.lob.bp7.BP7Categories.BP7BuildingOptionalGrp_EXT.Code}, true, jobWizardHelper)">
        <TitleBar
          title="displaykey.Ext.Web.LineWizard.OptionalCoverages"/>
        <Toolbar/>
      </PanelRef>
    </Card>
    <Card
      id="exclusionsAndConditionsCard"
      title="displaykey.Web.LineWizard.ExclusionsAndConditions">
      <PanelRef
        def="AdditionalExclusionsAndConditionsPanelSet(building, {gw.lob.bp7.BP7Categories.BP7BuildingExclGrp.Code, gw.lob.bp7.BP7Categories.BP7BuildingCondGrp.Code}, true)"
        id="policyLevelExclusionsAndConditions"/>
    </Card>
    <Card
      id="AdditionalInterestCoverages"
      title="displaykey.Web.LineWizard.AdditionalInterestCoverages">
      <PanelRef
        def="BP7AdditionalCoveragesPanelSet(building, {gw.lob.bp7.BP7Categories.BP7BuildingAddlInterestGrp_EXT.Code}, true, jobWizardHelper)"
        id="BuildingAdditionalInterestCoverages">
        <TitleBar
          title="displaykey.Web.LineWizard.AdditionalInterestCoverages"/>
        <Toolbar/>
      </PanelRef>
    </Card>
    <Code><![CDATA[function getCategories(category : String) : gw.api.productmodel.CoverageCategory {
  if (building <> null) {
    return building.PolicyLine.Pattern.getCoverageCategory(category)
  }
  
  return null
}

function onChangeForPredominantOverride(currentClassification : entity.BP7Classification): boolean{
  if(currentClassification.PredominantOverride){
    currentClassification.Building.Classifications
      .where(\ classification -> classification != currentClassification)
      .each(\ classification -> {classification.PredominantOverride = false})
  }
  return true
}

function predominantConfirmationMessage(classification : BP7Classification) : String {
  var message : String
  if (classification.PredominantOverride) {
    message = displaykey.Web.Policy.BP7.Classification.ConfirmPredominantOverrideRemoval
  } else {
    message = displaykey.Web.Policy.BP7.Classification.ConfirmPredominantOverride(classification.ClassificationNumber)
  }
  return message
}

//uim-svallabhapurapu get classification based on pre-dominent occupancy type
 function getAssociatedClassification(propertyType : BP7ClassificationPropertyType) : List<typekey.BP7ClassDescription>{      
    if(propertyType == typekey.BP7ClassificationPropertyType.TC_OFFICE){
       return typekey.BP7ClassDescription.TF_OFFICE_EXT.TypeKeys
    }
   else if(propertyType == typekey.BP7ClassificationPropertyType.TC_SERVICE) {
       return typekey.BP7ClassDescription.TF_SERVICE_EXT.TypeKeys
    }
     else if(propertyType == typekey.BP7ClassificationPropertyType.TC_DISTRIBUTOR) {
        return typekey.BP7ClassDescription.TF_DISTRIBUTOR_EXT.TypeKeys
      }
     else if(propertyType == typekey.BP7ClassificationPropertyType.TC_RETAIL)   {
          return  typekey.BP7ClassDescription.TF_RETAIL_EXT.TypeKeys
        }
    return null 
 }
 
 //uim-svallabhapurapu synch Product model since coverage has been made electible or required based on occupancy type
 function synchPM(){
  gw.web.productmodel.ProductModelSyncIssuesHandler.sync({building}, null, null, null, jobWizardHelper)
   if(building.Classifications != null and building.Classifications.length == 1)
   {gw.web.productmodel.ProductModelSyncIssuesHandler.sync({building.Classifications[0]}, null, null, null, jobWizardHelper)}  
 }
 //DE226 fix - Defaulting to 1 when occ type is Tenant and looks like it is being used in rating ootb, when bop rating gets implemented this can be removed 
 function setDefaultClassificationArea(){
   if(building.PredominentOccType_Ext == typekey.BP7PredominentOccType_Ext.TC_TENANT){
     for(cl in building.Classifications){
       cl.Area = 1
     }
   }
 }]]></Code>
  </CardViewPanel>
</PCF>