<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="BP7CovTermInputSet"
    mode="Option">
    <Require
      name="term"
      type="gw.api.domain.covterm.CovTerm"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="coverable_Ext"
      type="Coverable"/>
    <RangeInput
      editable="openForEdit and gw.web.productmodel.ChoiceCovTermUtil.isEditable(term)"
      id="OptionTermInput"
      label="term.Pattern.DisplayName"
      required="term.Pattern.Required"
      sortValueRange="false"
      value="(term as gw.api.domain.covterm.OptionCovTerm).OptionValue"
      valueRange="gw.web.productmodel.ChoiceCovTermUtil.getModelValueRange(term as gw.api.domain.covterm.OptionCovTerm, openForEdit)">
      <PostOnChange
        onChange="gw.lob.bp7.BP7PostOnChangeHandler.handleTerm(term, jobWizardHelper)"/>
    </RangeInput>
  </InputSet>
</PCF>