<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="BP7CovTermInputSet"
    mode="positiveinteger">
    <Require
      name="term"
      type="gw.api.domain.covterm.CovTerm"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Input
      editable="true"
      id="PositiveIntegerTermInput"
      label="term.Pattern.DisplayName"
      requestValidationExpression="gw.lob.bp7.BP7PositiveIntegerCovTermValidation.validate(term, VALUE)"
      required="term.Pattern.Required"
      value="(term as gw.api.domain.covterm.GenericCovTerm&lt;java.lang.Integer&gt;).Value">
      <PostOnChange
        onChange="gw.lob.bp7.BP7PostOnChangeHandler.handleTerm(term, jobWizardHelper)"/>
    </Input>
  </InputSet>
</PCF>