<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="BP7LocationBusinessFieldsInputSet">
    <Require
      name="location"
      type="BP7Location"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="new una.pageprocess.PropertyInformationCompletePluginImpl().getDwellingInformation(location.Branch)"
      name="tunares"/>
    <RangeInput
      editable="true"
      id="TerritoryCode"
      label="displaykey.Web.Policy.BP7.Location.TerritoryCode"
      required="true"
      validationExpression="location.TerritoryCode.prelimValidate()"
      value="location.TerritoryCode.Code"
      valueRange="tunares.TerritoryCodes"/>
    <ContentInput
      hideIfReadOnly="true"
      id="AutofillButton">
      <Link
        action="location.TerritoryCode.fillWithFirst()"
        id="AutofillLink"
        label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCode.Autofill"
        styleClass="miniButton"
        visible="true"/>
    </ContentInput>
    <TextInput
      id="respondingFire"
      label="displaykey.Web.Location.RespondingFireDepartment"
      value="location.FireDepartment_Ext"/>
    <TypeKeyInput
      editable="true"
      id="FeetToHydrant"
      label="displaykey.Web.Policy.BP7.Location.FeetToHydrant "
      required="true"
      value="location.FeetToHydrant"/>
    <TypeKeyInput
      editable="true"
      id="FireProtectionClass"
      label="displaykey.Web.Policy.BP7.Location.FireProtectionClass "
      required="true"
      value="location.FireProtectionClassPPC"
      visible="false"/>
    <Input
      editable="true"
      id="LiquorLiabGrade"
      label="displaykey.Web.Policy.BP7.Location.LiquorLiabGrade"
      required="true"
      value="location.LiquorLiabGrade"
      visible="new gw.lob.bp7.availability.BP7LiquorLiabilityGradeAvailabilityHelper(location.Line).isVisible()"/>
    <BooleanRadioInput
      editable="true"
      id="WindpoolEligibility"
      label="displaykey.Web.Policy.BP7.Location.WindPoolEligibility"
      required="true"
      value="location.WindpoolEligibility_Ext"/>
  </InputSet>
</PCF>