<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="BP7LocationBusinessFieldsInputSet">
    <Require
      name="location"
      type="BP7Location"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="new una.pageprocess.PropertyInformationCompletePluginImpl().getTunaInformation(location.Branch)"
      name="tunaAppResponse"/>
    <Variable
      initialValue="gw.lob.bp7.location.BP7LocationUtil.setTunaFieldsMatchLevel(tunaAppResponse,location)"
      name="setTunaFieldsMatchLevel"/>
    <!-- RangeInput
      editable="true"
      id="TerritoryCode"
      label="displaykey.Web.Policy.BP7.Location.TerritoryCode"
      required="true"
      value="location.TerritoryCode.Code"
      valueRange="tunares.TerritoryCodes"/ -->
    <InputSet
      editable="true"
      id="TerritoryCodeInputSet"
      visible="location.PolicyLocation != null and location.PolicyLocation.TerritoryCodes.length != 0">
      <RangeInput
        available="!location.OverrideTerritoryCode_Ext"
        editable="true"
        id="TerritoryCodeTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.TerritoryCodeTunaReturned_Ext"
        value="location.TerritoryCodeTunaReturned_Ext"
        valueRange="tunaAppResponse.TerritoryCodes"/>
      <Input
        available="!location.OverrideTerritoryCode_Ext"
        id="TerritoryCodeMatchLevel_Ext"
        label="displaykey.Web.BOP.BP7Location.TerritoryCodeMatchlevel_Ext"
        value="location.TerritoryCodeMatchLevel_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="OverRideTerritoryCode_Ext"
        label="displaykey.Web.BOP.BP7Location.TerritoryCodeOverride_Ext"
        value="location.OverrideTerritoryCode_Ext">
        <PostOnChange
          target="TerritoryCodeInputSet"/>
      </BooleanRadioInput>
      <InputIterator
        elementName="TerritoryCode"
        value="location.PolicyLocation.TerritoryCodes">
        <IteratorSort
          sortBy="TerritoryCode.PolicyLinePattern.Priority"
          sortOrder="1"/>
        <PickerInput
          available="location.PolicyLocation.State != null"
          editable="true"
          id="TerritoryCode"
          label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCode(TerritoryCode.PolicyLinePattern.DisplayName)"
          pickLocation="TerritoryCodeSearchPopup.push(location.Branch, TerritoryCode)"
          required="location.OverrideTerritoryCode_Ext"
          value="location.TerritoryCodeOverridden_Ext"
          visible="location.OverrideTerritoryCode_Ext"/>
      </InputIterator>
    </InputSet>
    <InputDivider/>
    <InputSet
      id="latitude_Ext">
      <RangeInput
        available="!location.OverrideLatitude_Ext"
        editable="true"
        id="latitudeTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.LatitudeTunaReturned_Ext"
        value="location.PolicyLocation.Latitude_Ext"
        valueRange="{tunaAppResponse.Latitude}//gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.Latitude)"/>
      <Input
        available="!location.OverrideLatitude_Ext"
        id="latitudeMatchLevel_Ext"
        label="displaykey.Web.BOP.BP7Location.LatitudeMatchlevel_Ext"
        value="location.LatitudeMatchLevel_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="OverRideLatitude_Ext"
        label="displaykey.Web.BOP.BP7Location.LatitudeOverride_Ext"
        value="location.OverrideLatitude_Ext">
        <PostOnChange
          target="latitude_Ext"/>
      </BooleanRadioInput>
      <Input
        available="location.OverrideLatitude_Ext"
        editable="true"
        id="latitudeUserEntered_Ext"
        label="displaykey.Web.BOP.BP7Location.LatitudeUserEntered_Ext"
        required="location.OverrideLatitude_Ext"
        value="location.PolicyLocation.LatitudeOverridden_Ext"
        visible="location.OverrideLatitude_Ext"/>
    </InputSet>
    <InputDivider/>
    <InputSet
      id="Longitude_Ext">
      <RangeInput
        available="!location.OverrideLongitude_Ext"
        editable="true"
        id="LongitudeTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.LongitudeTunaReturned_Ext"
        value="location.PolicyLocation.Longitude_Ext"
        valueRange="{tunaAppResponse.Longitude}//gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.Longitude)"/>
      <Input
        available="!location.OverrideLongitude_Ext"
        id="LongitudeMatchLevel_Ext"
        label="displaykey.Web.BOP.BP7Location.LongitudeMatchlevel_Ext"
        value="location.LongitudeMatchLevel_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="OverRideLongitude_Ext"
        label="displaykey.Web.BOP.BP7Location.LongitudeOverride_Ext"
        value="location.OverrideLongitude_Ext">
        <PostOnChange
          target="Longitude_Ext"/>
      </BooleanRadioInput>
      <Input
        available="location.OverrideLongitude_Ext"
        editable="true"
        id="LongitudeUserEntered_Ext"
        label="displaykey.Web.BOP.BP7Location.LongitudeUserEntered_Ext"
        required="location.OverrideLongitude_Ext"
        value="location.PolicyLocation.LongitudeOverridden_Ext"
        visible="location.OverrideLongitude_Ext"/>
    </InputSet>
    <InputDivider/>
    <InputSet
      id="PropFloodVal_Ext">
      <RangeInput
        available="!location.OverridePropFloodVal_Ext"
        editable="true"
        id="PropFloodValTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.PropFloodValTunaReturned_Ext"
        value="location.PropFloodVal_Ext"
        valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.PropertyFlood)"/>
      <Input
        available="!location.OverridePropFloodVal_Ext"
        id="PropFloodValMatchLevel_Ext"
        label="displaykey.Web.BOP.BP7Location.PropFloodValMatchlevel_Ext"
        value="location.PropFloodValMatchLevel_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="OverRidePropFloodVal_Ext"
        label="displaykey.Web.BOP.BP7Location.PropFloodValOverride_Ext"
        value="location.OverridePropFloodVal_Ext">
        <PostOnChange
          target="PropFloodVal_Ext"/>
      </BooleanRadioInput>
      <Input
        available="location.OverridePropFloodVal_Ext"
        editable="true"
        id="PropFloodValUserEntered_Ext"
        label="displaykey.Web.BOP.BP7Location.PropFloodValUserEntered_Ext"
        required="location.OverridePropFloodVal_Ext"
        value="location.PropFloodValOverridden_Ext"
        visible="location.OverridePropFloodVal_Ext"/>
    </InputSet>
    <InputDivider/>
    <InputSet
      id="PCCode_Ext">
      <RangeInput
        available="!location.OverrideDwellingPCCode_Ext"
        editable="true"
        id="PCCodeTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.ProtectionClass"
        value="location.DwellingProtectionClassCode"
        valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.ProtectionClass)">
        <PostOnChange
          onChange="location.Firedeptnmval_Ext=gw.lob.ho.HODwellingUtil_HOE.getDependentCode(location.DwellingProtectionClassCode,tunaAppResponse.ProtectionClass )"/>
      </RangeInput>
      <Input
        available="!location.OverrideDwellingPCCode_Ext"
        id="PCCodeMatchLevel_Ext"
        label="displaykey.Web.BOP.BP7Location.PCCodeMatchlevel_Ext"
        value="location.DwellingPCCodeMatchLevel_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="OverRideTunaBCEG_Ext"
        label="displaykey.Web.BOP.BP7Location.PCCodeOverride_Ext"
        value="location.OverrideDwellingPCCode_Ext">
        <PostOnChange
          target="PCCode_Ext"/>
      </BooleanRadioInput>
      <Input
        available="location.OverrideDwellingPCCode_Ext"
        editable="true"
        id="PCCodeUserEntered_Ext"
        label="displaykey.Web.BOP.BP7Location.PCCodeUserEntered_Ext"
        required="location.OverrideDwellingPCCode_Ext"
        value="location.DwellingPCCodeOverridden_Ext"
        visible="location.OverrideDwellingPCCode_Ext"/>
    </InputSet>
    <InputDivider/>
    <InputSet
      id="Firedeptnamedval_Ext">
      <RangeInput
        available="!location.OverrideFiredeptnamedval_Ext"
        editable="true"
        id="FiredeptnamedvalTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.FiredeptnamedvalTunaReturned_Ext"
        value="location.Firedeptnmval_Ext"
        valueRange="gw.lob.ho.HODwellingUtil_HOE.getDependentCodes(tunaAppResponse.ProtectionClass)"/>
      <Input
        available="!location.OverrideFiredeptnamedval_Ext"
        id="FiredeptnamedvalMatchLevel_Ext"
        label="displaykey.Web.BOP.BP7Location.FiredeptnamedvalMatchlevel_Ext"
        value="location.FiredeptnamedvalMatchLevel_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="OverRideFiredeptnamedval_Ext"
        label="displaykey.Web.BOP.BP7Location.FiredeptnamedvalOverride_Ext"
        value="location.OverrideFiredeptnamedval_Ext">
        <PostOnChange
          target="Firedeptnamedval_Ext"/>
      </BooleanRadioInput>
      <Input
        available="location.OverrideFiredeptnamedval_Ext"
        editable="true"
        id="FiredeptnamedvalUserEntered_Ext"
        label="displaykey.Web.BOP.BP7Location.FiredeptnamedvalUserEntered_Ext"
        required="location.OverrideFiredeptnamedval_Ext"
        value="location.FiredeptnamedvalOverridden_Ext"
        visible="location.OverrideFiredeptnamedval_Ext"/>
    </InputSet>
    <InputDivider/>
    <InputSet
      id="DistToCoast_Ext">
      <RangeInput
        available="!location.OverrideDistToCoast_Ext"
        editable="true"
        id="DistToCoastTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.DistanceToCoast_Ext"
        value="location.DistToCoast_Ext"
        valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.DistanceToCoast)"/>
      <Input
        available="!location.OverrideDistToCoast_Ext"
        id="DistToCoastMatchLevel_Ext"
        label="displaykey.Web.BOP.BP7Location.DistanceToCoastMatchLevel_Ext"
        value="location.DistToCoastMatchLevel_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="OverRideDistToCoast_Ext"
        label="displaykey.Web.BOP.BP7Location.DistToCoastOverride_Ext"
        value="location.OverrideDistToCoast_Ext">
        <PostOnChange
          target="DistToCoast_Ext"/>
      </BooleanRadioInput>
      <Input
        available="location.OverrideDistToCoast_Ext"
        editable="true"
        id="DistToCoastUserEntered_Ext"
        label="displaykey.Web.BOP.BP7Location.DistanceToCoastUserEntered_Ext"
        required="location.OverrideDistToCoast_Ext"
        value="location.DistToCoastOverridden_Ext"
        visible="location.OverrideDistToCoast_Ext"/>
    </InputSet>
    <InputDivider/>
    <InputSet
      id="NoteDetail_Ext">
      <RangeInput
        editable="true"
        id="NoteDetailTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.NoteDetail_Ext"
        value="location.NoteDetail_Ext"
        valueRange="{tunaAppResponse.NoteDetail}"/>
    </InputSet>
    <InputDivider/>
    <InputSet
      id="MetricsVersionValue_Ext">
      <RangeInput
        editable="true"
        id="MetricsVersionValueTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.MetricsVersionValue_Ext"
        value="location.MetricsVersionValue_Ext"
        valueRange="gw.lob.ho.HODwellingUtil_HOE.getTunaCodes(tunaAppResponse.MetricsVersion)"/>
    </InputSet>
    <InputDivider/>
    <InputSet
      id="ResultingPrecision_Ext">
      <RangeInput
        editable="true"
        id="ResultingPercisionTunaReturned_Ext"
        label="displaykey.Web.BOP.BP7Location.ResultingPrecisionValue_Ext"
        value="location.ResultingPrecision_Ext"
        valueRange="{tunaAppResponse.ResultingPrecision}"/>
    </InputSet>
    <InputDivider/>
    <TypeKeyInput
      editable="true"
      id="FireProtectionClass"
      label="displaykey.Web.Policy.BP7.Location.FireProtectionClass "
      required="true"
      value="location.FireProtectionClassPPC"
      visible="false"/>
    <Input
      editable="true"
      id="LiquorLiabGrade"
      label="displaykey.Web.Policy.BP7.Location.LiquorLiabGrade"
      required="true"
      value="location.LiquorLiabGrade"
      visible="new gw.lob.bp7.availability.BP7LiquorLiabilityGradeAvailabilityHelper(location.Line).isVisible()"/>
  </InputSet>
</PCF>