<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="BP7LineBusinessOperationsPanelSet">
    <Require
      name="line"
      type="BP7Line"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <DetailViewPanel>
      <Variable
        initialValue="line.BP7LineBusinessType"
        name="oldBusinessTypeValue"
        recalculateOnRefresh="true"
        type="typekey.BP7PropertyType"/>
      <InputColumn>
        <DateInput
          editable="openForEdit"
          id="DateBusinessStarted"
          label="displaykey.Web.Policy.BP7.Line.DateBusinessCreated"
          value="line.DateBusinessStarted"/>
        <!-- <TypeKeyInput
          editable="openForEdit"
          id="LineBusinessType"
          label="displaykey.Web.Policy.BP7.Line.BusinessType"
          required="true"
          value="line.BP7LineBusinessType">
          <PostOnChange
            onChange="line.updateDependentFields(new gw.lob.common.dependency.DependenciesContext(BP7BusinessOwnersLine#BP7LineBusinessType.PropertyInfo, oldBusinessTypeValue), jobWizardHelper)"/>
        </TypeKeyInput> -->
        <TextAreaInput
          editable="openForEdit"
          id="BusinessDesc"
          label="displaykey.Web.Policy.BP7.Line.BusinessDesc"
          labelAbove="true"
          numCols="41"
          numRows="5"
          value="line.BusinessDesc"/>
        <Input
          editable="true"
          id="NumberOfEmployees_Ext"
          label="displaykey.Web.Policy.BP7.Line.NumberOfEmployees_Ext"
          required="true"
          value="line.NoOfEmployees_Ext"/>
        <Input
          editable="true"
          id="NumberOfPartEmployees_Ext"
          label="displaykey.Web.Policy.BP7.Line.NumberOfPartEmployees_Ext"
          required="true"
          value="line.NoOfPartEmployee_Ext">
          <PostOnChange/>
        </Input>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>