<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <RowSet
    id="BP7RatingOverrideCostRowSet">
    <Require
      name="costs"
      type="List&lt;gw.lob.bp7.financials.BP7CostDisplayable&gt;"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Require
      name="jobEffDate"
      type="java.util.Date"/>
    <Require
      name="title"
      type="String"/>
    <Row
      visible="costs.HasElements">
      <Cell
        bold="true"
        colspan="18"
        enableSort="false"
        id="Title"
        value="title"/>
    </Row>
    <RowIterator
      editable="isEditable"
      elementName="displayCost"
      pageSize="0"
      value="costs">
      <Variable
        initialValue="displayCost as BP7Cost"
        name="cost"
        recalculateOnRefresh="true"/>
      <IteratorSort
        sortBy="displayCost.Qualifier"
        sortOrder="1"/>
      <IteratorSort
        sortBy="displayCost.DisplayEffectiveDate"
        sortOrder="2"/>
      <IteratorSort
        sortBy="displayCost.DisplayCostID"
        sortOrder="3"/>
      <Row
        editable="!(cost.EffDate &lt; jobEffDate)">
        <Cell
          id="EmptyColumn"
          value="&quot;&quot;"/>
        <Cell
          id="Description"
          value="displayCost.DisplayDescription"/>
        <Cell
          id="Coverage"
          value="displayCost.DisplayCoverageName"/>
        <DateCell
          id="EffDate"
          value="cost.EffDate"/>
        <DateCell
          id="ExpDate"
          value="cost.ExpDate"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="ActualBaseRate"
          value="cost.ActualBaseRate"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="ActualAdjustedRate"
          value="cost.ActualAdjRate"/>
        <MonetaryAmountCell
          align="right"
          currency="cost.Branch.PreferredCoverageCurrency"
          formatType="currency"
          id="ActualTermAmount"
          value="cost.ActualTermAmountBilling"/>
        <MonetaryAmountCell
          align="right"
          currency="cost.Branch.PreferredCoverageCurrency"
          formatType="currency"
          id="ActualAmount"
          value="cost.ActualAmountBilling"/>
        <TextCell
          editable="cost.Overridable"
          format="&quot;0.0000&quot;"
          id="OverrideBaseRate"
          numCols="10"
          value="cost.OverrideBaseRate"/>
        <TextCell
          editable="cost.Overridable"
          format="&quot;0.0000&quot;"
          id="OverrideAdjustedRate"
          numCols="10"
          value="cost.OverrideAdjRate"/>
        <MonetaryAmountCell
          align="right"
          currency="cost.Branch.PreferredCoverageCurrency"
          editable="cost.Overridable"
          formatType="currency"
          id="OverrideTermAmount"
          numCols="10"
          value="cost.OverrideTermAmountBilling"/>
        <MonetaryAmountCell
          align="right"
          currency="cost.Branch.PreferredCoverageCurrency"
          editable="cost.Overridable"
          formatType="currency"
          id="OverrideAmount"
          numCols="10"
          value="cost.OverrideAmountBilling"/>
        <Cell
          editable="cost.Overridable"
          id="OverrideReason"
          numCols="20"
          value="cost.OverrideReason"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="StandardBaseRate"
          value="cost.StandardBaseRate"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="StandardAdjustedRate"
          value="cost.StandardAdjRate"/>
        <MonetaryAmountCell
          align="right"
          currency="cost.Branch.PreferredCoverageCurrency"
          formatType="currency"
          id="StandardTermAmount"
          value="cost.StandardTermAmountBilling"/>
        <MonetaryAmountCell
          align="right"
          currency="cost.Branch.PreferredCoverageCurrency"
          formatType="currency"
          id="StandardAmount"
          value="cost.StandardAmountBilling"/>
      </Row>
    </RowIterator>
  </RowSet>
</PCF>