<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ModalCell
          id="BP7ScheduledItemCovTermInput">
    <Require
      name="covTermDisplayable"
      type="gw.lob.common.displayable.ScheduledItemTermColumnDisplayable"/>
    <TextCell
      align="left"
      editable="covTermDisplayable.Editable"
      id="StringValue"
      required="covTermDisplayable.Required"
      value="covTermDisplayable.Value">
      <PostOnChange/>
    </TextCell>
  </ModalCell>
</PCF>