<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="PolicyLineSummaryPanelSet"
    mode="BP7Line">
    <Require
      name="line"
      type="PolicyLine"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="line as BP7BusinessOwnersLine"
      name="bp7line"/>
    <Variable
      initialValue="bp7line.CoveragesFromCoverable.toList()"
      name="coverages"
      type="java.util.List&lt;entity.Coverage&gt;"/>
    <Variable
      initialValue="bp7line.ExclusionsFromCoverable.toList()"
      name="exclusions"
      type="java.util.List&lt;entity.Exclusion&gt;"/>
    <Variable
      initialValue="bp7line.ConditionsFromCoverable.toList()"
      name="conditions"
      type="java.util.List&lt;entity.PolicyCondition&gt;"/>
    <Variable
      initialValue="bp7line.createPolicyReviewRowTree()"
      name="treeContent"/>
    <DetailViewPanel>
      <InputColumn>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel>
            <RowTree
              contentType="gw.lob.bp7.line.BP7PolicyReviewTreeRow"
              elementName="node"
              id="PolicyTree"
              value="treeContent">
              <Row
                editable="true"
                id="DiffTreeNode"
                useTitleStyle="node.IsTitle">
                <Cell
                  id="item"
                  label="&quot;&quot;"
                  value="node.Description"/>
                <Cell
                  enableSort="false"
                  id="itemValue"
                  label="&quot;&quot;"
                  value="node.Value"/>
              </Row>
            </RowTree>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>