<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingCumulDetailsPanelSet"
    mode="BP7Line">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Variable
      initialValue="period.BP7Line"
      name="line"
      type="BP7Line"/>
    <Variable
      initialValue="new gw.lob.bp7.financials.BP7QuoteCostFilter(line.AllCostsWindowMode)"
      name="quoteCostFilter"
      recalculateOnRefresh="true"/>
    <PanelRef
      def="RatingOverrideButtonDV(period, line, jobWizardHelper, CurrentLocation.InEditMode)"
      id="RatingOverrideButtonDV"/>
    <DetailViewPanel>
      <Variable
        initialValue="quoteCostFilter.AnyProrated"
        name="prorated"
        recalculateOnRefresh="true"/>
      <InputColumn>
        <ListViewInput>
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              editable="false"
              elementName="lineQualifier"
              pageSize="0"
              value="quoteCostFilter.children(new gw.lob.bp7.financials.BP7Qualifier(&quot;/&quot;))">
              <Variable
                initialValue="line.FixedId.Value"
                name="lineNumber"/>
              <Variable
                initialValue="quoteCostFilter.lineCoverageCosts(lineQualifier)"
                name="lineCosts"/>
              <IteratorSort
                sortBy="lineQualifier"
                sortOrder="1"/>
              <Row
                visible="false">
                <Cell
                  id="EmptyColumn"/>
                <Cell
                  id="Qualifier"
                  label="displaykey.Web.Policy.BP7.Financials.Description"/>
                <Cell
                  id="Coverage"
                  label="displaykey.Web.Policy.BP7.Financials.Coverage"/>
                <Cell
                  id="CostAdjRate"
                  label="displaykey.Web.Policy.BP7.Financials.Rate"/>
                <Cell
                  id="CostBasis"
                  label="displaykey.Web.Policy.BP7.Financials.Basis"/>
                <Cell
                  formatType="currency"
                  id="CostTermAmount"
                  label="displaykey.Web.Policy.BP7.Financials.TermAmount"
                  visible="prorated"/>
                <Cell
                  id="CostEffDate"
                  label="displaykey.Web.Policy.BP7.Financials.EffDate"
                  visible="prorated"/>
                <Cell
                  id="CostExpDate"
                  label="displaykey.Web.Policy.BP7.Financials.ExpDate"
                  visible="prorated"/>
                <Cell
                  enableSort="false"
                  id="CostProration"
                  label="displaykey.Web.Policy.BP7.Financials.Proration"
                  visible="prorated"
                  wrapLabel="true"/>
                <Cell
                  formatType="currency"
                  id="CostAmount"
                  label="displaykey.Web.Policy.BP7.Financials.Amount"/>
              </Row>
              <RowSetRef
                def="BP7CostRowSet(lineCosts, prorated, &quot;BP7Line&quot;)"
                id="LineCosts"/>
              <Row
                useSubHeaderStyle="true"
                visible="not prorated">
                <!-- <Cell
                  bold="true"
                  colspan="7"
                  enableSort="false"
                  id="NonProratedLocation"
                  value="(buildingCosts.first() ?: classificationCosts.first()).DisplayLocation"/> -->
              </Row>
              <RowIterator
                editable="false"
                elementName="locationQualifier"
                id="loc"
                pageSize="0"
                value="quoteCostFilter.children(new gw.lob.bp7.financials.BP7Qualifier(&quot;/line&quot;+lineNumber+&quot;/&quot;))">
                <Variable
                  initialValue="quoteCostFilter.locationCoverageCosts(locationQualifier)"
                  name="locationCosts"/>
                <RowSetRef
                  def="BP7CostRowSet(locationCosts, prorated, &quot;Location&quot;)"
                  id="locationCosts"/>
              </RowIterator>
              <Row
                useSubHeaderStyle="true"
                visible="prorated">
                <!-- <Cell
                  bold="true"
                  colspan="11"
                  enableSort="false"
                  id="ProratedLocation"
                  value="(buildingCosts.first() ?: classificationCosts.first()).DisplayLocation"/> -->
              </Row>
              <RowIterator
                editable="false"
                elementName="locationQualifier"
                pageSize="0"
                value="quoteCostFilter.children(new gw.lob.bp7.financials.BP7Qualifier(&quot;/line&quot;+lineNumber+&quot;/&quot;))">
                <Variable
                  initialValue="quoteCostFilter.buildingCoverageCosts(locationQualifier)"
                  name="buildingCosts"/>
                <Variable
                  initialValue="quoteCostFilter.classificationCoverageCosts(locationQualifier)"
                  name="classificationCosts"/>
                <RowSetRef
                  def="BP7CostRowSet(buildingCosts, prorated, displaykey.Web.Policy.BP7.Financials.Buildings)"
                  id="BuildingCosts"/>
                <RowSetRef
                  def="BP7CostRowSet(classificationCosts, prorated, displaykey.Web.Policy.BP7.Financials.Classifications)"
                  id="ClassificationCosts"/>
              </RowIterator>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel>
            <Variable
              initialValue="new gw.lob.bp7.financials.BP7BlanketQuoteCostFilter(line.AllCostsWindowMode)"
              name="blanketedCostFilter"/>
            <Variable
              initialValue="blanketedCostFilter.blanketedSlices()"
              name="blanketedSlices"
              type="java.util.List&lt;BP7Blanket&gt;"/>
            <RowIterator
              editable="false"
              elementName="blanket"
              id="BlanketSection"
              value="blanketedSlices.toList()"
              visible="blanketedSlices.HasElements">
              <Variable
                initialValue="blanketedCostFilter.blanketAverageRate(blanket).setScale(3, java.math.RoundingMode.HALF_UP).doubleValue()"
                name="blanketAvgRate"
                recalculateOnRefresh="true"/>
              <IteratorSort
                sortBy="blanket.BlanketNumber"
                sortOrder="1"/>
              <IteratorSort
                sortBy="blanket.EffectiveDate"
                sortOrder="2"/>
              <Row>
                <Cell
                  enableSort="false"
                  id="Qualifier"
                  label="displaykey.Web.Policy.BP7.Financials.Blanket"
                  value="blanket.BlanketType"/>
                <DateCell
                  enableSort="false"
                  id="CostEffDate"
                  label="displaykey.Web.Policy.BP7.Financials.EffDate"
                  value="blanket.EffectiveDate"
                  visible="prorated"/>
                <DateCell
                  enableSort="false"
                  id="CostExpDate"
                  label="displaykey.Web.Policy.BP7.Financials.ExpDate"
                  value="blanket.ExpirationDate"
                  visible="prorated"/>
                <Cell
                  align="right"
                  enableSort="false"
                  id="CostAvgRate"
                  label="displaykey.Web.Policy.BP7.Financials.AverageRate"
                  value="gw.api.util.StringUtil.formatNumber(blanketAvgRate, &quot;#0.000&quot;)"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
    <PanelRef>
      <Toolbar/>
      <ListViewPanel>
        <RowIterator
          editable="false"
          elementName="building"
          id="lineBuildings"
          value="line.AllBuildings"
          visible="true">
          <Row>
            <Cell
              id="buildingDesc"
              label="&quot;Building&quot;"
              value="building.DisplayName"/>
            <Cell
              id="accountModificationFactor"
              label="&quot;Account Modification Factor&quot;"
              value="una.rating.bp7.util.RateFactorUtil.setAccountModificationFactor(line)"/>
            <Cell
              id="buildingAgeFactor"
              label="&quot;Building Age Factor&quot;"
              value="una.rating.bp7.util.RateFactorUtil.setBuildingAgeFactor(line,RateBookStatus.TC_DRAFT, building)"/>
            <Cell
              id="experienceRatingFactor"
              label="&quot;Experience Rating Factor&quot;"
              value="una.rating.bp7.util.RateFactorUtil.setExperienceRatingFactor(line, RateBookStatus.TC_DRAFT)"/>
            <Cell
              id="territoryModificationFactor"
              label="&quot;Territory Modification Factor&quot;"
              value="una.rating.bp7.util.RateFactorUtil.setTerritoryModificationFactor(line, RateBookStatus.TC_DRAFT, building)"/>
            <Cell
              id="windExclusionFactor"
              label="&quot;Wind Exclusion Factor&quot;"
              value="una.rating.bp7.util.RateFactorUtil.setWindExclusionFactor(line, RateBookStatus.TC_DRAFT, building)"/>
            <Cell
              id="bcegFactor"
              label="&quot;BCEG Factor&quot;"
              value="una.rating.bp7.util.RateFactorUtil.setBCEGFactor(line, RateBookStatus.TC_DRAFT, building)"/>
            <Cell
              id="buildingDeductibleFactor"
              label="&quot;Building Deductible Factor&quot;"
              value="una.rating.bp7.util.RateFactorUtil.setBuildingDeductibleFactor(line, RateBookStatus.TC_DRAFT, building)"/>
            <Cell
              id="netAdjustmentFactor"
              label="&quot;Net Adjustment Factor&quot;"
              value="una.rating.bp7.util.RateFactorUtil.setNetAdjustmentFactor(line, RateBookStatus.TC_DRAFT, building)"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>