<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingTxDetailsPanelSet"
    mode="BP7Line">
    <Require
      name="thePeriod"
      type="PolicyPeriod"/>
    <Require
      name="totalPremLabel"
      type="String"/>
    <Require
      name="totalCostLabel"
      type="String"/>
    <Require
      name="revOpenForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="thePeriod.BP7Line"
      name="line"
      type="BP7Line"/>
    <Variable
      initialValue="new gw.lob.bp7.financials.BP7QuoteCostFilter(line.Transactions.toList() as List&lt;BP7Transaction&gt;)"
      name="quoteCostFilter"
      recalculateOnRefresh="true"/>
    <DetailViewPanel>
      <InputColumn>
        <ListViewInput>
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              editable="false"
              elementName="locationQualifier"
              pageSize="0"
              value="quoteCostFilter.children(new gw.lob.bp7.financials.BP7Qualifier(&quot;/&quot;))">
              <Variable
                initialValue="quoteCostFilter.buildingCoverageCosts(locationQualifier)"
                name="buildingCosts"/>
              <Variable
                initialValue="quoteCostFilter.classificationCoverageCosts(locationQualifier)"
                name="classificationCosts"/>
              <IteratorSort
                sortBy="locationQualifier"
                sortOrder="1"/>
              <Row
                visible="false">
                <Cell
                  id="EmptyColumn"/>
                <Cell
                  id="Qualifier"
                  label="displaykey.Web.Policy.BP7.Financials.Description"/>
                <Cell
                  id="Coverage"
                  label="displaykey.Web.Policy.BP7.Financials.Coverage"/>
                <Cell
                  id="CostAdjRate"
                  label="displaykey.Web.Policy.BP7.Financials.Rate"/>
                <Cell
                  id="CostBasis"
                  label="displaykey.Web.Policy.BP7.Financials.Basis"/>
                <Cell
                  formatType="currency"
                  id="CostTermAmount"
                  label="displaykey.Web.Policy.BP7.Financials.TermAmount"/>
                <Cell
                  id="CostEffDate"
                  label="displaykey.Web.Policy.BP7.Financials.EffDate"/>
                <Cell
                  id="CostExpDate"
                  label="displaykey.Web.Policy.BP7.Financials.ExpDate"/>
                <Cell
                  enableSort="false"
                  id="CostProration"
                  label="displaykey.Web.Policy.BP7.Financials.Proration"
                  wrapLabel="true"/>
                <Cell
                  formatType="currency"
                  id="CostAmount"
                  label="displaykey.Web.Policy.BP7.Financials.Amount"/>
                <Cell
                  id="CostBlanketed"
                  label="displaykey.Web.Policy.BP7.Financials.Blanketed"/>
              </Row>
              <Row
                useSubHeaderStyle="true">
                <Cell
                  bold="true"
                  colspan="11"
                  enableSort="false"
                  id="Location"
                  value="(buildingCosts.first() ?: classificationCosts.first()).DisplayLocation"/>
              </Row>
              <RowSetRef
                def="BP7CostRowSet(buildingCosts, true, displaykey.Web.Policy.BP7.Financials.Buildings)"
                id="BuildingCosts"/>
              <RowSetRef
                def="BP7CostRowSet(classificationCosts, true, displaykey.Web.Policy.BP7.Financials.Classifications)"
                id="ClassificationCosts"/>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>