<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="PortalJobCompleteDV">
    <Require
      name="job"
      type="Job"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="gw.api.web.Scopes.getSession().get(&quot;PortalHost&quot;) as String"
      name="portalHost"
      type="String"/>
    <InputColumn>
      <BulletPointTextInput
        action="AgentPortal.push(portalHost)"
        id="ReturnToPortal"
        value="&quot;displaykey.Edge.Web.TabBar.ReturnToPortal&quot;"
        visible="(job typeis Submission) or (job typeis Issuance)"/>
      <!-- <BulletPointTextInput
        action="SubmissionManager.go(job.Policy.Account)"
        id="SubmissionManager"
        value="displaykey.Web.SubmissionComplete.SubmissionManager"
        visible="(job typeis Submission) or (job typeis Issuance)"/> -->
    </InputColumn>
    <Code><![CDATA[function showViewPolicy() : Boolean {
  if (job typeis Submission) {
    if (policyPeriod.Status == "Declined"
        or policyPeriod.Status == "Withdrawn"
        or policyPeriod.Status == "NotTaken")
      return false
    if (!policyPeriod.isPromoted())
      return false
  }
  return true
}

function viewJobText() : String {
  if (job typeis Submission) {
    return displaykey.Web.SubmissionComplete.ViewSubmission(job.JobNumber)
  }
  else if (job typeis Issuance) {
    return displaykey.Web.IssuanceComplete.ViewIssuance(job.JobNumber)
  }
  else if (job typeis Renewal) {
    return displaykey.Web.Renewal.Complete.ViewRenewal(job.JobNumber)
  }
  else if (job typeis Audit) {
    return displaykey.Web.AuditComplete.ViewAudit(job.AuditInformation.AuditScheduleType.DisplayName.toLowerCase(), job.JobNumber)
  }
  else {
    return ""
  }
}

function reviewChanges() {
  if (job typeis Rewrite) {
    RewriteWizard.go(job, policyPeriod)
  }
  else if (job typeis PolicyChange) {
    PolicyChangeWizard.go(job, policyPeriod)
  }
}]]></Code>
  </DetailViewPanel>
</PCF>