<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CovTermPOCHOEInputSet"
    mode="Typekey">
    <Require
      name="term"
      type="gw.api.domain.covterm.CovTerm"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="coverable_Ext"
      type="Coverable"/>
    <Variable
      initialValue="term as gw.api.domain.covterm.TypekeyCovTerm"
      name="typekeyTerm"
      type="gw.api.domain.covterm.TypekeyCovTerm"/>
    <RangeInput
      editable="true"
      id="TypekeyTermInput"
      label="typekeyTerm.Pattern.DisplayName"
      required="typekeyTerm.Pattern.Required"
      value="typekeyTerm.Value"
      valueRange="una.productmodel.CoveragesUtil.getAvailableValuationMethods(typekeyTerm)">
      <PostOnChange
        onChange="gw.web.productmodel.ProductModelSyncIssuesHandler.syncCoverages(coverable_Ext.PolicyLine.AllCoverables, null)"/>
    </RangeInput>
  </InputSet>
</PCF>