<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CovTermPOCHOEInputSet"
    mode="Direct">
    <Require
      name="term"
      type="gw.api.domain.covterm.CovTerm"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="coverable_Ext"
      type="Coverable"/>
    <CovTermDirectInput
      editable="term.IsEditable"
      id="DirectTermInput"
      label="term.Pattern.DisplayName"
      required="term.Pattern.Required"
      validationExpression="una.pageprocess.CovTermInputSetPCFController.validate(coverable_Ext, term as gw.api.domain.covterm.DirectCovTerm)"
      value="term">
      <PostOnChange
        onChange="una.pageprocess.CovTermInputSetPCFController .onchange(coverable_Ext, term);"/>
    </CovTermDirectInput>
  </InputSet>
</PCF>