<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="CovTermIncreasedCostDirectInputSet">
    <Require
      name="directCovTerm"
      type="gw.api.domain.covterm.DirectCovTerm"/>
    <Require
      name="cpBuilding"
      type="CPBuilding"/>
    <Require
      name="cpLine"
      type="CommercialPropertyLine"/>
    <TextInput
      editable="directCovTerm.IsEditable"
      id="DirectTermInput"
      inputConversion="gw.pcf.coverage.CovTermDirectInputSetHelper.convertFromString(VALUE)"
      label="directCovTerm.Pattern.DisplayName"
      outputConversion="gw.pcf.coverage.CovTermDirectInputSetHelper.convertToString(VALUE)"
      required="directCovTerm.Pattern.Required"
      validationExpression="gw.pcf.coverage.CovTermDirectInputSetHelper.validate(directCovTerm)"
      value="directCovTerm.Value">
      <PostOnChange
        onChange="una.productmodel.CPAutoPopulateUtil.setIncreasedCostLimit(cpLine,cpBuilding)"/>
    </TextInput>
  </InputSet>
</PCF>