<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="IntegerInputSet">
    <Require
      name="displayable"
      type="gw.lob.common.displayable.Displayable&lt;java.lang.Integer&gt;"/>
    <Require
      name="scheduledItem"
      type="ScheduledItem"/>
    <Require
      name="schedulePropertyInfo"
      type="gw.api.productmodel.SchedulePropertyInfo"/>
    <Require
      name="fieldDependencyInput"
      type="boolean"/>
    <Require
      name="wizard"
      type="web.job.JobWizardHelper"/>
    <Input
      confirmMessage="displayable.ConfirmMessage"
      editable="displayable.Editable"
      id="Displayable"
      label="displayable.Label"
      requestValidationExpression="(schedulePropertyInfo typeis gw.api.productmodel.ScheduleIntegerRangePropertyInfo ) ? schedulePropertyInfo.validate(VALUE) : null"
      required="displayable.Required"
      showConfirmMessage="displayable.ShowConfirmMessage"
      value="displayable.IntegerValue"
      visible="not fieldDependencyInput and displayable.Visible"/>
    <Input
      confirmMessage="displayable.ConfirmMessage"
      editable="displayable.Editable"
      id="FieldDependencyDisplayable"
      label="displayable.Label"
      requestValidationExpression="(schedulePropertyInfo typeis gw.api.productmodel.ScheduleIntegerRangePropertyInfo ) ? schedulePropertyInfo.validate(VALUE) : null"
      required="displayable.Required"
      showConfirmMessage="displayable.ShowConfirmMessage"
      value="displayable.IntegerValue"
      visible="fieldDependencyInput and displayable.Visible">
      <PostOnChange
        onChange="displayable.onChange(wizard)"/>
    </Input>
  </InputSet>
</PCF>