<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    alwaysInEditMode="true"
    canEdit="true"
    countsAsWork="false"
    id="MigrationTools"
    parent="UnsupportedTools()"
    startInEditMode="true"
    title="displaykey.Accelerator.DataMigration.Web.ServerTools.MigrationTools">
    <LocationEntryPoint
      signature="MigrationTools()"/>
    <Variable
      name="accountNumber"
      type="java.lang.String"/>
    <Variable
      initialValue="&quot;mg&quot;"
      name="pubidPrefix"/>
    <Screen
      id="MigrationToolsScreen">
      <PanelSet>
        <DetailViewPanel
          id="RegistoryDV">
          <InputColumn>
            <Label
              label="displaykey.Accelerator.DataMigration.Web.ServerTools.RegistryTools"/>
            <InputSet>
              <ButtonInput
                action="gwservices.pc.dm.gx.entitypopulators.Registry.downloadXmlModelBackingReferencesReport()"
                download="true"
                id="ExecuteMigrationToolsBackingClasses"
                label="displaykey.Accelerator.DataMigration.Web.ServerTools.ExtractModelBackingClasses"
                value="displaykey.Button.Download"/>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="displaykey.Accelerator.DataMigration.Web.ServerTools.ModelTools"/>
            <InputSet>
              <TextInput
                editable="true"
                id="ChooseMigrationToolsXmlModelAccount"
                label="displaykey.Accelerator.DataMigration.Web.ServerTools.AccountNumber"
                value="accountNumber"/>
              <TextInput
                editable="true"
                id="ChooseMigrationToolsXmlModelPrefix"
                label="displaykey.Accelerator.DataMigration.Web.ServerTools.PubIDPrefix"
                value="pubidPrefix"/>
              <ButtonInput
                action="gwservices.pc.dm.util.MigrationUtil.downloadPayloads(accountNumber, pubidPrefix)"
                download="true"
                id="ExecuteMigrationToolsXmlModels"
                label="displaykey.Accelerator.DataMigration.Web.ServerTools.ExtractXMLModels"
                value="displaykey.Button.Download"/>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
      </PanelSet>
    </Screen>
  </Page>
</PCF>