<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="PolicyChangeWizard_PolicyInfoScreen">
    <Require
      name="policyChange"
      type="PolicyChange"/>
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="period.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(period, policyChange, jobWizardHelper)"/>
    </Toolbar>
    <PanelRef
      def="OOSEPanelSet(period, jobWizardHelper)"/>
    <PanelRef
      def="PolicyChangeWizard_PolicyInfoDV(period)"/>
    <PanelRef
      def="TrustPanelSet(period)"
      id="TrustPanel1"/>
    <PanelRef
      def="AdditionalNamedInsuredsDV(period, openForEdit)"/>
    <PanelRef
      def="AdditionalInsuredsDV(period.HomeownersLine_HOE, true, true)"
      visible="period.HomeownersLine_HOEExists"/>
    <PanelRef
      def="AdditionalInsureds_ExtDV(period.HomeownersLine_HOE, true, true) "
      id="AddIntTruestee"
      visible="period.HomeownersLine_HOEExists"/>
    <PanelRef
      def="PolicyDBAsDV(period,true)"
      id="listOfDBAs"/>
    <PanelRef
      id="partiesToTrust"
      visible="!period.HomeownersLine_HOEExists and period.Policy.Account.AccountOrgType == typekey.AccountOrgType.TC_TRUST_EXT">
      <DetailViewPanel>
        <InputColumn>
          <InputDivider/>
          <Label
            label="&quot;Parties to the Trust&quot;"/>
          <ListViewInput
            labelAbove="true">
            <Toolbar>
              <IteratorButtons
                iterator="partiesLV"/>
            </Toolbar>
            <ListViewPanel
              id="partiesLV">
              <RowIterator
                editable="true"
                elementName="parties"
                toCreateAndAdd="period.createAndAddNewParties()"
                toRemove="period.removeFromPartiesTrust_Ext(parties)"
                value="period.PartiesTrust_Ext">
                <Row>
                  <Cell
                    editable="true"
                    id="name"
                    label="&quot;Name&quot;"
                    value="parties.Name"/>
                  <Cell
                    editable="true"
                    id="partyTrust"
                    label="&quot;Party to the Trust&quot;"
                    required="true"
                    value="parties.PartiesToTrust_Ext"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef
      visible="!period.HomeownersLine_HOEExists">
      <DetailViewPanel>
        <InputColumn>
          <BooleanRadioInput
            editable="true"
            id="anyotherbusiness"
            label="&quot;Any Other Business Under Common Ownership with any named insured&quot;"
            required="true"
            value="period.CommonOwenership_Ext"
            visible="!period.HomeownersLine_HOEExists"/>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef
      visible="!period.HomeownersLine_HOEExists">
      <DetailViewPanel>
        <InputColumn>
          <InputDivider/>
          <Label
            label="&quot;Other Business Entities&quot;"/>
          <ListViewInput
            labelAbove="true">
            <Toolbar>
              <IteratorButtons
                iterator="OBEntitiesLV"/>
            </Toolbar>
            <ListViewPanel
              id="OBEntitiesLV">
              <RowIterator
                editable="true"
                elementName="OBEntity"
                toCreateAndAdd="period.createAndAddNewOBEntity()"
                toRemove="period.removeFromOBEntities_Ext(OBEntity)"
                value="period.OBEntities_Ext">
                <Row>
                  <Cell
                    editable="true"
                    id="name"
                    label="&quot;Name&quot;"
                    value="OBEntity.Name"/>
                  <Cell
                    editable="true"
                    id="ownershipPercentage"
                    label="&quot;Ownership Percentage&quot;"
                    value="OBEntity.OwnershipPercentage_Ext"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef
      visible="!period.HomeownersLine_HOEExists and (period.Policy.Account.AccountOrgType == typekey.AccountOrgType.TC_JOINTVENTURE or period.Policy.Account.AccountOrgType == typekey.AccountOrgType.TC_GENERALPARTNERSHIP_EXT or period.Policy.Account.AccountOrgType == typekey.AccountOrgType.TC_LIMITEDLIABILITYPARTNERSHIP_EXT)">
      <DetailViewPanel>
        <InputColumn>
          <InputDivider/>
          <Label
            label="&quot;Number of Partnerships, Partners, Parties &quot;"/>
          <ListViewInput
            labelAbove="true">
            <Toolbar>
              <IteratorButtons
                iterator="partnershipLV"/>
            </Toolbar>
            <ListViewPanel
              id="partnershipLV">
              <RowIterator
                editable="true"
                elementName="partnership"
                toCreateAndAdd="period.createAndAddNewNumberOfPartnership()"
                toRemove="period.removeFromNumberOfPartnerships_Ext(partnership)"
                value="period.NumberOfPartnerships_Ext">
                <Row>
                  <Cell
                    editable="true"
                    id="name"
                    label="&quot;Name&quot;"
                    value="partnership.Name"/>
                  <Cell
                    editable="true"
                    id="owneershipPercentage"
                    label="&quot;Ownership Percentage&quot;"
                    value="partnership.OwnershipPercentage_Ext"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </Screen>
</PCF>