<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="RewriteWizard_PolicyInfoScreen">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="rewrite"
      type="Rewrite"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="period.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(period, rewrite, jobWizardHelper)"/>
    </Toolbar>
    <PanelRef
      def="OOSEPanelSet(period, jobWizardHelper)"/>
    <PanelRef
      def="RewriteWizard_PolicyInfoDV(period, rewrite)"/>
    <PanelRef
      def="TrustPanelSet(period)"
      id="TrustPanel1"/>
    <PanelRef
      def="AdditionalNamedInsuredsDV(period, openForEdit)"/>
    <PanelRef
      def="AdditionalInsuredsDV(period.HomeownersLine_HOE, true, true)"
      visible="period.HomeownersLine_HOEExists"/>
    <PanelRef
      def="AdditionalInsureds_ExtDV(period.HomeownersLine_HOE, true, true) "
      id="AddIntTruestee"
      visible="period.HomeownersLine_HOEExists"/>
    <PanelRef
      def="PolicyDBAsDV(period,true)"
      id="listOfDBAs"/>
  </Screen>
</PCF>