<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="EditNoteScreen">
    <Require
      name="note"
      type="Note"/>
    <Toolbar>
      <EditButtons
        editVisible="perm.Note.edit(note)"/>
      <PickerToolbarButton
        action="PickExistingDocumentPopup.push(note.Policy != null ? note.Policy : note.Account)"
        id="linkDocsPickerButton"
        label="displaykey.Accelerator.OnBase.Notes.STR_GW_LinkDocumentToNote"
        onPick="onbase.api.application.NotesUtil.linkDocumentToNote(PickedValue, note)"/>
    </Toolbar>
    <PanelRef
      def="EditNoteDV(note)"/>
  </Screen>
</PCF>