<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Forward
    canVisit="perm.System.viewpolicyfile"
    id="PolicyForward"
    onBeforeForward="setPortalSession()">
    <ForwardCondition
      action="web.policy.PolicyForwardUtil.getPolicyDestination().go()"/>
    <Code><![CDATA[function setPortalSession() {
  var _logger = org.slf4j.LoggerFactory.getLogger("PortalEntry")
  _logger.info("test")
  //TODO:Remove
}]]></Code>
  </Forward>
</PCF>