<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    afterEnter="gw.api.web.PebblesUtil.addWebMessages(CurrentLocation, PolicyPeriod.PolicyFileMessages)"
    canVisit="perm.PolicyPeriod.view(PolicyPeriod) and perm.System.pfiledetails"
    id="PolicyFileDwellingConstructionHOE"
    parent="PolicyFile(PolicyPeriod, AsOfDate)"
    title="displaykey.Web.PolicyFile.DwellingConstruction">
    <LocationEntryPoint
      signature="PolicyFileDwellingConstructionHOE(PolicyPeriod : PolicyPeriod, AsOfDate : DateTime)"/>
    <Variable
      name="PolicyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="AsOfDate"
      type="DateTime"/>
    <Screen
      id="policyFile_DwellingConstruction_Screen">
      <TitleBar/>
      <Toolbar/>
      <PanelRef
        def="HODwellingConstructionDetailsHOEDV(PolicyPeriod.HomeownersLine_HOE.Dwelling, false)"/>
    </Screen>
  </Page>
</PCF>