<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="HOPriorLossDetailsExtDV">
    <Require
      name="priorLoss"
      type="HOPriorLoss_Ext"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <InputColumn>
      <Input
        editable="openForEdit"
        id="claimDate"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimDate"
        value="priorLoss.ClaimDate"/>
      <Input
        editable="openForEdit"
        id="claimStatus"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimStatus"
        value="priorLoss.ClaimStatus"/>
      <Input
        editable="openForEdit"
        id="claimScope"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimScope"
        value="priorLoss.ClaimScope"/>
      <Input
        editable="openForEdit"
        id="claimType"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimType"
        value="priorLoss.ClaimType"/>
      <Input
        editable="openForEdit"
        id="claimNum"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimNum"
        required="true"
        value="priorLoss.ClaimNum"/>
      <Input
        editable="openForEdit"
        id="paymentDate"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.PaymentDate"
        value="priorLoss.PaymentDate"/>
      <Input
        editable="openForEdit"
        id="claimAge"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimAge"
        value="priorLoss.ClaimAge"/>
      <Input
        editable="openForEdit"
        id="disputeDate"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.DisputeDate"
        value="priorLoss.DisputeDate"/>
      <Input
        editable="openForEdit"
        id="catIndicator"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.catIndicator"
        value="priorLoss.CatastropheInica"/>
      <Input
        editable="openForEdit"
        id="mCompany"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.MortgageComp"
        value="priorLoss.mortgageComp"/>
      <Input
        editable="openForEdit"
        id="mortgageNum"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.MortgageNum"
        value="priorLoss.mortgageNum"/>
      <Input
        editable="openForEdit"
        id="vin"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.AmBest"
        value="priorLoss.AmBest"/>
    </InputColumn>
    <InputColumn>
      <Input
        editable="openForEdit"
        id="insurer"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.Insurer"
        value="priorLoss.PolicyCompany"/>
      <Input
        editable="openForEdit"
        id="pHolderName"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.PHolderName"
        value="priorLoss.PolicyHolderName"/>
      <Input
        editable="openForEdit"
        id="address"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.Address"
        value="priorLoss.Address"/>
      <Input
        editable="openForEdit"
        id="City"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.City"
        value="priorLoss.City"/>
      <Input
        editable="openForEdit"
        id="State"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.State"
        value="priorLoss.State"/>
      <Input
        editable="openForEdit"
        id="Zip"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.Zip"
        value="priorLoss.Zip"/>
      <Input
        editable="openForEdit"
        id="LicNum"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.AddressType"
        value="priorLoss.AddressType"/>
      <Input
        editable="openForEdit"
        id="pPolNum"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.PPolicyNum"
        value="priorLoss.PropertyPolicyNum"/>
      <Input
        editable="openForEdit"
        id="pType"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.PType"
        value="priorLoss.PropertyType"/>
      <Input
        editable="openForEdit"
        id="locOfLoss"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.LocOfLoss"
        value="priorLoss.LocationOfLoss"/>
      <Input
        editable="openForEdit"
        id="sMatchIndic"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.SearchMatchIndicator"
        value="priorLoss.SearchMatchIndicator"/>
      <Input
        id="mAdded"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.ManuallyAddedLoss"
        value="priorLoss.ManuallyAddedLoss"/>
      <TypeKeyInput
        editable="true"
        id="OriginLoss"
        label="displaykey.Accelerator.LexisNexis.Clue.Property.OriginLoss"
        required="true"
        value="priorLoss.OriginLoss">
        <PostOnChange/>
      </TypeKeyInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>