<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../../pcf.xsd">
  <ListViewPanel
    id="HOPriorLossPaymentExtLV">
    <Require
      name="priorLoss"
      type="HOPriorLoss_Ext"/>
    <ExposeIterator
      valueType="ErrorType"
      widget="HOPriorLossPaymentExtLV"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="priorLoss.ClaimPayment"
      name="claimPayments"
      recalculateOnRefresh="true"/>
    <RowIterator
      canPick="false"
      editable="openForEdit"
      elementName="claimPayment"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      toAdd="priorLoss.addToClaimPayment(claimPayment)"
      toRemove="priorLoss.removeFromClaimPayment(claimPayment)"
      value="claimPayments">
      <Row>
        <Cell
          editable="openForEdit"
          id="creporteddate"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.ReportedDate"
          value="claimPayment.ReportedDate"/>
        <TypeKeyCell
          editable="openForEdit"
          id="closstype"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.LossCause"
          value="claimPayment.LossCause_Ext"/>
        <TypeKeyCell
          editable="openForEdit"
          id="expandedloss"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.ExpandedLossCause"
          value="claimPayment.ExpandedLossCause_Ext"/>
        <TypeKeyCell
          editable="openForEdit"
          id="status"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.Status"
          value="claimPayment.ClaimDisposition_Ext"/>
        <Cell
          editable="openForEdit"
          id="pAmount"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.PaymentAmount"
          value="claimPayment.ClaimAmount"/>
        <TypeKeyCell
          editable="openForEdit"
          id="cat"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.CAT"
          value="claimPayment.Cat_Ext"/>
        <TypeKeyCell
          editable="openForEdit"
          id="chargeable"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.Chargeable"
          value="claimPayment.Chargeable"
          visible="policyPeriod.HomeownersLine_HOEExists == &quot;True&quot;"/>
        <TypeKeyCell
          editable="openForEdit"
          id="ignoreuw"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.IgnoreUW"
          value="claimPayment.IgnoreUW"
          visible="policyPeriod.HomeownersLine_HOEExists == &quot;True&quot;"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>