<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="HOPriorLossExtScreen">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="policyPeriod.HomeownersLine_HOE"
      name="hoLine"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="policyPeriod.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, policyPeriod.Job, jobWizardHelper)"/>
    </Toolbar>
    <PanelSet>
      <PanelRef
        def="OOSEPanelSet(policyPeriod, jobWizardHelper)"/>
      <PanelRef
        def="HOPriorLossExtPanelSet(policyPeriod, policyPeriod.HomeownersLine_HOE, openForEdit,jobWizardHelper)"/>
    </PanelSet>
  </Screen>
</PCF>