<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../../pcf.xsd">
  <PanelSet
    id="HOPriorLossExtPanelSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="hoLine"
      type="HomeownersLine_HOE"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="una.integration.service.gateway.plugin.GatewayPlugin.makeCLUEGateway()"
      name="ClueProperty"
      type="una.integration.service.gateway.clue.CluePropertyInterface"/>
    <Variable
      initialValue="hoLine.HOPriorLosses_Ext"
      name="hoPriorLosses"
      recalculateOnRefresh="true"/>
    <ListDetailPanel
      id="LossListDetailPanel"
      selectionName="selectedLoss"
      selectionType="HOPriorLoss_Ext">
      <DetailViewPanel>
        <InputColumn>
          <Label
            id="reportStatus"
            label="policyPeriod.HomeownersLine_HOE.ClueStatus_Ext"
            visible="policyPeriod.HomeownersLine_HOE.ClueStatus_Ext != null &amp;&amp; policyPeriod.HomeownersLine_HOE.ClueStatus_Ext != &quot;&quot;"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <TitleBar
          id="LossDetailTitle"
          title="displaykey.Accelerator.LexisNexis.Clue.Property.LossDetails"/>
        <Toolbar
          visible="true">
          <AddButton
            id="addButton"
            iterator="lossIterator"
            label="displaykey.Accelerator.LexisNexis.Clue.Property.Add"
            pickLocation="HOPriorLossExtPopup.push(null, policyPeriod, true, true)"
            visible="perm.System.cluepropertyedit_ext &amp;&amp; openForEdit"/>
          <IteratorButtons
            addVisible="false"
            hideIfReadOnly="false"
            id="addRemLosses"
            iterator="lossIterator"
            removeVisible="perm.System.cluepropertyedit_ext &amp;&amp; openForEdit"/>
          <ToolbarButton
            action="ClueProperty.orderClueProperty(policyPeriod); CurrentLocation.commit(); CurrentLocation.startEditing();"
            available="CurrentLocation.InEditMode &amp;&amp; openForEdit"
            id="ClueButton"
            label="displaykey.Accelerator.LexisNexis.Clue.Property.RetrieveClueLabel"/>
        </Toolbar>
        <ListViewPanel
          id="LossesLV">
          <RowIterator
            checkBoxVisible="perm.System.cluepropertyedit_ext"
            editable="openForEdit"
            elementName="loss"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            id="lossIterator"
            toAdd="hoLine.addToHOPriorLosses_Ext(loss)"
            toRemove="hoLine.removeFromHOPriorLosses_Ext(loss); CurrentLocation.commit(); CurrentLocation.startEditing();"
            type="HOPriorLoss_Ext"
            value="hoPriorLosses">
            <ToolbarFlag
              name="lossFlag"/>
            <Row>
              <Cell
                action="HOPriorLossExtPopup.push(loss, policyPeriod, true, true)"
                actionAvailable="perm.System.cluepropertyedit_ext &amp;&amp; openForEdit"
                align="left"
                id="cDate"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimDate"
                value="loss.ClaimDate"/>
              <Cell
                align="left"
                id="pholder"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.PHolderName"
                value="loss.PolicyHolderName"/>
              <Cell
                align="left"
                id="pPolNum"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.PPolicyNum"
                value="loss.PropertyPolicyNum"/>
              <Cell
                id="claimAge"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimAgeYears"
                value="loss.ClaimAge"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <CardViewPanel
        id="clueLossDetailsCV">
        <Card
          id="ClueLossDetailCard"
          title="displaykey.Accelerator.LexisNexis.Clue.Property.ClueLossDetails"
          visible="true">
          <PanelRef
            def="HOPriorLossDetailsExtDV(selectedLoss,false)"
            visible="true"/>
          <PanelRef
            def="HOPriorLossPaymentExtLV(selectedLoss,false)"
            editable="openForEdit"
            visible="true">
            <TitleBar
              title="displaykey.Accelerator.LexisNexis.Clue.Property.Payout"/>
            <Toolbar
              visible="false">
              <IteratorButtons
                addVisible="perm.System.cluepropertyedit_ext"
                iterator="HOPriorLossPaymentExtLV.HOPriorLossPaymentExtLV"
                removeVisible="perm.System.cluepropertyedit_ext"/>
            </Toolbar>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </PanelSet>
</PCF>