<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../../pcf.xsd">
  <PanelSet
    id="HOPriorLossExtPanelSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="hoLine"
      type="HomeownersLine_HOE"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="una.integration.service.gateway.plugin.GatewayPlugin.makeCLUEGateway()"
      name="ClueProperty"
      type="una.integration.service.gateway.clue.CluePropertyInterface"/>
    <Variable
      initialValue="hoLine.HOPriorLosses_Ext"
      name="hoPriorLosses"
      recalculateOnRefresh="true"/>
    <ListDetailPanel
      id="LossListDetailPanel"
      selectionName="selectedLoss"
      selectionType="HOPriorLoss_Ext">
      <DetailViewPanel>
        <InputColumn>
          <Label
            id="reportStatus"
            label="policyPeriod.HomeownersLine_HOE.ClueStatus_Ext"
            visible="policyPeriod.HomeownersLine_HOE.ClueStatus_Ext != null &amp;&amp; policyPeriod.HomeownersLine_HOE.ClueStatus_Ext != &quot;&quot;"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <TitleBar
          id="LossDetailTitle"
          title="displaykey.Accelerator.LexisNexis.Clue.Property.LossDetails"/>
        <Toolbar
          visible="true">
          <AddButton
            id="addButton"
            iterator="lossIterator"
            label="displaykey.Accelerator.LexisNexis.Clue.Property.Add"
            pickLocation="HOPriorLossExtPopup.push(null, policyPeriod, true, true)"
            visible="perm.System.cluepropertyedit_ext &amp;&amp; openForEdit"/>
          <IteratorButtons
            addVisible="false"
            hideIfReadOnly="false"
            id="addRemLosses"
            iterator="lossIterator"
            removeVisible="perm.System.cluepropertyedit_ext &amp;&amp; openForEdit"/>
          <ToolbarButton
            action="orderClue()"
            available="CurrentLocation.InEditMode &amp;&amp; openForEdit "
            confirmMessage="getMsg()"
            id="ClueButton"
            label="displaykey.Accelerator.LexisNexis.Clue.Property.RetrieveClueLabel"
            visible="policyPeriod.Submission?.QuoteType != typekey.QuoteType.TC_QUICK"/>
          <ToolbarRangeInput
            id="NoOfClaimYears"
            label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimFreeYears"
            value="policyPeriod.ClaimFreeYear"
            valueRange="typekey.NoClaimFreeYears_Ext.getTypeKeys(false)"
            visible="edge.capabilities.helpers.PolicyUtil.getValuesByVisibility(policyPeriod)"/>
        </Toolbar>
        <ListViewPanel
          id="LossesLV">
          <RowIterator
            checkBoxVisible="perm.System.cluepropertyedit_ext"
            editable="openForEdit"
            elementName="loss"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            id="lossIterator"
            toAdd="hoLine.addToHOPriorLosses_Ext(loss)"
            toRemove="hoLine.removeFromHOPriorLosses_Ext(loss); CurrentLocation.commit(); CurrentLocation.startEditing();"
            type="HOPriorLoss_Ext"
            value="hoPriorLosses">
            <ToolbarFlag
              name="lossFlag"/>
            <Row>
              <Cell
                action="HOPriorLossExtPopup.push(loss, policyPeriod, true, true)"
                actionAvailable="perm.System.cluepropertyedit_ext &amp;&amp; openForEdit"
                align="left"
                id="Source"
                label="&quot;Source&quot;"
                value="loss.Source_Ext"/>
              <Cell
                action="HOPriorLossExtPopup.push(loss, policyPeriod, true, true)"
                actionAvailable="perm.System.cluepropertyedit_ext &amp;&amp; openForEdit"
                align="left"
                id="cDate"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimDate"
                value="loss.ClaimDate"/>
              <Cell
                action="HOPriorLossExtPopup.push(loss, policyPeriod, true, true)"
                actionAvailable="perm.System.cluepropertyedit_ext &amp;&amp; openForEdit"
                align="left"
                id="reportedDate"
                label="&quot;Reported Date&quot;"
                value="loss.ReportedDate"/>
              <Cell
                align="left"
                id="pholder"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.PHolderName"
                value="loss.PolicyHolderName"/>
              <Cell
                align="left"
                id="pPolNum"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.PPolicyNum"
                value="loss.PropertyPolicyNum"/>
              <Cell
                id="claimAge"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimAgeYears"
                value="loss.ClaimAge"/>
              <Cell
                id="CAT"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.CAT"
                value="loss.CatastropheInica"/>
              <Cell
                align="left"
                id="status"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.Status"
                value="loss.ClaimStatus"/>
              <Cell
                align="left"
                id="chargeable"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.Chargeable"
                value="loss.ChargeableClaim"/>
              <Cell
                align="left"
                id="ignoreUW"
                label="displaykey.Accelerator.LexisNexis.Clue.Property.IgnoreUW"
                value="loss.IgnoreUW"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <CardViewPanel
        id="clueLossDetailsCV">
        <Card
          id="ClueLossDetailCard"
          title="displaykey.Accelerator.LexisNexis.Clue.Property.ClueLossDetails"
          visible="true">
          <PanelRef
            def="HOPriorLossDetailsExtDV(selectedLoss,false)"
            visible="true"/>
          <PanelRef
            def="HOPriorLossPaymentExtLV(selectedLoss,false,policyPeriod)"
            editable="openForEdit"
            visible="true">
            <TitleBar
              title="displaykey.Accelerator.LexisNexis.Clue.Property.Payout"/>
            <Toolbar
              visible="false">
              <IteratorButtons
                addVisible="perm.System.cluepropertyedit_ext"
                iterator="HOPriorLossPaymentExtLV.HOPriorLossPaymentExtLV"
                removeVisible="perm.System.cluepropertyedit_ext"/>
            </Toolbar>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
    <Code><![CDATA[function orderClue(){
  HOFCRADisclosurePopup.push(null,null,null,policyPeriod.Submission.JobNumber,policyPeriod.PeriodStart,policyPeriod,null,null,null,null,ClueProperty,jobWizardHelper);
}

function getMsg():String {
  if (policyPeriod.HomeownersLine_HOE.ClueHit_Ext)
    return "Are you sure you want to reorder the CLUE report?"
  else 
    return null
}]]></Code>
  </PanelSet>
</PCF>