<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../../pcf.xsd">
  <ListViewPanel
    id="HOPriorLossPaymentExtLV">
    <Require
      name="priorLoss"
      type="HOPriorLoss_Ext"/>
    <ExposeIterator
      valueType="ErrorType"
      widget="HOPriorLossPaymentExtLV"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <Variable
      initialValue="priorLoss.ClaimPayment"
      name="claimPayments"
      recalculateOnRefresh="true"/>
    <RowIterator
      canPick="false"
      editable="openForEdit"
      elementName="claimPayment"
      hideCheckBoxesIfReadOnly="true"
      toAdd="priorLoss.addToClaimPayment(claimPayment)"
      toRemove="priorLoss.removeFromClaimPayment(claimPayment)"
      value="claimPayments">
      <Row>
        <Cell
          editable="openForEdit"
          id="cType"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.ClaimType"
          value="claimPayment.ClaimType"/>
        <Cell
          editable="openForEdit"
          id="status"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.Status"
          value="claimPayment.ClaimDisposition"/>
        <Cell
          editable="openForEdit"
          id="pAmount"
          label="displaykey.Accelerator.LexisNexis.Clue.Property.PaymentAmount"
          value="claimPayment.ClaimAmount"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>