<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="AdditionalInsuredInfoDV"
    mode="HomeownersLine_HOE">
    <Require
      name="policyAddlInsuredDetail"
      type="entity.PolicyAddlInsuredDetail"/>
    <Variable
      initialValue="una.pageprocess.ContactPCFController.areAdditionalInsuredCoverageFieldsAvailable(policyAddlInsuredDetail.Branch)"
      name="areCoverageFieldsAvailable"
      type="Boolean"/>
    <InputColumn>
      <TypeKeyInput
        available="policyAddlInsuredDetail.AdditionalInsuredType != typekey.AdditionalInsuredType.TC_TRUESTEE_EXT"
        editable="true"
        id="Type"
        label="displaykey.Web.LineWizard.AdditionalInsured.Type"
        required="true"
        value="policyAddlInsuredDetail.AdditionalInsuredType"/>
      <Input
        editable="true"
        id="insuredType"
        label="&quot;Additional Insured Type&quot;"
        required="true"
        value="policyAddlInsuredDetail.CoverageType_Ext"
        visible="areCoverageFieldsAvailable"/>
      <Input
        editable="true"
        id="interest"
        label="&quot;Additional Insured Interest&quot;"
        required="true"
        value="policyAddlInsuredDetail.InterestType_Ext"
        visible="areCoverageFieldsAvailable"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>