<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="AdditionalInsuredInfoDV"
    mode="HomeownersLine_HOE">
    <Require
      name="policyAddlInsuredDetail"
      type="entity.PolicyAddlInsuredDetail"/>
    <InputColumn/>
  </DetailViewPanel>
</PCF>