<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="openForEdit"
    id="HOUnderwritingQuestionsHOEDV"
    visible="!(Job typeis Submission) or perm.System.viewsubmission">
    <Require
      name="interestContainer"
      type="gw.api.contact.AdditionalInterestContainer"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="dwelling"
      type="Dwelling_HOE"/>
    <Variable
      initialValue="interestContainer.PolicyPeriod"
      name="policyPeriod"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="interestContainer.AdditionalInterestCandidates"
      name="existingAdditionalInterests"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="interestContainer.AdditionalInterestOtherCandidates"
      name="otherContacts"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.contact.IContactConfigPlugin)"
      name="contactConfigPlugin"/>
    <InputColumn
      labelWidth="1000"
      width="10000">
      <Label
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions"/>
      <BooleanRadioInput
        editable="true"
        id="hohomesharing"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.homesharing"
        value="dwelling.HOUWQuestions.HOHomesharing_Ext"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="unoccupied9"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.unoccupied9"
        value="dwelling.HOUWQuestions.unoccupied9"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.DwellingUsage==typekey.DwellingUsage_HOE.TC_SEAS || dwelling.DwellingUsage==typekey.DwellingUsage_HOE.TC_SEC )"/>
      <TypeKeyInput
        editable="true"
        id="propanegas"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.propanegas"
        value="dwelling.HOUWQuestions.propanegas"
        visible="true//typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="typefuel"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typefuel"
        value="dwelling.HOUWQuestions.typefuel"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.propanegas==typekey.HOPropaneNaturalgas_Ext.TC_ABOVEGROUND">
        <PostOnChange/>
      </TypeKeyInput>
      <Input
        editable="true"
        id="typefuelother"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typefuelother"
        value="dwelling.HOUWQuestions.typefuelother"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.typefuel==typekey.HOTypeFuel_Ext.TC_OTHER"/>
      <TypeKeyInput
        editable="true"
        id="typefuel2"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typefuel2"
        value="dwelling.HOUWQuestions.typefuel2"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.propanegas==typekey.HOPropaneNaturalgas_Ext.TC_ABOVEGROUND">
        <PostOnChange/>
      </TypeKeyInput>
      <Input
        editable="true"
        id="typefuelother2"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typefuelother2"
        value="dwelling.HOUWQuestions.typefuelother2"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.typefuel2==typekey.HOTypeFuel_Ext.TC_OTHER"/>
      <TypeKeyInput
        editable="true"
        id="fuellocalcode"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.fuellocalcode"
        value="dwelling.HOUWQuestions.fuellocalcode"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOANDTDPTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.propanegas==typekey.HOPropaneNaturalgas_Ext.TC_ABOVEGROUND || dwelling.HOUWQuestions.propanegas==typekey.HOPropaneNaturalgas_Ext.TC_BELOWGROUND">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="tankcapacity"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tankcapacity"
        value="dwelling.HOUWQuestions.tankcapacity"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOANDTDPTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.fuellocalcode==typekey.HOFuelTankLocalBC_Ext.TC_NOAPPLICABLEBUILDINGCODES"/>
      <TypeKeyInput
        editable="true"
        id="closestdisttank"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.closestdisttank"
        value="dwelling.HOUWQuestions.closestdisttank"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOANDTDPTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.fuellocalcode==typekey.HOFuelTankLocalBC_Ext.TC_NOAPPLICABLEBUILDINGCODES"/>
      <BooleanRadioInput
        editable="true"
        id="swimmingpool"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.swimmingpool"
        value="dwelling.HOUWQuestions.swimmingpool"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)">
        <PostOnChange/>
      </BooleanRadioInput>
      <TypeKeyInput
        editable="true"
        id="primprot"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.primprot"
        value="dwelling.HOUWQuestions.primprot"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOANDTDPTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.swimmingpool"/>
      <BooleanRadioInput
        editable="true"
        id="swimdivboardslide"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.swimdivboardslide"
        value="dwelling.HOUWQuestions.swimdivboardslide"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.swimmingpool"/>
      <BooleanRadioInput
        editable="true"
        id="floodcovnfip"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.floodcovnfip"
        value="dwelling.HOUWQuestions.floodcovnfip"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.FloodZoneOrOverride?.Code?.containsIgnoreCase(&quot;A&quot;) || dwelling.FloodZoneOrOverride?.Code?.containsIgnoreCase(&quot;V&quot;)"/>
      <BooleanRadioInput
        editable="true"
        id="structincl"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.structincl"
        value="dwelling.HOUWQuestions.structincl"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="businessconduct"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.businessconduct"
        value="dwelling.HOUWQuestions.businessconduct"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)">
        <PostOnChange/>
      </BooleanRadioInput>
      <TypeKeyInput
        editable="true"
        id="typebusiness"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typebusiness"
        value="dwelling.HOUWQuestions.typebusiness"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.businessconduct">
        <PostOnChange/>
      </TypeKeyInput>
      <BooleanRadioInput
        editable="true"
        id="daycare"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.daycare"
        value="dwelling.HOUWQuestions.daycare"
        visible="dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_FL &amp;&amp; typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_CHILDDAYCARE">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="daycareregs"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.daycareregs"
        value="dwelling.HOUWQuestions.daycareregs"
        visible="dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_FL &amp;&amp; typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_CHILDDAYCARE">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="commercialliability"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.commercialliability"
        value="dwelling.HOUWQuestions.commercialliability"
        visible="dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_FL &amp;&amp; typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HOUWQuestions.daycare || dwelling.HOUWQuestions.daycareregs)"/>
      <BooleanRadioInput
        editable="true"
        id="businesspol"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.businesspol"
        value="dwelling.HOUWQuestions.businesspol"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <Input
        editable="true"
        id="businessname"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.businessname"
        value="dwelling.HOUWQuestions.businessname"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <Input
        editable="true"
        id="customeravg"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.customeravg"
        value="dwelling.HOUWQuestions.customeravg"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <Input
        editable="true"
        id="sqftbus"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.sqftbus"
        value="dwelling.HOUWQuestions.sqftbus"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <Input
        editable="true"
        id="typeofequipsupp"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typeofequipsupp"
        value="dwelling.HOUWQuestions.typeofequipsupp"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <BooleanRadioInput
        editable="true"
        id="trampoline"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.trampoline"
        value="dwelling.HOUWQuestions.trampoline"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="farmanimals"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.farmanimals"
        value="dwelling.HOUWQuestions.farmanimals"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="mixbreedofdog"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.mixbreedofdog"
        value="dwelling.HOUWQuestions.mixbreedofdog"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="windowsquickrelease"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.windowsquickrelease"
        value="dwelling.HOUWQuestions.windowsquickrelease"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="molddamage"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.molddamage"
        value="dwelling.HOUWQuestions.molddamage"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="moldremediated"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.moldremediated"
        value="dwelling.HOUWQuestions.moldremediated"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.molddamage"/>
      <BooleanRadioInput
        editable="true"
        id="assistedliving"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.assistedliving"
        value="dwelling.HOUWQuestions.assistedliving"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="atvs"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.atvs"
        value="dwelling.HOUWQuestions.atvs"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="underconstr"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.underconstr"
        value="dwelling.HOUWQuestions.underconstr"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HomeNewPurchase_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="forsale"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.forsale"
        value="dwelling.HOUWQuestions.forsale"
        visible="typekey.HOPolicyType_HOE.TF_ALLHOTYPES.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HomeNewPurchase_Ext!=null &amp;&amp; !dwelling.HomeNewPurchase_Ext)"/>
      <TypeKeyInput
        editable="true"
        id="norental"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.norental"
        value="dwelling.HOUWQuestions.norental"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="exclusiveresi"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.exclusiveresi"
        value="dwelling.HOUWQuestions.exclusiveresi"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="floodcov"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.floodcov"
        value="dwelling.HOUWQuestions.floodcov"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.FloodZoneOrOverride?.Code?.containsIgnoreCase(&quot;A&quot;) || dwelling.FloodZoneOrOverride?.Code?.containsIgnoreCase(&quot;V&quot;)// &amp;&amp; dwelling.PolicyPeriod.PrimaryLocation.State!=typekey.State.TC_CA "/>
      <TypeKeyInput
        editable="true"
        id="tanklocal2"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tanklocal2"
        value="dwelling.HOUWQuestions.tanklocall"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.propanegas==typekey.HOPropaneNaturalgas_Ext.TC_ABOVEGROUND || dwelling.HOUWQuestions.propanegas==typekey.HOPropaneNaturalgas_Ext.TC_BELOWGROUND"/>
      <TypeKeyInput
        editable="true"
        id="capacitytank"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.capacitytank"
        value="dwelling.HOUWQuestions.capacitytank"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.tanklocall==typekey.HOFuelTankLocalBC_Ext.TC_NOAPPLICABLEBUILDINGCODES"/>
      <TypeKeyInput
        editable="true"
        id="closdist"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.closdist"
        value="dwelling.HOUWQuestions.closedist"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.tanklocall==typekey.HOFuelTankLocalBC_Ext.TC_NOAPPLICABLEBUILDINGCODES"/>
      <BooleanRadioInput
        editable="true"
        id="swpool"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.swpool"
        value="dwelling.HOUWQuestions.swpool"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <TypeKeyInput
        editable="true"
        id="primprot1"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.primprot1"
        value="dwelling.HOUWQuestions.primprot1"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)&amp;&amp; dwelling.HOUWQuestions.swpool"/>
      <BooleanRadioInput
        editable="true"
        id="pooldivslide"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.pooldivslide"
        value="dwelling.HOUWQuestions.pooldivslide"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.swpool"/>
      <BooleanRadioInput
        editable="true"
        id="homesharing2"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.homesharing2"
        value="dwelling.HOUWQuestions.homesharing2"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="businesscond"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.businesscond"
        value="dwelling.HOUWQuestions.businesscond"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)">
        <PostOnChange/>
      </BooleanRadioInput>
      <TypeKeyInput
        editable="true"
        id="whattypeofbus"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.whattypeofbus"
        value="dwelling.HOUWQuestions.whattypeofbus"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HOUWQuestions.businesscond">
        <PostOnChange/>
      </TypeKeyInput>
      <BooleanRadioInput
        editable="true"
        id="buspolicy"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.buspolicy"
        value="dwelling.HOUWQuestions.buspolicy"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)&amp;&amp; dwelling.HOUWQuestions.businesscond &amp;&amp; (dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <Input
        editable="true"
        id="busname"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.busname"
        value="dwelling.HOUWQuestions.busname"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)&amp;&amp; dwelling.HOUWQuestions.businesscond &amp;&amp; (dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <Input
        editable="true"
        id="avcust"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.avcust"
        value="dwelling.HOUWQuestions.avcust"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <Input
        editable="true"
        id="sqftdesbus"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.sqftdesbus"
        value="dwelling.HOUWQuestions.sqftdesbus"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <Input
        editable="true"
        id="typeofeqsupinv"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typeofeqsupinv"
        value="dwelling.HOUWQuestions.typeofeqsupinv"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.whattypeofbus==typekey.HOTypeofbusiness_Ext.TC_OTHER)"/>
      <BooleanRadioInput
        editable="true"
        id="strucpart"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.strucpart"
        value="dwelling.HOUWQuestions.strucpart"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="barswind"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.barswind"
        value="dwelling.HOUWQuestions.barswind"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="tentramp"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tentramp"
        value="dwelling.HOUWQuestions.tentramp"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="tenfarm"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tenfarm"
        value="dwelling.HOUWQuestions.tenfarm"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="tendogs"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tendogs"
        value="dwelling.HOUWQuestions.tendogs"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.PolicyPeriod.PrimaryLocation.State!=typekey.State.TC_CA"/>
      <BooleanRadioInput
        editable="true"
        id="tenmixbreed"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tenmixbreed"
        value="dwelling.HOUWQuestions.tenmixbreed"
        visible="dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_DP3_EXT &amp;&amp; dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_CA"/>
      <BooleanRadioInput
        editable="true"
        id="moldd"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.moldd"
        value="dwelling.HOUWQuestions.moldd"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="moldrem"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.moldrem"
        value="dwelling.HOUWQuestions.moldrem"
        visible="dwelling.HOUWQuestions.moldd &amp;&amp; typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="owner50"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.owner50"
        value="dwelling.HOUWQuestions.owner50"
        visible="dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_DP3_EXT &amp;&amp; dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_CA"/>
      <BooleanRadioInput
        editable="true"
        id="recpubutil"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.recpubutil"
        value="dwelling.HOUWQuestions.recpubutil"
        visible="dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_DP3_EXT &amp;&amp; dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_CA"/>
      <BooleanRadioInput
        editable="true"
        id="hilslide"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.hilslide"
        value="dwelling.HOUWQuestions.hilslide"
        visible="dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_DP3_EXT &amp;&amp; dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_CA"/>
      <BooleanRadioInput
        editable="true"
        id="loc1000"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.loc1000"
        value="dwelling.HOUWQuestions.loc1000"
        visible="dwelling.HOPolicyType==typekey.HOPolicyType_HOE.TC_DP3_EXT &amp;&amp; dwelling.PolicyPeriod.PrimaryLocation.State==typekey.State.TC_CA//typekey.HOPolicyType_HOE.TF_ALLTDPTYPES.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="atvallow"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.atvallow"
        value="dwelling.HOUWQuestions.atvallow"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
      <BooleanRadioInput
        editable="true"
        id="constvac"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.constvac"
        value="dwelling.HOUWQuestions.constvac"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; dwelling.HomeNewPurchase_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="undreno"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.undreno"
        value="dwelling.HOUWQuestions.undreno"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType) &amp;&amp; (dwelling.HomeNewPurchase_Ext!=null &amp;&amp; !dwelling.HomeNewPurchase_Ext)"/>
      <BooleanRadioInput
        editable="true"
        id="provasslhosp"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.provasslhosp"
        value="dwelling.HOUWQuestions.provasslhosp"
        visible="typekey.HOPolicyType_HOE.TF_ALLDPTDPLPP.TypeKeys.contains(dwelling.HOPolicyType)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>