<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="openForEdit"
    id="HOUnderwritingQuestionsHOEDV"
    visible="!(Job typeis Submission) or perm.System.viewsubmission">
    <Require
      name="interestContainer"
      type="gw.api.contact.AdditionalInterestContainer"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="dwelling"
      type="Dwelling_HOE"/>
    <Variable
      initialValue="interestContainer.PolicyPeriod"
      name="policyPeriod"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="interestContainer.AdditionalInterestCandidates"
      name="existingAdditionalInterests"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="interestContainer.AdditionalInterestOtherCandidates"
      name="otherContacts"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.contact.IContactConfigPlugin)"
      name="contactConfigPlugin"/>
    <InputColumn
      labelWidth="1000"
      width="10000">
      <Label
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions"/>
      <BooleanRadioInput
        editable="true"
        id="hohomesharing"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.homesharing"
        value="dwelling.HOUWQuestions.HOHomesharing_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="unoccupied9"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.unoccupied9"
        value="dwelling.HOUWQuestions.unoccupied9"
        visible="dwelling.DwellingUsage==typekey.DwellingUsage_HOE.TC_SEAS || dwelling.DwellingUsage==typekey.DwellingUsage_HOE.TC_SEC "/>
      <TypeKeyInput
        editable="true"
        id="propanegas"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.propanegas"
        value="dwelling.HOUWQuestions.propanegas">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="typefuel"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typefuel"
        value="dwelling.HOUWQuestions.typefuel"
        visible="dwelling.HOUWQuestions.propanegas==typekey.HOPropaneNaturalgas_Ext.TC_ABOVEGROUND"/>
      <Input
        id="typefuelother"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typefuelother"
        value="dwelling.HOUWQuestions.typefuelother"
        visible="dwelling.HOUWQuestions.typefuel==typekey.HOTypeFuel_Ext.TC_OTHER"/>
      <TypeKeyInput
        editable="true"
        id="fuellocalcode"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.fuellocalcode"
        value="dwelling.HOUWQuestions.fuellocalcode"
        visible="dwelling.HOUWQuestions.propanegas==typekey.HOPropaneNaturalgas_Ext.TC_ABOVEGROUND || dwelling.HOUWQuestions.propanegas==typekey.HOPropaneNaturalgas_Ext.TC_BELOWGROUND">
        <PostOnChange/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="tankcapacity"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tankcapacity"
        value="dwelling.HOUWQuestions.tankcapacity"
        visible="dwelling.HOUWQuestions.fuellocalcode==typekey.HOFuelTankLocalBC_Ext.TC_NOAPPLICABLEBUILDINGCODES"/>
      <TypeKeyInput
        editable="true"
        id="closestdisttank"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.closestdisttank"
        value="dwelling.HOUWQuestions.closestdisttank"
        visible="dwelling.HOUWQuestions.fuellocalcode==typekey.HOFuelTankLocalBC_Ext.TC_NOAPPLICABLEBUILDINGCODES"/>
      <BooleanRadioInput
        editable="true"
        id="swimmingpool"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.swimmingpool"
        value="dwelling.HOUWQuestions.swimmingpool">
        <PostOnChange/>
      </BooleanRadioInput>
      <TypeKeyInput
        editable="true"
        id="primprot"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.primprot"
        value="dwelling.HOUWQuestions.primprot"
        visible="dwelling.HOUWQuestions.swimmingpool"/>
      <BooleanRadioInput
        editable="true"
        id="swimdivboardslide"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.swimdivboardslide"
        value="dwelling.HOUWQuestions.swimdivboardslide"
        visible="dwelling.HOUWQuestions.swimmingpool"/>
      <BooleanRadioInput
        editable="true"
        id="floodcovnfip"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.floodcovnfip"
        value="dwelling.HOUWQuestions.floodcovnfip"
        visible="dwelling.PropFloodVal_Ext?.equalsIgnoreCase(&quot;A&quot;) || dwelling.PropFloodVal_Ext?.equalsIgnoreCase(&quot;V&quot;)"/>
      <BooleanRadioInput
        editable="true"
        id="structincl"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.structincl"
        value="dwelling.HOUWQuestions.structincl"/>
      <BooleanRadioInput
        editable="true"
        id="businessconduct"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.businessconduct"
        value="dwelling.HOUWQuestions.businessconduct">
        <PostOnChange/>
      </BooleanRadioInput>
      <TypeKeyInput
        editable="true"
        id="typebusiness"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typebusiness"
        value="dwelling.HOUWQuestions.typebusiness"
        visible="dwelling.HOUWQuestions.businesscond">
        <PostOnChange/>
      </TypeKeyInput>
      <BooleanRadioInput
        editable="true"
        id="daycare"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.daycare"
        value="dwelling.HOUWQuestions.daycare"
        visible="dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_CHILDDAYCARE">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="daycareregs"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.daycareregs"
        value="dwelling.HOUWQuestions.daycareregs"
        visible="dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_CHILDDAYCARE">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="commercialliability"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.commercialliability"
        value="dwelling.HOUWQuestions.commercialliability"
        visible="dwelling.HOUWQuestions.daycare || dwelling.HOUWQuestions.daycareregs"/>
      <BooleanRadioInput
        editable="true"
        id="businesspol"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.businesspol"
        value="dwelling.HOUWQuestions.businesspol"
        visible="dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER"/>
      <Input
        editable="true"
        id="businessname"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.businessname"
        value="dwelling.HOUWQuestions.businessname"
        visible="dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER"/>
      <Input
        editable="true"
        id="customeravg"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.customeravg"
        value="dwelling.HOUWQuestions.customeravg"
        visible="dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER"/>
      <Input
        editable="true"
        id="sqftbus"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.sqftbus"
        value="dwelling.HOUWQuestions.sqftbus"
        visible="dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER"/>
      <Input
        editable="true"
        id="typeofequipsupp"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typeofequipsupp"
        value="dwelling.HOUWQuestions.typeofequipsupp"
        visible="dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_HOMEOFFICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_SERVICE || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_RETAIL || dwelling.HOUWQuestions.typebusiness==typekey.HOTypeofbusiness_Ext.TC_OTHER"/>
      <BooleanRadioInput
        editable="true"
        id="trampoline"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.trampoline"
        value="dwelling.HOUWQuestions.trampoline"/>
      <BooleanRadioInput
        editable="true"
        id="farmanimals"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.farmanimals"
        value="dwelling.HOUWQuestions.farmanimals"/>
      <BooleanRadioInput
        editable="true"
        id="mixbreedofdog"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.mixbreedofdog"
        value="dwelling.HOUWQuestions.mixbreedofdog"/>
      <BooleanRadioInput
        editable="true"
        id="windowsquickrelease"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.windowsquickrelease"
        value="dwelling.HOUWQuestions.windowsquickrelease"/>
      <BooleanRadioInput
        editable="true"
        id="molddamage"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.molddamage"
        value="dwelling.HOUWQuestions.molddamage">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="moldremediated"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.moldremediated"
        value="dwelling.HOUWQuestions.moldremediated"
        visible="dwelling.HOUWQuestions.molddamage"/>
      <BooleanRadioInput
        editable="true"
        id="assistedliving"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.assistedliving"
        value="dwelling.HOUWQuestions.assistedliving"/>
      <BooleanRadioInput
        editable="true"
        id="atvs"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.atvs"
        value="dwelling.HOUWQuestions.atvs"/>
      <BooleanRadioInput
        editable="true"
        id="newpurc"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.newpurchase"
        value="dwelling.HOUWQuestions.newpurchase">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="underconstr"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.underconstr"
        value="dwelling.HOUWQuestions.underconstr"
        visible="dwelling.HOUWQuestions.newpurchase"/>
      <BooleanRadioInput
        editable="true"
        id="forsale"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.forsale"
        value="dwelling.HOUWQuestions.forsale"
        visible="!dwelling.HOUWQuestions.newpurchase"/>
      <TypeKeyInput
        editable="true"
        id="norental"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.norental"
        value="dwelling.HOUWQuestions.norental"/>
      <BooleanRadioInput
        editable="true"
        id="exclusiveresi"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.exclusiveresi"
        value="dwelling.HOUWQuestions.exclusiveresi"/>
      <BooleanRadioInput
        editable="true"
        id="floodcov"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.floodcov"
        value="dwelling.HOUWQuestions.floodcov"/>
      <!-- <BooleanRadioInput
        editable="true"
        id="typefuel2"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typefuel2"
        value="dwelling.HOUWQuestions.typefuel2"/> -->
      <!-- <BooleanRadioInput
        editable="true"
        id="typefuelother2"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typefuelother2"
        value="dwelling.HOUWQuestions.typefuelother2"/> -->
      <!-- <BooleanRadioInput
        editable="true"
        id="tanklocal2"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tanklocal2"
        value="dwelling.HOUWQuestions.tanklocal2"/> -->
      <!-- <BooleanRadioInput
        editable="true"
        id="capacitytank"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.capacitytank"
        value="dwelling.HOUWQuestions.capacitytank"/> -->
      <!-- <BooleanRadioInput
        editable="true"
        id="closdist"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.closdist"
        value="dwelling.HOUWQuestions.closdist"/> -->
      <!-- <BooleanRadioInput
        editable="true"
        id="swpool"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.swpool"
        value="dwelling.HOUWQuestions.swpool"/> -->
      <!-- <BooleanRadioInput
        editable="true"
        id="primprot1"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.primprot1"
        value="dwelling.HOUWQuestions.primprot1"/> -->
      <!-- <BooleanRadioInput
        editable="true"
        id="pooldivslide"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.pooldivslide"
        value="dwelling.HOUWQuestions.pooldivslide"/> -->
      <BooleanRadioInput
        editable="true"
        id="homesharing2"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.homesharing2"
        value="dwelling.HOUWQuestions.homesharing2"/>
      <BooleanRadioInput
        editable="true"
        id="businesscond"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.businesscond"
        value="dwelling.HOUWQuestions.businesscond"/>
      <Input
        editable="true"
        id="whattypeofbus"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.whattypeofbus"
        value="dwelling.HOUWQuestions.whattypeofbus"/>
      <BooleanRadioInput
        editable="true"
        id="buspolicy"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.buspolicy"
        value="dwelling.HOUWQuestions.buspolicy"/>
      <Input
        editable="true"
        id="busname"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.busname"
        value="dwelling.HOUWQuestions.busname"/>
      <BooleanRadioInput
        editable="true"
        id="avcust"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.avcust"
        value="dwelling.HOUWQuestions.avcust"/>
      <BooleanRadioInput
        editable="true"
        id="sqftdesbus"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.sqftdesbus"
        value="dwelling.HOUWQuestions.sqftdesbus"/>
      <BooleanRadioInput
        editable="true"
        id="typeofeqsupinv"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.typeofeqsupinv"
        value="dwelling.HOUWQuestions.typeofeqsupinv"/>
      <BooleanRadioInput
        editable="true"
        id="strucpart"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.strucpart"
        value="dwelling.HOUWQuestions.strucpart"/>
      <BooleanRadioInput
        editable="true"
        id="barswind"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.barswind"
        value="dwelling.HOUWQuestions.barswind"/>
      <BooleanRadioInput
        editable="true"
        id="tentramp"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tentramp"
        value="dwelling.HOUWQuestions.tentramp"/>
      <BooleanRadioInput
        editable="true"
        id="tenfarm"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tenfarm"
        value="dwelling.HOUWQuestions.tenfarm"/>
      <BooleanRadioInput
        editable="true"
        id="tendogs"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tendogs"
        value="dwelling.HOUWQuestions.tendogs"/>
      <BooleanRadioInput
        editable="true"
        id="tenmixbreed"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.tenmixbreed"
        value="dwelling.HOUWQuestions.tenmixbreed"/>
      <BooleanRadioInput
        editable="true"
        id="moldd"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.moldd"
        value="dwelling.HOUWQuestions.moldd">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="moldrem"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.moldrem"
        value="dwelling.HOUWQuestions.moldrem"
        visible="dwelling.HOUWQuestions.moldd"/>
      <BooleanRadioInput
        editable="true"
        id="owner50"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.owner50"
        value="dwelling.HOUWQuestions.owner50"/>
      <BooleanRadioInput
        editable="true"
        id="recpubutil"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.recpubutil"
        value="dwelling.HOUWQuestions.recpubutil"/>
      <BooleanRadioInput
        editable="true"
        id="hilslide"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.hilslide"
        value="dwelling.HOUWQuestions.hilslide"/>
      <BooleanRadioInput
        editable="true"
        id="loc1000"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.loc1000"
        value="dwelling.HOUWQuestions.loc1000"/>
      <BooleanRadioInput
        editable="true"
        id="atvallow"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.atvallow"
        value="dwelling.HOUWQuestions.atvallow"/>
      <BooleanRadioInput
        editable="true"
        id="constvac"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.constvac"
        value="dwelling.HOUWQuestions.constvac"/>
      <BooleanRadioInput
        editable="true"
        id="undreno"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.undreno"
        value="dwelling.HOUWQuestions.undreno"/>
      <BooleanRadioInput
        editable="true"
        id="provasslhosp"
        label="displaykey.Web.Homeowners.Dwelling.UWQuestions.provasslhosp"
        value="dwelling.HOUWQuestions.provasslhosp"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>