<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <EntryPoint
    id="PortalEntry"
    location="PortalForward(AccountNumber, JobNumber)">
    <EntryPointParameter
      locationParam="AccountNumber"
      optional="true"
      type="String"/>
    <EntryPointParameter
      locationParam="JobNumber"
      optional="true"
      type="String"/>
  </EntryPoint>
</PCF>