<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Popup
    id="OnBaseDocumentListPopup"
    title="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_Title">
    <LocationEntryPoint
      signature="OnBaseDocumentListPopup( Entity: KeyableBean, LinkType : onbase.api.Settings.DocumentLinkType, EntityDescription : java.lang.String, Beans : KeyableBean[])"/>
    <Variable
      name="Entity"
      type="KeyableBean"/>
    <Variable
      name="LinkType"
      type="onbase.api.Settings.DocumentLinkType"/>
    <Variable
      initialValue="new onbase.api.application.DocumentLinking()"
      name="DocumentLinking"
      type="onbase.api.application.DocumentLinking"/>
    <Variable
      name="EntityDescription"
      type="String"/>
    <Variable
      initialValue="DocumentLinking.getDocumentsLinkedToEntity(Entity, LinkType)"
      name="LinkedDocuments"
      recalculateOnRefresh="true"
      type="List&lt;Document&gt;"/>
    <Variable
      name="Beans"
      type="KeyableBean[]"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <Input
            id="EntityId"
            label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_EntityId"
            value="Entity.PublicID"/>
          <Input
            id="EntityType"
            label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_EntityType"
            value="LinkType"/>
          <TextAreaInput
            id="EntityDesc"
            label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_EntityDesc"
            numRows="5"
            value="EntityDescription"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <Toolbar>
          <ToolbarButton
            action="OnBasePickExistingDocumentPopup.push(Entity, LinkType, Beans)  "
            id="OnBaseDocumentListPopup_LinkDocumentButton"
            label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_LinkDocuments"/>
          <CheckedValuesToolbarButton
            allCheckedRowsAction="DocumentLinking.unlinkDocumentsFromEntity(Entity, CheckedValues, LinkType);"
            id="OnBaseDocumentListPopup_UnlinkDocumentButton"
            iterator="OnBaseDocumentsLV"
            label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_UnlinkDocuments"/>
        </Toolbar>
        <ListViewPanel
          id="OnBaseDocumentsLV">
          <RowIterator
            editable="false"
            elementName="Document"
            hasCheckBoxes="true"
            value="LinkedDocuments">
            <Row>
              <DocumentIconCell
                id="Icon"
                printWidth="0.0"
                value="true"/>
              <Cell
                id="docId"
                label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_DocID"
                printWidth="4"
                value="Document.DocUID"/>
              <Cell
                id="Name"
                label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_DocName"
                printWidth="4"
                value="Document.Name"/>
              <LinkCell
                id="Actions"
                label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_Actions"
                printWidth="0.0">
                <DocumentLink
                  document="Document"
                  documentAction="viewRepositoryVersion"
                  id="DocumentsLV_ViewLink"
                  label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_View"
                  styleClass="miniButton"
                  visible="Document.DMS and perm.Document.view(Document)"/>
              </LinkCell>
              <TextCell
                id="Type"
                label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_Type"
                printWidth="2"
                value="Document.OnBaseDocumentType"/>
              <TypeKeyCell
                id="Status"
                label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_Status"
                value="Document.Status"/>
              <Cell
                id="Author"
                label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_Author"
                printWidth="2"
                value="Document.Author"/>
              <DateCell
                dateFormat="short"
                id="DateModified"
                label="displaykey.Accelerator.OnBase.STR_GW_DocumentListPopup_DateModified"
                sortDirection="descending"
                sortOrder="1"
                timeFormat="short"
                value="Document.DateModified"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>