<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <PanelSet
    id="RuleDetailPanelSet"
    mode="validationrule_ext">
    <Require
      name="rule"
      type="Rule_Ext"/>
    <Require
      name="rulePolicyLine"
      type="typekey.PolicyLine"/>
    <Require
      name="jurisdictionList"
      type="java.util.List&lt;gw.accelerator.ruleeng.JurisdictionSelection&gt;"/>
    <Require
      name="vehicleTypeList"
      type="java.util.List&lt;gw.accelerator.ruleeng.VehicleTypeSelection&gt;"/>
    <PanelRef
      def="RuleAdminLineDetailPanelSet(rule, rulePolicyLine, vehicleTypeList)"
      mode="rulePolicyLine"/>
  </PanelSet>
</PCF>