<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <PanelSet
    id="RuleAdminLineDetailPanelSet"
    mode="default">
    <Require
      name="rule"
      type="Rule_Ext"/>
    <Require
      name="rulePolicyLine"
      type="typekey.PolicyLine"/>
    <Require
      name="ruleVehicleTypelist"
      type="java.util.List&lt;gw.accelerator.ruleeng.VehicleTypeSelection&gt;"/>
  </PanelSet>
</PCF>