<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="CoveragePatternSearchResultsLV">
    <ExposeIterator
      valueType="gw.api.productmodel.ClausePattern"
      widget="CoveragePatternSearchResultsLV"/>
    <Require
      name="coveragePatterns"
      type="gw.api.productmodel.ClausePattern[]"/>
    <Require
      name="coverable"
      type="Coverable"/>
    <RowIterator
      editable="true"
      elementName="pattern"
      hasCheckBoxes="true"
      value="coveragePatterns">
      <IteratorSort
        sortBy="pattern.DisplayName"
        sortOrder="1"/>
      <Row>
        <Cell
          id="Coverage"
          label="displaykey.Web.Coverage.SearchPage.Coverage"
          value="(pattern == &quot;HODW_SpecificAddAmt_HOE_Ext&quot; and coverable.PolicyLine.BaseState == TC_CA) ? displaykey.una.productmodel.coverages.ModifiedReplacementCostName : pattern.DisplayName"
          width="200"
          wrap="true"/>
        <Cell
          id="Category"
          label="displaykey.Web.Coverage.SearchPage.Category"
          value="pattern.CoverageCategory.DisplayName"
          width="300"
          wrap="true"/>
        <Cell
          id="ClauseType"
          label="displaykey.Web.Coverage.SearchPage.Type"
          value="pattern.ClauseName"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>