<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    afterCommit="gw.api.web.PebblesUtil.invalidateIterators(TopLocation, PolicyLocation); if(tunaCall)tunaApp.getTunaInformation(policyPeriod)"
    afterEnter="maybeCreateLocation()"
    beforeCommit="checkChangeableState(); handleBeforeCommitForProduct();if(tunaCall)tunaApp.resetTunaInfo(policyPeriod);"
    canEdit="openForEdit"
    countsAsWork="false"
    id="LocationPopup"
    returnType="PolicyLocation"
    startInEditMode="startInEdit"
    title="displaykey.Web.Policy.LocationContainer.Location.LocationInformation.Title">
    <LocationEntryPoint
      signature="LocationPopup(theAccountLocation : AccountLocation, thePolicyLocation : PolicyLocation, policyPeriod : PolicyPeriod, openForEdit : boolean, startInEdit : boolean, supportsNonSpecificLocation : boolean,tunaCall : boolean)"/>
    <Variable
      name="theAccountLocation"
      type="AccountLocation"/>
    <Variable
      name="thePolicyLocation"
      type="PolicyLocation"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="openForEdit"
      type="boolean"/>
    <Variable
      name="startInEdit"
      type="boolean"/>
    <Variable
      initialValue="thePolicyLocation.State"
      name="startState"/>
    <Variable
      initialValue="thePolicyLocation.Country"
      name="startCountry"/>
    <Variable
      name="supportsNonSpecificLocation"
      type="boolean"/>
    <Variable
      name="tunaCall"
      type="boolean"/>
    <Variable
      initialValue="new una.pageprocess.PropertyInformationCompletePluginImpl()"
      name="tunaApp"/>
    <Screen
      id="LocationScreen">
      <Toolbar>
        <EditButtons
          hideIfReadOnly="true"
          pickValue="thePolicyLocation"/>
        <ToolbarButton
          action="setAddressOverride()"
          available="thePolicyLocation.AccountLocation.addressScrub_Ext == null ? false : thePolicyLocation.AccountLocation.addressScrub_Ext"
          id="AddressOverride"
          label="displaykey.Web.Account.Locations.AddressOverride"
          visible="false"/>
      </Toolbar>
      <AlertBar
        allowDismiss="false"
        available="false"
        id="OverrideWarning"
        label="displaykey.Web.Account.Locations.AddressAlert"
        visible="!thePolicyLocation.AccountLocation.addressScrub_Ext"/>
      <PanelSet
        id="LocationDetailPanelSet">
        <PanelRef
          def="LocationDetailCV(thePolicyLocation, openForEdit, supportsNonSpecificLocation)"/>
      </PanelSet>
    </Screen>
    <Code><![CDATA[function checkChangeableState() {
  if(startState <> null and not thePolicyLocation.canChangeState()){
    // the state cannot be changed
    if(thePolicyLocation.State <> startState or thePolicyLocation.Country <> startCountry){
      throw new gw.api.util.DisplayableException(displaykey.Web.Policy.Address.Validation.StateNotChangeable)
    }
  }
}

function handleBeforeCommitForProduct() {
  if (policyPeriod.HasWorkersComp) {
    maybeCreateWCJurisdiction(thePolicyLocation)
  }
  policyPeriod.Lines.each(\ p -> p.validateLocations(thePolicyLocation))
}

function maybeCreateLocation() {
  if (startInEdit and openForEdit) {
    if (thePolicyLocation == null) {
      if (theAccountLocation != null) {
        thePolicyLocation = policyPeriod.newLocation(theAccountLocation)
        for(var tc in thePolicyLocation.TerritoryCodes)
          tc.fillWithFirst()
      } else {
        thePolicyLocation = policyPeriod.newLocation()
        thePolicyLocation.State = gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(policyPeriod.BaseState)
      }
    }
  }
}

function maybeCreateWCJurisdiction(location : PolicyLocation) {
  var loc = gw.api.util.JurisdictionMappingUtil.getJurisdiction(location)
  if (policyPeriod.WorkersCompLine.getJurisdiction(loc) == null) {
    policyPeriod.WorkersCompLine.addJurisdiction(loc)
  }
}

function setAddressScrubbed(booleanValue : boolean){
  thePolicyLocation.AccountLocation.addressScrub_Ext =  booleanValue
}

function setAddressOverride(){
  thePolicyLocation.AccountLocation.addressOverride_Ext =  true
}]]></Code>
  </Popup>
</PCF>