<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="ModifiersScreen">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="modifiers"
      type="Modifier[]"/>
    <Variable
      initialValue="modifiers.where(\ mod -&gt; mod.ScheduleRate )"
      name="scheduleRates"/>
    <Variable
      initialValue="modifiers.where(\ mod -&gt; not mod.ScheduleRate )"
      name="nonScheduleRates"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="policyPeriod.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, policyPeriod.Job, jobWizardHelper)"/>
    </Toolbar>
    <PanelRef
      def="OOSEPanelSet(policyPeriod, jobWizardHelper)"/>
    <PanelRef>
      <DetailViewPanel>
        <InputColumn>
          <InputSetRef
            def="WCModifiersInputSet(nonScheduleRates.toList(), policyPeriod)"/>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelDivider/>
    <PanelRef
      def="ScheduleRateDV(scheduleRates,policyPeriod)"
      visible="scheduleRates.HasElements">
      <TitleBar
        title="displaykey.Web.ModifiersScreen.RatingInputs"/>
    </PanelRef>
    <PanelRef>
      <DetailViewPanel>
        <InputColumn>
          <Label
            id="RateModifiers"
            label="displaykey.Web.ModifiersScreen.RMFModifiers_Ext"/>
          <CheckBoxInput
            editable="policyPeriod.Rule180_Ext == null || policyPeriod.Rule180_Ext == false"
            id="ConsenttoRate_Ext"
            label="displaykey.Web.ModifiersScreen.ConsenttoRate_Ext"
            labelStyleClass="ext_redLabel"
            value="policyPeriod.ConsentToRateReceived_Ext">
            <PostOnChange/>
          </CheckBoxInput>
          <CheckBoxInput
            editable="policyPeriod.ConsentToRateReceived_Ext == null || policyPeriod.ConsentToRateReceived_Ext == false"
            id="Rule180_Ext"
            label="displaykey.Web.ModifiersScreen.Rule180_Ext"
            value="policyPeriod.Rule180_Ext">
            <PostOnChange/>
          </CheckBoxInput>
          <Input
            editable="true"
            id="Factor_Ext"
            label="displaykey.Web.ModifiersScreen.Factor_Ext"
            value="policyPeriod?.Factor_Ext"
            visible="policyPeriod.ConsentToRateReceived_Ext == true || policyPeriod.Rule180_Ext == true"/>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </Screen>
</PCF>