<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ScheduleRateDV">
    <Require
      name="modifiers"
      type="Modifier[]"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="modifiers.where(\ m -&gt; m.ScheduleRate )"
      name="scheduleRates"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Policy.RatingInputs.None"
        visible="scheduleRates == null"/>
      <InputIterator
        elementName="scheduleRate"
        value="scheduleRates">
        <IteratorSort
          sortBy="scheduleRate.Pattern.Priority"
          sortOrder="1"/>
        <Input
          boldLabel="true"
          boldValue="true"
          id="ratingInputName"
          label="displaykey.Web.ModifiersScreen.Modifier"
          value="scheduleRate.DisplayName"/>
        <ListViewInput
          available="scheduleRates != null"
          def="ScheduleRateLV(scheduleRate)"
          editable="true"
          labelAbove="true"
          visible="scheduleRates != null">
          <Toolbar/>
        </ListViewInput>
        <InputDivider/>
        <Label
          id="rmfmodifier"
          label="&quot;RMF Modifier&quot;"/>
        <CheckBoxInput
          editable="true"
          id="ConsenttoRate_Ext"
          label="displaykey.Web.ModifiersScreen.ConsenttoRate_Ext"
          labelStyleClass="ext_redLabel"
          value="policyPeriod?.ConsenttoRate_Ext">
          <PostOnChange/>
        </CheckBoxInput>
        <Input
          editable="true"
          id="Factor_Ext"
          label="displaykey.Web.ModifiersScreen.Factor_Ext"
          value="policyPeriod?.Factor_Ext"
          visible="policyPeriod.ConsenttoRate_Ext == true"/>
      </InputIterator>
    </InputColumn>
  </DetailViewPanel>
</PCF>