<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="PriorHistoryDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Policy.PriorHistory.PriorPolicies"/>
      <ListViewInput
        labelAbove="true"
        validationExpression="validate()">
        <Toolbar>
          <IteratorButtons
            iterator="PriorPolicyLV"/>
        </Toolbar>
        <ListViewPanel
          id="PriorPolicyLV">
          <RowIterator
            editable="true"
            elementName="priorPolicy"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            toCreateAndAdd="var pp = new PriorPolicy(); policyPeriod.Policy.addToPriorPolicies(pp); return pp;"
            toRemove="policyPeriod.Policy.removeFromPriorPolicies(priorPolicy)"
            value="policyPeriod.Policy.PriorPolicies">
            <Row>
              <RangeCell
                editable="true"
                id="CarrierTypenew"
                label="displaykey.Web.Policy.PriorPolicy.CarrierType "
                value="priorPolicy.CarrierType"
                valueRange="edge.capabilities.helpers.PolicyUtil.getValuesByFilter(policyPeriod)">
                <PostOnChange
                  onChange="CarrierReq();otherReq();noPriorIns()"/>
              </RangeCell>
              <Cell
                editable="true"
                id="carrierOther"
                label="displaykey.Web.Policy.PriorPolicy.Carrier"
                required="true"
                value="priorPolicy.Carrier"
                visible="otherReq()"/>
              <TextCell
                editable="true"
                id="PolicyNumber"
                label="displaykey.Web.Policy.PriorPolicy.PolicyNumber"
                numCols="15"
                required="CarrierReq()"
                value="priorPolicy.PolicyNumber"/>
              <TypeKeyCell
                editable="true"
                id="tenure"
                label="displaykey.Web.Policy.PriorPolicy.Tenure"
                required="CarrierReq()"
                value="priorPolicy.Tenure_Ext"/>
              <DateCell
                editable="true"
                id="EffectiveDate"
                label="displaykey.Web.Policy.PriorPolicy.EffectiveDate"
                required="false"
                value="priorPolicy.EffectiveDate"/>
              <DateCell
                editable="true"
                id="ExpirationDate"
                label="displaykey.Web.Policy.PriorPolicy.ExpirationDate"
                required="!noPriorIns()"
                value="priorPolicy.ExpirationDate"/>
              <!-- <TypeKeyCell
                editable="true"
                id="nopriorins"
                label="displaykey.Web.Policy.PriorPolicy.ReasonNoPriorIns"
                required="noPriorIns()"
                value="priorPolicy.ReasonNoPriorIns_Ext"/> -->
              <RangeCell
                editable="true"
                id="nopriorins"
                label="displaykey.Web.Policy.PriorPolicy.ReasonNoPriorIns"
                required="noPriorIns()"
                value="priorPolicy.ReasonNoPriorIns_Ext"
                valueRange="typekey.ReasonNoPriorIns_Ext.Type.getTypeKeysByCategory(policyPeriod.BaseState)"/>
              <MonetaryAmountCell
                align="right"
                currency="policyPeriod.PreferredSettlementCurrency"
                editable="true"
                footerSumValue="priorPolicy.AnnualPremium"
                formatType="currency"
                id="AnnualPremium"
                label="displaykey.Web.Policy.PriorPolicy.AnnualPremium"
                numCols="8"
                value="priorPolicy.AnnualPremium"/>
              <TextCell
                align="right"
                editable="true"
                footerSumValue="priorPolicy.NumLosses"
                id="NumLosses"
                label="displaykey.Web.Policy.PriorPolicy.NumLosses"
                numCols="6"
                value="priorPolicy.NumLosses"/>
              <MonetaryAmountCell
                align="right"
                currency="policyPeriod.PreferredSettlementCurrency"
                editable="true"
                footerSumValue="priorPolicy.TotalLosses"
                formatType="currency"
                id="TotalLosses"
                label="displaykey.Web.Policy.PriorPolicy.TotalLosses"
                numCols="8"
                value="priorPolicy.TotalLosses"/>
              <TextCell
                align="right"
                editable="true"
                formatType="general"
                id="ExpMod"
                label="displaykey.Web.Policy.PriorPolicy.ExpMod"
                numCols="8"
                value="priorPolicy.ExpMod"
                visible="policyPeriod.HasWorkersComp"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
    <Code><![CDATA[function validate():String{
  if (policyPeriod.Policy.PriorPolicies.HasElements &&  policyPeriod.Policy.PriorPolicies.first()?.EffectiveDate  == null)
    return "Please enter Prior Policy Information"
  else return null
}

function CarrierReq() : boolean{
  for(pp in policyPeriod.Policy.PriorPolicies.CarrierType)   {
     if(pp == typekey.CarrierType_Ext.TC_UNA)
       return true
   }
   return false 
                      
}
function otherReq() : boolean{
  
  for(p in policyPeriod.Policy.PriorPolicies.CarrierType){
    if(p == typekey.CarrierType_Ext.TC_OTHER)
      return true
  }
  return false
} 

function noPriorIns() : boolean{
  for(p1 in policyPeriod.Policy.PriorPolicies.CarrierType){
    if(p1 == typekey.CarrierType_Ext.TC_NOPRIORINS)
      return true
  }
  return false
}]]></Code>
  </DetailViewPanel>
</PCF>