<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="SubmissionWizard_PolicyInfoScreen">
    <Require
      name="submission"
      type="Submission"/>
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="period.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(period, submission, jobWizardHelper)"/>
    </Toolbar>
    <PanelRef
      def="SubmissionWizard_PolicyInfoDV(period, submission)">
      <Toolbar/>
    </PanelRef>
    <PanelRef
      def="AdditionalNamedInsuredsDV(period, openForEdit)"/>
    <PanelRef
      def="PolicyDBAsDV(period,true)"
      id="listOfDBAs"/>
    <PanelRef
      id="ListOfOFACContacts">
      <DetailViewPanel>
        <InputColumn>
          <InputSet>
            <Label
              label="&quot;OFAC HIT RECORDS&quot;"/>
            <ListViewInput
              labelAbove="true">
              <Toolbar
                visible="false"/>
              <ListViewPanel>
                <RowIterator
                  editable="false"
                  elementName="ofacContact"
                  value="period.ofaccontact">
                  <Row
                    editable="false">
                    <TextCell
                      id="Name"
                      label="displaykey.Web.Homeowners.PolicyInfoScreen.AddlNameInsured"
                      numCols="32"
                      value="ofacContact.Contact"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </ListViewInput>
          </InputSet>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </Screen>
</PCF>