<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="SubmissionWizard_PolicyInfoDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="submission"
      type="Submission"/>
    <Variable
      initialValue="new gw.job.AvailableUWCompanies(policyPeriod)"
      name="availableUWCompanies"/>
    <!-- First PolicyInfo column -->
    <InputColumn>
      <DateInput
        boldLabel="true"
        editable="true"
        id="DateQuoteNeeded"
        label="displaykey.Web.SubmissionWizard.DateQuoteNeeded"
        value="submission.DateQuoteNeeded"/>
      <MonetaryAmountInput
        align="right"
        boldLabel="true"
        currency="policyPeriod.PreferredSettlementCurrency"
        editable="true"
        formatType="currency"
        id="estimatedPremiumInput"
        label="displaykey.Web.PolicyPeriod.EstimatedPremium"
        value="policyPeriod.EstimatedPremium"
        visible="policyPeriod.Policy.Product.ProductType == TC_COMMERCIAL"/>
      <InputDivider/>
      <InputSetRef
        def="AccountInfoInputSet(policyPeriod)"/>
      <InputSetRef
        def="SecondaryNamedInsuredInputSet(policyPeriod)"/>
    </InputColumn>
    <!-- Second PolicyInfo column -->
    <InputColumn>
      <!-- Input set (including effective date) is not editable in issuance jobs -->
      <InputSetRef
        def="PolicyInfoInputSet(policyPeriod, true, false, true)"
        editable="true"
        widgets="UWCompanyInputSet"/>
      <InputDivider/>
      <InputSetRef
        def="PolicyInfoProducerOfRecordInputSet(policyPeriod, ProducerStatusUse.TC_SUBMISSIONOKAY)"/>
      <InputDivider/>
      <InputSet
        id="UWCompanyInputSet">
        <Label
          label="displaykey.Web.Policy.UWCompanies.Name"/>
        <RangeInput
          editable="false//perm.System.multicompquote"
          id="UWCompany"
          optionLabel="VALUE.DisplayName"
          value="policyPeriod.UWCompany"
          valueRange="availableUWCompanies.Value"/>
        <Label
          id="InvalidUWCompanyLabel"
          label="displaykey.Web.Policy.UWCompanies.InvalidUWCompany"
          visible="availableUWCompanies.Value.Count &gt; 0 and not availableUWCompanies.Value.hasMatch( \ u -&gt; u == policyPeriod.UWCompany )"/>
        <ButtonInput
          action="policyPeriod.autoSelectUWCompany()"
          available="not ( policyPeriod.ValidQuote or policyPeriod.Locked )"
          id="AutoSelectUWCompany"
          value="displaykey.Web.Policy.UWCompanies.AutoSelect"
          visible="not perm.System.multicompquote"/>
      </InputSet>
      <InputDivider/>
      <BooleanRadioInput
        editable="true"
        id="Bankruptcy"
        label="displaykey.Web.Policy.UWCompanies.Bankruptcy_Ext"
        value="policyPeriod.bankruptcy_Ext"/>
      <BooleanRadioInput
        id="ConsentToRate"
        label="displaykey.Web.Policy.UWCompanies.ConsentToRate_Ext"
        required="true"
        value="policyPeriod.ConsentToRate_Ext"
        visible="policyPeriod.HomeownersLine_HOEExists and policyPeriod.BaseState==typekey.Jurisdiction.TC_NC"/>
      <CheckBoxInput
        editable="true"
        id="ConsenttoRatereceived_Ext"
        label="displaykey.Web.SubmissionWizard.PolicyInfo.ConsentToRateReceived_Ext"
        value="policyPeriod.ConsentToRateReceived_Ext"
        visible="policyPeriod.HomeownersLine_HOEExists and policyPeriod.BaseState==typekey.Jurisdiction.TC_NC"/>
      <BooleanRadioInput
        editable="true"
        id="riskIndicator"
        label="displaykey.Web.Policy.UWCompanies.RiskIndicator_Ext"
        required="true"
        value="policyPeriod.RiskIndicator_Ext"/>
      <BooleanRadioInput
        editable="true"
        id="Reinsurance_Ext"
        label="displaykey.Web.Policy.UWCompanies.Reinsurance_Ext"
        required="true"
        value="policyPeriod.Reinsurance_Ext"/>
      <InputDivider/>
      <TextInput
        id="UnderwritingTier_Ext"
        label="displaykey.Web.SubmissionWizard.PolicyInfo.UnderwritingTier_Ext"
        required="false"
        value="policyPeriod.UWTier_Ext"
        visible="policyPeriod.BaseState == TC_TX &amp;&amp; typekey.HOPolicyType_HOE.TF_ALLTDPTYPES.TypeKeys.contains(policyPeriod.HomeownersLine_HOE.HOPolicyType)"/>
      <InputDivider
        visible="policyPeriod.BaseState == TC_TX &amp;&amp; typekey.HOPolicyType_HOE.TF_ALLTDPTYPES.TypeKeys.contains(policyPeriod.HomeownersLine_HOE.HOPolicyType)"/>
      <InputSetRef
        def="PreferredCurrencyInputSet(policyPeriod)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>