<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ActivitiesSearchLV">
    <ExposeIterator
      flags="alwaysTrue,canAssignActivity,canSkipActivity,canCompleteActivity"
      valueType="entity.Activity"
      widget="ActivitiesSearchLV"/>
    <Require
      name="activities"
      type="ActivityQuery"/>
    <Require
      name="policyNumber"
      type="String"/>
    <RowIterator
      editable="false"
      elementName="activity"
      hasCheckBoxes="true"
      value="activities">
      <ToolbarFlag
        name="alwaysTrue"/>
      <ToolbarFlag
        condition="activity.canAssign()"
        name="canAssignActivity"/>
      <ToolbarFlag
        condition="activity.canSkip()"
        name="canSkipActivity"/>
      <ToolbarFlag
        condition="activity.canComplete()"
        name="canCompleteActivity"/>
      <Row>
        <Cell
          enableSort="false"
          icon="&quot;new.png&quot;"
          id="UpdatedSinceLastViewed"
          value="activity.UpdatedSinceLastViewed"/>
        <Cell
          icon="&quot;escalated.png&quot;"
          id="Escalated"
          value="activity.Escalated"/>
        <DateCell
          fontColor="activity.Overdue == true ? &quot;Red&quot; : &quot;&quot;"
          id="DueDate"
          label="displaykey.Web.DesktopActivitiesLV.DueDate"
          sortDirection="descending"
          value="activity.TargetDate"/>
        <Cell
          id="Priority"
          label="displaykey.Web.DesktopActivitiesLV.Priority"
          value="activity.Priority"/>
        <Cell
          id="Status"
          label="displaykey.Web.DesktopActivitiesLV.Status"
          value="activity.Status"
          wrap="true"/>
        <Cell
          action="ActivityForward.go(activity, activity.PolicyPeriod)"
          id="Subject"
          label="displaykey.Web.DesktopActivitiesLV.Subject"
          value="activity.Subject"
          width="300"
          wrap="true"/>
        <Cell
          enableSort="false"
          id="SearchResultID"
          label="displaykey.Web.DesktopActivitiesLV.ID"
          value="activity.SearchResultID"/>
        <Cell
          action="AccountFileForward.go(activity.Account)"
          enableSort="false"
          id="Account"
          label="displaykey.Web.DesktopActivitiesLV.Account"
          value="activity.UIDisplayName"
          wrap="true"/>
        <Cell
          id="Product"
          label="displaykey.Web.DesktopActivitiesLV.Product"
          sortBy="activity.Job.Policy.ProductCode"
          value="activity.Job.Policy.Product"
          wrap="true"/>
        <Cell
          id="JobType"
          label="displaykey.Web.DesktopActivitiesLV.Txn"
          value="activity.Job.Subtype"/>
        <Cell
          enableSort="false"
          id="PolicyType"
          label="displaykey.Web.DesktopActivitiesLV.Pty"
          value="getPolicyType(activity.PolicyPeriod)"/>
        <Cell
          enableSort="false"
          id="OrganizationName"
          label="displaykey.Web.DesktopActivitiesLV.Org"
          value="activity.PolicyPeriod.ProducerOfRecord"/>
        <Cell
          enableSort="false"
          id="ProducerCode"
          label="displaykey.Web.DesktopActivitiesLV.Prd"
          value="activity.PolicyPeriod.ProducerCodeOfRecord.Code"/>
        <Cell
          id="SubStatus"
          label="displaykey.Web.DesktopActivitiesLV.Sub"
          value="activity.SubStatus"/>
        <Cell
          id="Description"
          label="displaykey.Web.DesktopActivitiesLV.Des"
          value="activity.Job.Description"/>
        <Cell
          id="AssignedBy"
          label="displaykey.Web.DesktopActivitiesLV.AssignedBy"
          value="activity.AssignedByUser"
          wrap="true"/>
        <Cell
          enableSort="false"
          id="State"
          label="displaykey.Web.DesktopActivitiesLV.State"
          value="activity.UIDisplayState"
          wrap="true"/>
        <Cell
          enableSort="false"
          id="WorkQueue_Ext"
          label="displaykey.Web.DesktopActivitiesLV.WorkQueue_Ext"
          value="activity.AssignedQueue.Name"
          wrap="true"/>
        <Cell
          enableSort="false"
          id="AgentName_Ext"
          label="displaykey.Web.DesktopActivitiesLV.AgentName_Ext"
          value="activity.Account?.ProducerCodes[0]?.ProducerCode.Organization.DisplayName"
          wrap="true"/>
        <Cell
          enableSort="false"
          id="AssignedUserName_Ext"
          label="displaykey.Web.DesktopActivitiesLV.AssignedUserName_Ext"
          value="activity.AssignedUser"
          wrap="true"/>
      </Row>
    </RowIterator>
    <Code><![CDATA[function getPolicyType(period:PolicyPeriod):String
      {
        if(period.HomeownersLine_HOEExists)
          return period.HomeownersLine_HOE.HOPolicyType.DisplayName
        if(period.BOPLineExists)
          return "Business Owners"
        if(period.CPLineExists || period.GLLineExists)
          return "Commercial Package"
        return "None"

      }]]></Code>
  </ListViewPanel>
</PCF>