<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="DocumentTemplateSearchPopup"
    returnType="Template_Ext"
    title="displaykey.Web.TabBar.Search.DocumentTemplates">
    <LocationEntryPoint
      signature="DocumentTemplateSearchPopup()"/>
    <LocationEntryPoint
      signature="DocumentTemplateSearchPopup(account : Account)"/>
    <LocationEntryPoint
      signature="DocumentTemplateSearchPopup(policyPeriod : PolicyPeriod, account : Account)"/>
    <LocationEntryPoint
      signature="DocumentTemplateSearchPopup(symbolNames : java.util.Set&lt;String&gt;)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      name="symbolNames"
      type="java.util.Set&lt;String&gt;"/>
    <Screen
      id="DocumentTemplateSearchScreen">
      <Toolbar>
        <!-- <EditButtons
          editVisible="false"
          updateVisible="false"/> -->
      </Toolbar>
      <SearchPanel
        criteriaName="TemplateSearchCriteria"
        resultCachingEnabled="false"
        resultsName="documentTemplateSearchResultsList"
        search="TemplateSearchCriteria.performSearch(TemplateSearchCriteria)//symbolNames != null ? documentTemplateSearchCriteria.performSearch(symbolNames) : documentTemplateSearchCriteria.performSearch(new gw.document.LocationSymbolProvider(CurrentLocation))//DocTemplateSearchRslt_Ext//"
        searchCriteria="createSearchCriteria()//new DocumentTemplateSearchCriteria()"
        searchOnEnter="false"
        searchResultsType="Template_Ext[]">
        <PanelRef
          def="DocumentTemplateSearchDV(TemplateSearchCriteria)"/>
        <PanelRef
          def="DocumentTemplateSearchResultsLV(documentTemplateSearchResultsList)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar>
            <!-- <EditButtons
              editVisible="false"
              updateVisible="false"/> -->
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
    <Code><![CDATA[uses util.TemplateSearchCriteria

function createSearchCriteria() : TemplateSearchCriteria {
  var rtn = new TemplateSearchCriteria()
  //rtn.State = policyPeriod.BaseState
 // rtn.LobCode = Claim.LOBCode
  rtn.Language=typekey.LanguageType.TC_EN_US
  rtn.effectiveDate = policyPeriod.PeriodStart
  
  return rtn
}]]></Code>
  </Popup>
</PCF>