<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    afterEnter="gw.api.web.PebblesUtil.addWebMessages(CurrentLocation, policyPeriod.PolicyFileMessages)"
    canVisit="perm.PolicyPeriod.view(policyPeriod) and perm.System.pfiledetails"
    id="PolicyFile_BP7LineCoverages"
    parent="PolicyFile(policyPeriod, asOfDate)"
    title="displaykey.Web.Policy.BP7.BusinessownersLine">
    <LocationEntryPoint
      signature="PolicyFile_BP7LineCoverages(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <Variable
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Screen
      id="PolicyFile_BP7Line_Coverages_Screen">
      <Variable
        initialValue="policyPeriod.BP7Line"
        name="line"/>
      <PanelRef
        def="BP7LinePanelSet(line, false, null)"/>
    </Screen>
  </Page>
</PCF>