<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="RuleSearchDetailInputSet"
    mode="uwrule_ext">
    <Require
      name="rule"
      type="Rule_Ext"/>
    <Input
      id="uwIssueType"
      label="displaykey.Accelerator.RulesFramework.UWIssueType"
      value="(rule as UWRule_Ext).UWIssueType"/>
  </InputSet>
</PCF>