<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Page
    canEdit="perm.System.editbusinessruleadmin"
    canVisit="perm.System.viewbusinessruleadmin"
    id="RuleAdmin"
    title="displaykey.Accelerator.RulesFramework.RuleAdminExt">
    <ScreenRef
      def="RuleAdminSearchScreen()"/>
  </Page>
</PCF>