<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ListDetailPanel
    id="RuleSearchResultsLV"
    selectionName="selectedRule"
    selectionType="Rule_Ext">
    <Require
      name="searchResults"
      type="java.util.List&lt;Rule_Ext&gt;"/>
    <Require
      name="uiController"
      type="gw.accelerator.ruleeng.RuleAdminUIController"/>
    <ExposeIterator
      flags="CanCopyRule"
      valueType="Rule_Ext"
      widget="searchResultsLV"/>
    <ListViewPanel
      id="searchResultsLV">
      <RowIterator
        editable="false"
        elementName="rule"
        hasCheckBoxes="true"
        value="searchResults">
        <ToolbarFlag
          name="CanCopyRule"/>
        <Row>
          <TextCell
            id="rulePriority"
            label="displaykey.Accelerator.RulesFramework.Priority"
            numCols="3"
            value="rule.Priority"/>
          <Cell
            action="uiController.editRule(rule)"
            id="ruleClass"
            label="displaykey.Accelerator.RulesFramework.RuleClass"
            value="rule.RuleClass"/>
          <TypeKeyCell
            id="ruleType"
            label="displaykey.Accelerator.RulesFramework.RuleType"
            value="rule.Subtype"/>
          <Cell
            id="entityGraphNode"
            label="displaykey.Accelerator.RulesFramework.EntityGraphNode"
            value="rule.GraphNode.NodeName"/>
          <DateCell
            id="effectiveDate"
            label="displaykey.Accelerator.RulesFramework.RuleEffDate"
            value="rule.EffectiveDate"/>
          <DateCell
            id="expirationDate"
            label="displaykey.Accelerator.RulesFramework.RuleExpDate"
            value="rule.ExpirationDate"/>
          <Cell
            id="ruleJobs"
            label="displaykey.Accelerator.RulesFramework.RuleJob"
            value="rule.JobAbbrevs.join(&quot;, &quot;)"/>
          <Cell
            id="issueType"
            label="displaykey.Accelerator.RulesFramework.UWIssueType"
            value="(rule typeis UWRule_Ext) ? rule.UWIssueType : null"/>
          <Cell
            id="state"
            label="displaykey.Accelerator.RulesFramework.RuleState"
            value="rule.AllJurisdictions ? &quot;All&quot; : rule.Jurisdictions.map(\ j -&gt; j.Jurisdiction.Code).join(&quot;, &quot;)"/>
        </Row>
      </RowIterator>
    </ListViewPanel>
    <CardViewPanel>
      <Card
        id="details"
        title="displaykey.Accelerator.RulesFramework.RuleDetails">
        <DetailViewPanel>
          <InputColumn>
            <TypeKeyInput
              id="ruleType"
              label="displaykey.Accelerator.RulesFramework.RuleType"
              value="selectedRule.Subtype"/>
            <Input
              id="ruleClass"
              label="displaykey.Accelerator.RulesFramework.RuleClass"
              value="selectedRule.RuleClass"/>
            <Input
              id="entityGraphNode"
              label="displaykey.Accelerator.RulesFramework.EntityGraphNode"
              outputConversion="VALUE == null ? &quot;&quot; : VALUE.replace(gw.accelerator.ruleeng.RuleEntityGraphNode.ROOT_NODE_NAME + &quot;.&quot;, &quot;&quot;)"
              value="selectedRule.GraphNodePath"/>
            <InputDivider/>
            <Input
              id="ruleCondition"
              label="displaykey.Accelerator.RulesFramework.RuleCond"
              value="selectedRule.RuleCondition"/>
            <Input
              id="ruleMessage"
              label="displaykey.Accelerator.RulesFramework.RuleMsg"
              value="selectedRule.RuleMessage"/>
            <Input
              id="rulePriority"
              label="displaykey.Accelerator.RulesFramework.Priority"
              value="selectedRule.Priority"/>
            <InputDivider/>
            <Input
              id="policyLine"
              label="displaykey.Accelerator.RulesFramework.PolicyLine"
              value="selectedRule.PolicyLine"/>
            <Input
              id="ruleJob"
              label="displaykey.Accelerator.RulesFramework.RuleJob"
              value="selectedRule.JobAbbrevs.join(&quot;, &quot;)"/>
            <Input
              id="Jurisdictions"
              label="displaykey.Accelerator.RulesFramework.RuleState"
              value="selectedRule.AllJurisdictions ? &quot;All&quot; : selectedRule.Jurisdictions.map(\ j -&gt; j.Jurisdiction.Code).join(&quot;, &quot;)"/>
            <InputDivider
              visible="not (selectedRule typeis AutoupdateRule_Ext)"/>
            <InputSetRef
              def="RuleSearchDetailInputSet(selectedRule)"
              mode="selectedRule.Subtype"/>
          </InputColumn>
        </DetailViewPanel>
      </Card>
    </CardViewPanel>
  </ListDetailPanel>
</PCF>