<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <DetailViewPanel
    id="RuleSearchDV">
    <Require
      name="uiController"
      type="gw.accelerator.ruleeng.RuleAdminUIController"/>
    <Require
      name="searchCriteria"
      type="gw.accelerator.ruleeng.RuleSearchCriteria"/>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        filter="VALUE != typekey.Rule_Ext.TC_RULE_EXT"
        id="ruleType"
        label="displaykey.Accelerator.RulesFramework.RuleType"
        noneSelectedLabel="displaykey.Accelerator.RulesFramework.RuleSearchDV.RuleType.NoneSelected"
        value="searchCriteria.RuleType"/>
      <Input
        editable="true"
        id="ruleClass"
        label="displaykey.Accelerator.RulesFramework.RuleClass"
        value="searchCriteria.RuleClass"/>
      <DateInput
        editable="true"
        id="effectiveDate"
        label="displaykey.Accelerator.RulesFramework.RuleEffDate"
        value="searchCriteria.EffectiveDate"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Accelerator.RulesFramework.RuleAdminExt.GeneralDimensions"/>
      <RangeInput
        editable="true"
        id="ruleJob"
        label="displaykey.Accelerator.RulesFramework.RuleJob"
        value="searchCriteria.RuleJob"
        valueRange="uiController.ruleJobRange()"/>
      <TypeKeyInput
        editable="true"
        id="ruleJurisdiction"
        label="displaykey.Accelerator.RulesFramework.RuleState"
        value="searchCriteria.Jurisdiction"/>
      <InputDivider/>
      <Label
        label="displaykey.Accelerator.RulesFramework.RuleAdminExt.RuleLOBDimensions"/>
      <TypeKeyInput
        editable="true"
        id="vehicleType"
        label="displaykey.Accelerator.RulesFramework.VehicleType"
        value="searchCriteria.VehicleType"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>