<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="AccountFile_Summary_BasicInfoDV">
    <Require
      name="account"
      type="Account"/>
    <Variable
      initialValue="account.AccountHolderContact.PrimaryAddress"
      name="address"/>
    <Variable
      initialValue="contact as Company"
      name="company"
      type="Company"/>
    <Variable
      initialValue="contact"
      name="contact"
      type="Contact"/>
    <InputColumn>
      <Input
        id="AccountNumber"
        label="displaykey.Web.AccountFile.Summary.AccountNumber"
        value="account.AccountNumber"/>
      <Input
        id="Name"
        label="displaykey.Web.AccountFile.Summary.Name"
        value="account.AccountHolderContact.DisplayName"/>
      <Input
        id="AccountStatus"
        label="displaykey.Web.AccountFile.Summary.AccountStatus"
        value="account.AccountStatus"/>
      <Input
        editable="true"
        id="PrimaryLanguage"
        label="displaykey.Web.EditAccount.PrimaryLanguage"
        value="account.PrimaryLanguage"
        visible="gw.api.util.LocaleUtil.getAllLanguages().size() &gt; 1"/>
      <TypeKeyInput
        id="ServiceTier"
        label="displaykey.Web.EditAccount.ServiceTier"
        value="account.ServiceTier"/>
      <Input
        id="PhoneNumber"
        label="displaykey.Web.AccountFile.Summary.PhoneNumber"
        value="account.AccountHolderContact.PrimaryPhoneValue"/>
      <Input
        id="Email"
        label="displaykey.Web.AccountFile.Summary.Email"
        value="account.AccountHolderContact.EmailAddress1"/>
      <Label
        hideIfReadOnly="true"
        label="displaykey.Web.PolicyFile.Summary.PolicyPrimary.Address"/>
      <InputSetRef
        def="AddressShortInputSet(address)"
        hideIfEditable="true"/>
      <Input
        editable="true"
        id="website"
        label="displaykey.Web.ContactDetail.Company.Website"
        value="(account.AccountHolderContact as Company).Website_Ext"
        visible="account.AccountHolderContact typeis Company"/>
      <Input
        editable="true"
        id="preferredcontact"
        label="displaykey.Web.AddressDetail.PreferredContact"
        value="account.AccountHolderContact.PreferredmethodOfContact"/>
      <InputSetRef
        def="AccountCurrencyInputSet(account, address, false)"
        editable="account.Editable"
        id="AccountCurrency"
        visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.AccountFile.Summary.OfficialIDs"
        visible="contact typeis Company"/>
      <InputSetRef
        def="OfficialIDInputSet(account.AccountHolderContact)"
        mode="account.AccountHolderContact.Subtype"/>
      <Input
        id="DUNS"
        label="displaykey.Web.AccountFile.Summary.DUNS"
        value="account.AccountHolderContact.DUNSOfficialID"
        visible="account.AccountHolderContact.DUNSOfficialID != null"/>
      <Input
        id="TUNS"
        label="displaykey.Web.AccountFile.Summary.TUNS"
        value="account.AccountHolderContact.TUNSOfficialID"
        visible="account.AccountHolderContact.TUNSOfficialID != null"/>
      <InputDivider/>
      <InputSet
        visible="account.AccountHolderContact typeis Company">
        <Input
          editable="true"
          id="OrgType"
          label="displaykey.Web.EditAccount.EntityType"
          value="account.AccountOrgType"/>
        <IndustryCodeInput
          domain="&quot;SIC&quot; as IndustryCodeType"
          editable="true"
          id="IndustryCode"
          label="displaykey.Web.EditAccount.IndustryCode"
          pickLocation="IndustryCodeSearchPopup.push(&quot;SIC&quot;)"
          value="account.IndustryCode"/>
        <Input
          editable="true"
          id="DescriptionOfBusiness"
          label="displaykey.Web.EditAccount.DescriptionOfBusiness"
          value="account.BusOpsDesc"/>
        <InputDivider
          visible="account.ProducerCodes.Count != 0"/>
      </InputSet>
      <ListViewInput
        labelAbove="true"
        visible="account.ProducerCodes.Count != 0">
        <Toolbar/>
        <ListViewPanel
          id="AccountPCsLV">
          <RowIterator
            editable="false"
            elementName="apc"
            value="account.ProducerCodes">
            <Row>
              <Cell
                id="code"
                label="displaykey.Web.ProducerSelection.ProducerCode"
                value="apc.ProducerCode.Code"/>
              <Cell
                id="desc"
                label="displaykey.Web.ProducerSelection.ProducerCodeDescription"
                value="apc.ProducerCode.Description"
                width="300"
                wrap="true"/>
              <Cell
                id="AgencyNumber"
                label="displaykey.Ext.Web.Organization.AgencyNumber_Ext"
                value="apc.ProducerCode.Organization.AgenyNumber_Ext"/>
              <Cell
                id="AgencyName"
                label="displaykey.Ext.Web.Organization.AgencyName_Ext"
                value="apc.ProducerCode.Organization.Name"/>
              <Cell
                id="MasterOrganizationName"
                label="displaykey.Ext.Web.Organization.MasterOrgName_Ext"
                value="apc.ProducerCode.Organization.MasterOrganization_Ext"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>