<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="JobGroupRiskAnalysisLV">
    <Require
      name="jobGroup"
      type="JobGroup"/>
    <RowIterator
      editable="false"
      elementName="issue"
      value="uwIssueHistoryAtAcctRiskAnalysis()//new Object[]{}">
      <Row>
        <Cell
          action="JobForward.go( issue.PolicyPeriod.Job )"
          id="PolicyNumber"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.PolicyNumber"
          value="issue.PolicyPeriod.Job.DisplayName"/>
        <Cell
          id="PolicyType"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.PolicyType"
          value="issue.PolicyPeriod.Policy.Product.Name"/>
        <Cell
          id="Description"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.Description"
          value="issue.PolicyPeriod.UWIssuesActiveOnly.firstWhere( \ elt -&gt; elt.IssueKey == issue.IssueKey).ShortDescription"/>
        <Cell
          id="LongDescription"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.DescriptionLong"
          value="issue.PolicyPeriod.UWIssuesActiveOnly.firstWhere( \ elt -&gt; elt.IssueKey == issue.IssueKey).LongDescription"/>
        <Cell
          id="Status"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.Status"
          value="issue.Status"/>
        <Cell
          id="Date"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.Date"
          value="issue.CreateDate"/>
        <Cell
          id="User"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.User"
          value="issue.CreateUser"/>
      </Row>
    </RowIterator>
    <Code><![CDATA[function uwIssueHistoryAtAcctRiskAnalysis() : UWIssueHistory[]{
  var uwIssues : UWIssueHistory[]
  if(jobGroup.Subtype==typekey.JobGroup.TC_SUBMISSIONGROUP){
    return jobGroup?.Jobs?.Policy?.IssueHistories
  }
  return uwIssues
}]]></Code>
  </ListViewPanel>
</PCF>