<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="JobGroupRiskAnalysisLV">
    <Require
      name="jobGroup"
      type="JobGroup"/>
    <RowIterator
      editable="false"
      elementName="issue"
      value="uwIssueHistoryAtAcctRiskAnalysis()//new Object[]{}">
      <Row>
        <!-- <Cell
          action="JobForward.go( issue.PolicyPeriod.Job )"
          id="PolicyNumber"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.PolicyNumber"
          value="issue.PolicyPeriod.Job.DisplayName"/> -->
        <!-- <Cell
          id="PolicyType"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.PolicyType"
          value="issue.PolicyPeriod.Policy.Product.Name"/> -->
        <!-- <Cell
          id="Type"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.Type"
          value="issue.Type"/> -->
        <!-- <Cell
          id="Reason"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.Reason"
          value="issue.Reason"/> -->
        <!-- <Cell
          id="Description"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.Description"
          value="issue.Description"/> -->
        <!-- <Cell
          id="Status"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.Status"
          value="issue.Status"/> -->
        <!-- <Cell
          id="Severity"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.Severity"
          value="issue.Severity"/> -->
        <!-- <Cell
          id="Points"
          label="displaykey.Web.RenewalGroup.RiskAnalysis.RiskPoints"
          value="issue.RiskPoints"/> -->
      </Row>
    </RowIterator>
    <Code><![CDATA[function uwIssueHistoryAtAcctRiskAnalysis() : UWIssueHistory[]{
  var uwIssues : UWIssueHistory[]
  if(jobGroup.Subtype==typekey.JobGroup.TC_SUBMISSIONGROUP){
    print("jobGroup.Jobs.Policy.IssueHistories: "+jobGroup.Jobs.Policy.IssueHistories.length)
    return jobGroup.Jobs.Policy.IssueHistories
  }
  /*if(jobGroup.Subtype==typekey.JobGroup.TC_RENEWALGROUP){
    return jobGroup.Jobs.Policy.IssueHistories.where( \ elt1 ->elt1.PolicyPeriod.Job.Subtype==typekey.Job.TC_RENEWAL )
  }*/
  return uwIssues
}]]></Code>
  </ListViewPanel>
</PCF>