<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.System.viewbulkproducerchange_ext"
    id="BPCMenu"
    title="displaykey.Accelerator.BulkProducerChange.BulkProducerChange">
    <LocationRef
      location="BPCPoliciesMainPage()"/>
    <LocationRef
      location="BPCAccountsMainPage()"/>
    <LocationRef
      location="BPCAllMainPage()"/>
  </LocationGroup>
</PCF>